## Data Frame - wprowadzenie

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math as math
import random as rnd

In [2]:
pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,210,23.0,36,9.0,46,1.0,...,31,10,4,18,3,26,15,2,30,20
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,230,26.0,40,13.0,65,0.0,...,38,13,2,7,3,19,10,8,15,15
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,270,30.0,47,14.0,68,0.0,...,43,14,3,12,4,19,15,8,20,20
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,180,20.0,32,11.0,56,0.0,...,36,12,2,7,3,20,2,8,15,10
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470,220,25.0,38,12.0,59,0.0,...,42,14,3,12,4,20,6,8,15,15
10,Breakfast,Sausage Biscuit (Regular Biscuit),4.1 oz (117 g),430,240,27.0,42,12.0,62,0.0,...,34,11,2,6,2,11,0,0,6,15
11,Breakfast,Sausage Biscuit (Large Biscuit),4.6 oz (131 g),480,280,31.0,48,13.0,65,0.0,...,39,13,3,11,3,11,4,0,8,15
12,Breakfast,Sausage Biscuit with Egg (Regular Biscuit),5.7 oz (163 g),510,290,33.0,50,14.0,71,0.0,...,36,12,2,6,2,18,6,0,10,20
13,Breakfast,Sausage Biscuit with Egg (Large Biscuit),6.2 oz (177 g),570,330,37.0,57,15.0,74,0.0,...,42,14,3,11,3,18,10,0,10,20
14,Breakfast,Sausage Biscuit with Egg Whites (Regular Biscuit),5.9 oz (167 g),460,250,27.0,42,12.0,62,0.0,...,34,11,2,6,3,18,0,0,8,15
15,Breakfast,Sausage Biscuit with Egg Whites (Large Biscuit),6.4 oz (181 g),520,280,32.0,49,13.0,65,0.0,...,40,13,3,11,3,18,4,0,8,15
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,180,20.0,31,8.0,41,0.0,...,41,14,2,6,3,17,0,2,6,15
17,Breakfast,Southern Style Chicken Biscuit (Large Biscuit),5.5 oz (157 g),470,220,24.0,37,9.0,45,0.0,...,46,15,3,11,4,17,4,2,8,15
18,Breakfast,Steak & Egg Biscuit (Regular Biscuit),7.1 oz (201 g),540,290,32.0,49,16.0,78,1.0,...,38,13,2,8,3,25,10,2,20,25
19,Breakfast,"Bacon, Egg & Cheese McGriddles",6.1 oz (174 g),460,190,21.0,32,9.0,44,0.0,...,48,16,2,9,15,19,10,10,20,15
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,140,15.0,24,7.0,34,0.0,...,47,16,2,9,16,20,2,10,15,10
21,Breakfast,Sausage McGriddles,5 oz (141 g),420,200,22.0,34,8.0,40,0.0,...,44,15,2,8,15,11,0,0,8,10
22,Breakfast,"Sausage, Egg & Cheese McGriddles",7.1 oz (201 g),550,280,31.0,48,12.0,61,0.0,...,48,16,2,9,15,20,10,0,20,15
23,Breakfast,"Sausage, Egg & Cheese McGriddles with Egg Whites",7.2 oz (205 g),500,230,26.0,40,10.0,52,0.0,...,46,15,2,9,15,21,2,0,20,10
24,Breakfast,"Bacon, Egg & Cheese Bagel",6.9 oz (197 g),620,280,31.0,48,11.0,56,0.5,...,57,19,3,11,7,30,20,15,20,20
25,Breakfast,"Bacon, Egg & Cheese Bagel with Egg Whites",7.1 oz (201 g),570,230,25.0,39,9.0,45,0.5,...,55,18,3,12,8,30,10,15,20,15
26,Breakfast,"Steak, Egg & Cheese Bagel",8.5 oz (241 g),670,310,35.0,53,13.0,63,1.5,...,56,19,3,12,7,33,20,4,25,25
27,Breakfast,Big Breakfast (Regular Biscuit),9.5 oz (269 g),740,430,48.0,73,17.0,87,0.0,...,51,17,3,12,3,28,15,2,15,25
28,Breakfast,Big Breakfast (Large Biscuit),10 oz (283 g),800,470,52.0,80,18.0,90,0.0,...,56,19,4,17,3,28,15,2,15,30
29,Breakfast,Big Breakfast with Egg Whites (Regular Biscuit),9.6 oz (272 g),640,330,37.0,57,14.0,69,0.0,...,50,17,3,12,3,26,0,2,10,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Coffee & Tea,Frappé Chocolate Chip (Medium),16 fl oz cup,630,240,26.0,41,17.0,85,1.0,...,91,30,1,5,81,9,15,0,30,4
231,Coffee & Tea,Frappé Chocolate Chip (Large),22 fl oz cup,760,280,31.0,48,20.0,101,1.5,...,111,37,1,5,99,12,20,0,35,6
232,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Small),12 fl oz cup,220,5,0.5,1,0.0,0,0.0,...,50,17,3,12,44,2,0,2,6,2
233,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Medium),16 fl oz cup,260,5,1.0,1,0.0,0,0.0,...,62,21,4,15,54,3,0,4,8,2
234,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Large),22 fl oz cup,340,10,1.0,2,0.5,3,0.0,...,79,26,5,19,70,4,0,4,10,2
235,Smoothies & Shakes,Strawberry Banana Smoothie (Small),12 fl oz cup,210,5,0.5,1,0.0,0,0.0,...,47,16,3,10,44,3,0,30,8,2
236,Smoothies & Shakes,Strawberry Banana Smoothie (Medium),16 fl oz cup,250,5,1.0,1,0.0,0,0.0,...,58,19,3,13,54,4,0,35,8,4
237,Smoothies & Shakes,Strawberry Banana Smoothie (Large),22 fl oz cup,330,10,1.0,2,0.5,3,0.0,...,74,25,4,16,70,5,0,45,10,4
238,Smoothies & Shakes,Mango Pineapple Smoothie (Small),12 fl oz cup,210,5,0.5,1,0.0,0,0.0,...,50,17,1,4,46,2,30,20,8,2
239,Smoothies & Shakes,Mango Pineapple Smoothie (Medium),16 fl oz cup,260,10,1.0,1,0.0,0,0.0,...,61,20,1,5,56,3,40,25,8,2
240,Smoothies & Shakes,Mango Pineapple Smoothie (Large),22 fl oz cup,340,10,1.0,2,0.5,3,0.0,...,78,26,2,6,72,4,50,30,10,2
241,Smoothies & Shakes,Vanilla Shake (Small),12 fl oz cup,530,140,15.0,24,10.0,49,1.0,...,86,29,0,0,63,11,20,0,40,0
242,Smoothies & Shakes,Vanilla Shake (Medium),16 fl oz cup,660,170,19.0,29,12.0,61,1.0,...,109,36,0,0,81,14,25,0,50,0
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820,210,23.0,35,15.0,73,1.0,...,135,45,0,0,101,18,30,0,60,0
244,Smoothies & Shakes,Strawberry Shake (Small),12 fl oz cup,550,150,16.0,25,10.0,52,1.0,...,90,30,0,0,79,12,20,0,40,0
245,Smoothies & Shakes,Strawberry Shake (Medium),16 fl oz cup,690,180,20.0,30,13.0,63,1.0,...,114,38,0,0,100,15,25,0,50,0
246,Smoothies & Shakes,Strawberry Shake (Large),22 fl oz cup,850,210,24.0,36,15.0,75,1.0,...,140,47,0,0,123,18,30,0,70,0
247,Smoothies & Shakes,Chocolate Shake (Small),12 fl oz cup,560,150,16.0,25,10.0,51,1.0,...,91,30,1,5,77,12,20,0,40,8
248,Smoothies & Shakes,Chocolate Shake (Medium),16 fl oz cup,700,180,20.0,30,12.0,62,1.0,...,114,38,2,6,97,15,25,0,50,10
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850,210,23.0,36,15.0,74,1.0,...,141,47,2,8,120,19,30,0,60,15
250,Smoothies & Shakes,Shamrock Shake (Medium),16 fl oz cup,660,170,19.0,29,12.0,61,1.0,...,109,36,0,0,93,14,25,0,50,0
251,Smoothies & Shakes,Shamrock Shake (Large),22 fl oz cup,820,210,23.0,35,15.0,73,1.0,...,135,45,0,0,115,18,30,0,60,0
252,Smoothies & Shakes,McFlurry with M&M’s Candies (Small),10.9 oz (310 g),650,210,23.0,35,14.0,72,0.5,...,96,32,1,6,89,13,15,0,45,8
253,Smoothies & Shakes,McFlurry with M&M’s Candies (Medium),16.2 oz (460 g),930,290,33.0,50,20.0,102,1.0,...,139,46,2,7,128,20,25,0,70,10
254,Smoothies & Shakes,McFlurry with M&M’s Candies (Snack),7.3 oz (207 g),430,140,15.0,24,10.0,48,0.0,...,64,21,1,4,59,9,10,0,30,4
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),10.1 oz (285 g),510,150,17.0,26,9.0,44,0.5,...,80,27,1,4,64,12,15,0,40,8
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),13.4 oz (381 g),690,200,23.0,35,12.0,58,1.0,...,106,35,1,5,85,15,20,0,50,10
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,100,11.0,17,6.0,29,0.0,...,53,18,1,2,43,8,10,0,25,6
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,290,32.0,50,15.0,76,1.0,...,114,38,2,9,103,21,20,0,60,6
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),7.1 oz (202 g),410,150,16.0,25,8.0,38,0.0,...,57,19,1,5,51,10,10,0,30,4

In [4]:
mc = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')
mc.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,...,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,...,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,...,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,...,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,...,30,10,4,17,2,21,6,0,25,10

In [5]:
mc.tail()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,...,Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),10.1 oz (285 g),510,150,17.0,26,9.0,44,0.5,...,80,27,1,4,64,12,15,0,40,8
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),13.4 oz (381 g),690,200,23.0,35,12.0,58,1.0,...,106,35,1,5,85,15,20,0,50,10
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,100,11.0,17,6.0,29,0.0,...,53,18,1,2,43,8,10,0,25,6
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,290,32.0,50,15.0,76,1.0,...,114,38,2,9,103,21,20,0,60,6
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),7.1 oz (202 g),410,150,16.0,25,8.0,38,0.0,...,57,19,1,5,51,10,10,0,30,4

In [13]:
mcSelected = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Serving Size', 'Calories', 'Calories from Fat', 'TotalFat'])
mcSelected.head()

,Item,Serving Size,Calories,Calories from Fat,TotalFat
0,Egg McMuffin,4.8 oz (136 g),300,120,13.0
1,Egg White Delight,4.8 oz (135 g),250,70,8.0
2,Sausage McMuffin,3.9 oz (111 g),370,200,23.0
3,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0
4,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0

In [9]:
# dodanie indexu
mcSelected = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Serving Size', 'Calories', 'Calories from Fat', 'TotalFat'], index_col='Item')
mcSelected.head()

,Serving Size,Calories,Calories from Fat,TotalFat
Item,,,,
Egg McMuffin,4.8 oz (136 g),300,120,13.0
Egg White Delight,4.8 oz (135 g),250,70,8.0
Sausage McMuffin,3.9 oz (111 g),370,200,23.0
Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0
Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0

# S03-L001-LAB DataFrame - wprowadzenie

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False. Wyświetl nagłówek tak
utworzonego Data Frame
2. Jeśli chcesz w Jupyter Notebook zobaczyć więcej nazw kolumn zamiast kropeczek należy zmienić opcję
max_columns. Wykonaj polecenie:
pd.options.display.max_columns=500
3. Wyświetl 10 pierwszych 3. pozycji i zwróć uwagę na to ile kolumn posiada ten plik
4. Wyświetl 5 ostatnich wierszy
5. Wczytaj do zmiennej fuel ponownie zawartość pliku fuel.csv, ale tym razem pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'
6. Wyświetl nagłówek data frame fuel. Zauważ jak jest zbudowany indeks
7. Wczytaj do zmiennej fuel ponownie zawartość pliku fuel.csv, ale tym razem pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Jako indeks wybierz
'Vehicle ID'
8. Wyświetl nagłówek data frame fuel. Zauważ jak jest zbudowany indeks

In [31]:
# Do zmiennej fuel wczytaj zawartość pliku paliwo.csv.
# Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False. Wyświetl nagłówek tak
# utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', low_memory=False)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,Engine Cylinders,Engine Displacement,Turbocharger,Supercharger,Fuel Type,Fuel Type 1,Fuel Type 2,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),City Electricity Consumption,City Utility Factor,Highway MPG (FT1),Unrounded Highway MPG (FT1),Highway MPG (FT2),Unrounded Highway MPG (FT2),Highway Gasoline Consumption (CD),Highway Electricity Consumption,Highway Utility Factor,Unadjusted City MPG (FT1),Unadjusted Highway MPG (FT1),Unadjusted City MPG (FT2),Unadjusted Highway MPG (FT2),Combined MPG (FT1),Unrounded Combined MPG (FT1),Combined MPG (FT2),Unrounded Combined MPG (FT2),Combined Electricity Consumption,Combined Gasoline Consumption (CD),Combined Utility Factor,Annual Fuel Cost (FT1),Annual Fuel Cost (FT2),Gas Guzzler Tax,Save or Spend (5 Year),Annual Consumption in Barrels (FT1),Annual Consumption in Barrels (FT2),Tailpipe CO2 (FT1),Tailpipe CO2 in Grams/Mile (FT1),Tailpipe CO2 (FT2),Tailpipe CO2 in Grams/Mile (FT2),Fuel Economy Score,GHG Score,GHG Score (Alt Fuel),My MPG Data,2D Passenger Volume,2D Luggage Volume,4D Passenger Volume,4D Luggage Volume,Hatchback Passenger Volume,Hatchback Luggage Volume,Start Stop Technology,Alternative Fuel/Technology,Electric Motor,Manufacturer Code,Gasoline/Electricity Blended (CD),Vehicle Charger,Alternate Charger,Hours to Charge (120V),Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,34.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,34.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,35.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,35.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,24.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [32]:
fuel

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,Engine Cylinders,Engine Displacement,Turbocharger,Supercharger,Fuel Type,Fuel Type 1,Fuel Type 2,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),City Electricity Consumption,City Utility Factor,Highway MPG (FT1),Unrounded Highway MPG (FT1),Highway MPG (FT2),Unrounded Highway MPG (FT2),Highway Gasoline Consumption (CD),Highway Electricity Consumption,Highway Utility Factor,Unadjusted City MPG (FT1),Unadjusted Highway MPG (FT1),Unadjusted City MPG (FT2),Unadjusted Highway MPG (FT2),Combined MPG (FT1),Unrounded Combined MPG (FT1),Combined MPG (FT2),Unrounded Combined MPG (FT2),Combined Electricity Consumption,Combined Gasoline Consumption (CD),Combined Utility Factor,Annual Fuel Cost (FT1),Annual Fuel Cost (FT2),Gas Guzzler Tax,Save or Spend (5 Year),Annual Consumption in Barrels (FT1),Annual Consumption in Barrels (FT2),Tailpipe CO2 (FT1),Tailpipe CO2 in Grams/Mile (FT1),Tailpipe CO2 (FT2),Tailpipe CO2 in Grams/Mile (FT2),Fuel Economy Score,GHG Score,GHG Score (Alt Fuel),My MPG Data,2D Passenger Volume,2D Luggage Volume,4D Passenger Volume,4D Luggage Volume,Hatchback Passenger Volume,Hatchback Luggage Volume,Start Stop Technology,Alternative Fuel/Technology,Electric Motor,Manufacturer Code,Gasoline/Electricity Blended (CD),Vehicle Charger,Alternate Charger,Hours to Charge (120V),Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,34.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,34.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,25.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0000,35.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,25.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0000,35.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0000,24.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880.0,(FFS) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0000,24.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,16.0000,18.0000,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,16.0000,18.0000,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
9,28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,26.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
10,27591,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1405.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
11,27594,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1504.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
12,28454,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1455.0,(FFS)(SIL) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
13,28456,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1554.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
14,27592,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1420.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,32.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
15,27595,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1514.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
16,28457,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1564.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
17,27585,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1430.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,29.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
18,27588,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,28.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
19,28449,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1480.0,(FFS) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,29.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
20,28451,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
21,27586,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1405.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
22,27589,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1504.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
23,28450,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1455.0,(FFS)(SIL) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
24,28452,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1554.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
25,27587,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1420.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,32.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
26,27590,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1514.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
27,28453,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1564.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
28,26599,1984,Aston Martin,Lagonda,Subcompact Cars,NaN,Automatic 3-Speed,NaN,7001.0,(GUZZLER),8.0,5.3,NaN,NaN,Regular,Regular Gasoline,NaN,8.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0000,14.0000,0.0,0.0,9.0,0.0000,0.0,0.0,0.0,0.0,0.0,3900.0,0.0,T,-12750.0,36.623333,0.0,-1.0,987.444444,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
29,27716,1984,Aston Martin,Lagonda,Subcompact Cars,NaN,Automatic 3-Speed,NaN,7006.0,(GUZZLER) CA model,8.0,5.3,NaN,NaN,Regular,Regular Gasoline,NaN,8.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0000,14.0000,0.0,0.0,9.0,0.0000,0.0,0.0,0.0,0.0,0.0,3900.0,0.0,T,-12750.0,36.623333,0.0,-1.0,987.444444,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31654,31644,2012,MINI,Cooper S Convertible,Minicompact Cars,Front-Wheel Drive,Manual 6-Speed,NaN,21.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.4423,0.0,0.0,0.0,0.0,0.0,34.0,34.4411,0.0,0.0,0.0,0.0,0.0,34.3966,50.0888,0.0,0.0,30.0,29.5283,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,10.987000,0.0,-1.0,296.233333,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,6.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31655,31711,2012,MINI,Cooper S Countryman,Compact Cars,Front-Wheel Drive,Automatic (S6),NaN,34.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.0648,0.0,0.0,0.0,0.0,0.0,31.0,31.4791,0.0,0.0,0.0,0.0,0.0,32.4000,45.3000,0.0,0.0,28.0,27.5951,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31656,31712,2012,MINI,Cooper S Countryman,Compact Cars,Front-Wheel Drive,Manual 6-Speed,NaN,35.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.1013,0.0,0.0,0.0,0.0,0.0,32.0,31.6040,0.0,0.0,0.0,0.0,0.0,33.9000,45.5000,0.0,0.0,28.0,28.3202,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31657,31713,2012,MINI,Cooper S Countryman All4,Compact Cars,All-Wheel Drive,Automatic (S6),NaN,36.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,23.0,23.3858,0.0,0.0,0.0,0.0,0.0,30.0,29.9076,0.0,0.0,0.0,0.0,0.0,30.0000,42.8000,0.0,0.0,26.0,25.9303,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,12.677308,0.0,-1.0,341.807692,-1.0,0.0,-1.0,-1.0,-1.0,Y,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31658,31714,2012,MINI,Cooper S Countryman All4,Compact Cars,All-Wheel Drive,Manual 6-Speed,NaN,37.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.2729,0.0,0.0,0.0,0.0,0.0,30.0,30.4753,0.0,0.0,0.0,0.0,0.0,32.7000,43.7000,0.0,0.0,27.0,27.3759,0.0,0.0,0.0,0.0,0.0,1550.0,0.0,NaN,-1000.0,12.207778,0.0,-1.0,329.148148,-1.0,0.0,-1.0,-1.0,-1.0,Y,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31659,31627,2012,MINI,Cooper S Coupe,Two Seaters,Front-Wheel Drive,Automatic (S6),NaN,44.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.4452,0.0,0.0,0.0,0.0,0.0,33.0,33.0870,0.0,0.0,0.0,0.0,0.0,32.9489,47.8871,0.0,0.0,28.0,28.3965,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31660,31628,2012,MINI,Cooper S Coupe,Two Seaters,Front-Wheel Drive,Manual 6-Speed,NaN,45.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.4423,0.0,0.0,0.0,0.0,0.0,34.0,34.4411,0.0,0.0,0.0,0.0,0.0,34.3966,50.0888,0.0,0.0,30.0,29.5283,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,10.987000,0.0,-1.0,296.233333,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0

In [33]:
# Jeśli chcesz w Jupyter Notebook zobaczyć więcej nazw kolumn zamiast kropeczek należy zmienić opcję max_columns. 
# Wykonaj polecenie: pd.options.display.max_columns=500
pd.options.display.max_columns=500
fuel

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,Engine Cylinders,Engine Displacement,Turbocharger,Supercharger,Fuel Type,Fuel Type 1,Fuel Type 2,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),City Electricity Consumption,City Utility Factor,Highway MPG (FT1),Unrounded Highway MPG (FT1),Highway MPG (FT2),Unrounded Highway MPG (FT2),Highway Gasoline Consumption (CD),Highway Electricity Consumption,Highway Utility Factor,Unadjusted City MPG (FT1),Unadjusted Highway MPG (FT1),Unadjusted City MPG (FT2),Unadjusted Highway MPG (FT2),Combined MPG (FT1),Unrounded Combined MPG (FT1),Combined MPG (FT2),Unrounded Combined MPG (FT2),Combined Electricity Consumption,Combined Gasoline Consumption (CD),Combined Utility Factor,Annual Fuel Cost (FT1),Annual Fuel Cost (FT2),Gas Guzzler Tax,Save or Spend (5 Year),Annual Consumption in Barrels (FT1),Annual Consumption in Barrels (FT2),Tailpipe CO2 (FT1),Tailpipe CO2 in Grams/Mile (FT1),Tailpipe CO2 (FT2),Tailpipe CO2 in Grams/Mile (FT2),Fuel Economy Score,GHG Score,GHG Score (Alt Fuel),My MPG Data,2D Passenger Volume,2D Luggage Volume,4D Passenger Volume,4D Luggage Volume,Hatchback Passenger Volume,Hatchback Luggage Volume,Start Stop Technology,Alternative Fuel/Technology,Electric Motor,Manufacturer Code,Gasoline/Electricity Blended (CD),Vehicle Charger,Alternate Charger,Hours to Charge (120V),Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,34.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,34.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,25.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0000,35.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,25.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0000,35.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0000,24.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880.0,(FFS) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0000,24.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,16.0000,18.0000,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,16.0000,18.0000,0.0,0.0,13.0,0.0000,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
9,28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,26.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
10,27591,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1405.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
11,27594,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1504.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
12,28454,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1455.0,(FFS)(SIL) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
13,28456,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1554.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
14,27592,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1420.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,32.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
15,27595,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1514.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
16,28457,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1564.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
17,27585,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1430.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,29.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
18,27588,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,28.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
19,28449,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1480.0,(FFS) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,21.0000,29.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
20,28451,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
21,27586,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1405.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
22,27589,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1504.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
23,28450,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1455.0,(FFS)(SIL) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,30.0000,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
24,28452,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 4-Speed,NaN,1554.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0,0.0000,0.0,0.0,0.0,0.0,0.0,19.0000,27.0000,0.0,0.0,17.0,0.0000,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
25,27587,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1420.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,19.0,0.0000,0.0,0.0,0.0,0.0,0.0,23.0,0.0000,0.0,0.0,0.0,0.0,0.0,24.0000,32.0000,0.0,0.0,21.0,0.0000,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
26,27590,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1514.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
27,28453,1984,American Motors Corporation,Eagle SX/4 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Manual 5-Speed,NaN,1564.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,16.0,0.0000,0.0,0.0,0.0,0.0,0.0,22.0,0.0000,0.0,0.0,0.0,0.0,0.0,20.0000,30.0000,0.0,0.0,18.0,0.0000,0.0,0.0,0.0,0.0,0.0,1950.0,0.0,NaN,-3000.0,18.311667,0.0,-1.0,493.722222,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
28,26599,1984,Aston Martin,Lagonda,Subcompact Cars,NaN,Automatic 3-Speed,NaN,7001.0,(GUZZLER),8.0,5.3,NaN,NaN,Regular,Regular Gasoline,NaN,8.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0000,14.0000,0.0,0.0,9.0,0.0000,0.0,0.0,0.0,0.0,0.0,3900.0,0.0,T,-12750.0,36.623333,0.0,-1.0,987.444444,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
29,27716,1984,Aston Martin,Lagonda,Subcompact Cars,NaN,Automatic 3-Speed,NaN,7006.0,(GUZZLER) CA model,8.0,5.3,NaN,NaN,Regular,Regular Gasoline,NaN,8.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0,0.0000,0.0,0.0,0.0,0.0,0.0,10.0000,14.0000,0.0,0.0,9.0,0.0000,0.0,0.0,0.0,0.0,0.0,3900.0,0.0,T,-12750.0,36.623333,0.0,-1.0,987.444444,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,9.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31654,31644,2012,MINI,Cooper S Convertible,Minicompact Cars,Front-Wheel Drive,Manual 6-Speed,NaN,21.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.4423,0.0,0.0,0.0,0.0,0.0,34.0,34.4411,0.0,0.0,0.0,0.0,0.0,34.3966,50.0888,0.0,0.0,30.0,29.5283,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,10.987000,0.0,-1.0,296.233333,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,6.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31655,31711,2012,MINI,Cooper S Countryman,Compact Cars,Front-Wheel Drive,Automatic (S6),NaN,34.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.0648,0.0,0.0,0.0,0.0,0.0,31.0,31.4791,0.0,0.0,0.0,0.0,0.0,32.4000,45.3000,0.0,0.0,28.0,27.5951,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31656,31712,2012,MINI,Cooper S Countryman,Compact Cars,Front-Wheel Drive,Manual 6-Speed,NaN,35.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.1013,0.0,0.0,0.0,0.0,0.0,32.0,31.6040,0.0,0.0,0.0,0.0,0.0,33.9000,45.5000,0.0,0.0,28.0,28.3202,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31657,31713,2012,MINI,Cooper S Countryman All4,Compact Cars,All-Wheel Drive,Automatic (S6),NaN,36.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,23.0,23.3858,0.0,0.0,0.0,0.0,0.0,30.0,29.9076,0.0,0.0,0.0,0.0,0.0,30.0000,42.8000,0.0,0.0,26.0,25.9303,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,12.677308,0.0,-1.0,341.807692,-1.0,0.0,-1.0,-1.0,-1.0,Y,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31658,31714,2012,MINI,Cooper S Countryman All4,Compact Cars,All-Wheel Drive,Manual 6-Speed,NaN,37.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.2729,0.0,0.0,0.0,0.0,0.0,30.0,30.4753,0.0,0.0,0.0,0.0,0.0,32.7000,43.7000,0.0,0.0,27.0,27.3759,0.0,0.0,0.0,0.0,0.0,1550.0,0.0,NaN,-1000.0,12.207778,0.0,-1.0,329.148148,-1.0,0.0,-1.0,-1.0,-1.0,Y,0.0,0.0,87.0,16.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31659,31627,2012,MINI,Cooper S Coupe,Two Seaters,Front-Wheel Drive,Automatic (S6),NaN,44.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,25.0,25.4452,0.0,0.0,0.0,0.0,0.0,33.0,33.0870,0.0,0.0,0.0,0.0,0.0,32.9489,47.8871,0.0,0.0,28.0,28.3965,0.0,0.0,0.0,0.0,0.0,1500.0,0.0,NaN,-750.0,11.771786,0.0,-1.0,317.392857,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0
31660,31628,2012,MINI,Cooper S Coupe,Two Seaters,Front-Wheel Drive,Manual 6-Speed,NaN,45.0,SIDI,4.0,1.6,T,NaN,Premium,Premium Gasoline,NaN,26.0,26.4423,0.0,0.0,0.0,0.0,0.0,34.0,34.4411,0.0,0.0,0.0,0.0,0.0,34.3966,50.0888,0.0,0.0,30.0,29.5283,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,10.987000,0.0,-1.0,296.233333,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,BMX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0000,0.0000,NaN,0.0,0.0

In [34]:
# Wyświetl 10 pierwszych 3. pozycji i zwróć uwagę na to ile kolumn posiada ten plik
fuel.head(10)

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,Engine Cylinders,Engine Displacement,Turbocharger,Supercharger,Fuel Type,Fuel Type 1,Fuel Type 2,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),City Electricity Consumption,City Utility Factor,Highway MPG (FT1),Unrounded Highway MPG (FT1),Highway MPG (FT2),Unrounded Highway MPG (FT2),Highway Gasoline Consumption (CD),Highway Electricity Consumption,Highway Utility Factor,Unadjusted City MPG (FT1),Unadjusted Highway MPG (FT1),Unadjusted City MPG (FT2),Unadjusted Highway MPG (FT2),Combined MPG (FT1),Unrounded Combined MPG (FT1),Combined MPG (FT2),Unrounded Combined MPG (FT2),Combined Electricity Consumption,Combined Gasoline Consumption (CD),Combined Utility Factor,Annual Fuel Cost (FT1),Annual Fuel Cost (FT2),Gas Guzzler Tax,Save or Spend (5 Year),Annual Consumption in Barrels (FT1),Annual Consumption in Barrels (FT2),Tailpipe CO2 (FT1),Tailpipe CO2 in Grams/Mile (FT1),Tailpipe CO2 (FT2),Tailpipe CO2 in Grams/Mile (FT2),Fuel Economy Score,GHG Score,GHG Score (Alt Fuel),My MPG Data,2D Passenger Volume,2D Luggage Volume,4D Passenger Volume,4D Luggage Volume,Hatchback Passenger Volume,Hatchback Luggage Volume,Start Stop Technology,Alternative Fuel/Technology,Electric Motor,Manufacturer Code,Gasoline/Electricity Blended (CD),Vehicle Charger,Alternate Charger,Hours to Charge (120V),Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9001.0,(FFS),6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,34.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,NaN,Manual 5-Speed,NaN,9005.0,(FFS) CA model,6.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,17.0,0.0,0.0,0.0,0.0,0.0,0.0,24.0,0.0,0.0,0.0,0.0,0.0,0.0,21.0,34.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,1750.0,0.0,NaN,-2000.0,16.480500,0.0,-1.0,444.350000,-1.0,0.0,-1.0,-1.0,-1.0,N,74.0,7.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9002.0,(FFS),4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,35.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,NaN,Manual 5-Speed,NaN,9006.0,(FFS) CA model,4.0,2.0,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,25.0,0.0,0.0,0.0,0.0,0.0,0.0,23.0,35.0,0.0,0.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1650.0,0.0,NaN,-1500.0,15.695714,0.0,-1.0,423.190476,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1830.0,(FFS),4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,24.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
5,28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1880.0,(FFS) CA model,4.0,2.5,NaN,NaN,Regular,Regular Gasoline,NaN,18.0,0.0,0.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0,24.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
6,27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1831.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,18.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
7,28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,2-Wheel Drive,Automatic 3-Speed,NaN,1881.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,13.0,0.0,0.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,16.0,18.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,0.0,2700.0,0.0,NaN,-6750.0,25.354615,0.0,-1.0,683.615385,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
8,27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1524.0,(FFS),6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0,0.0,0.0,0.0,0.0,0.0,20.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,27.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
9,28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,4-Wheel or All-Wheel Drive,Automatic 3-Speed,NaN,1574.0,(FFS) CA model,6.0,4.2,NaN,NaN,Regular,Regular Gasoline,NaN,15.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,26.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,2050.0,0.0,NaN,-3500.0,19.388824,0.0,-1.0,522.764706,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0

In [35]:
# Wyświetl 5 ostatnich wierszy
fuel.tail()

,Vehicle ID,Year,Make,Model,Class,Drive,Transmission,Transmission Descriptor,Engine Index,Engine Descriptor,Engine Cylinders,Engine Displacement,Turbocharger,Supercharger,Fuel Type,Fuel Type 1,Fuel Type 2,City MPG (FT1),Unrounded City MPG (FT1),City MPG (FT2),Unrounded City MPG (FT2),City Gasoline Consumption (CD),City Electricity Consumption,City Utility Factor,Highway MPG (FT1),Unrounded Highway MPG (FT1),Highway MPG (FT2),Unrounded Highway MPG (FT2),Highway Gasoline Consumption (CD),Highway Electricity Consumption,Highway Utility Factor,Unadjusted City MPG (FT1),Unadjusted Highway MPG (FT1),Unadjusted City MPG (FT2),Unadjusted Highway MPG (FT2),Combined MPG (FT1),Unrounded Combined MPG (FT1),Combined MPG (FT2),Unrounded Combined MPG (FT2),Combined Electricity Consumption,Combined Gasoline Consumption (CD),Combined Utility Factor,Annual Fuel Cost (FT1),Annual Fuel Cost (FT2),Gas Guzzler Tax,Save or Spend (5 Year),Annual Consumption in Barrels (FT1),Annual Consumption in Barrels (FT2),Tailpipe CO2 (FT1),Tailpipe CO2 in Grams/Mile (FT1),Tailpipe CO2 (FT2),Tailpipe CO2 in Grams/Mile (FT2),Fuel Economy Score,GHG Score,GHG Score (Alt Fuel),My MPG Data,2D Passenger Volume,2D Luggage Volume,4D Passenger Volume,4D Luggage Volume,Hatchback Passenger Volume,Hatchback Luggage Volume,Start Stop Technology,Alternative Fuel/Technology,Electric Motor,Manufacturer Code,Gasoline/Electricity Blended (CD),Vehicle Charger,Alternate Charger,Hours to Charge (120V),Hours to Charge (240V),Hours to Charge (AC 240V),Composite City MPG,Composite Highway MPG,Composite Combined MPG,Range (FT1),City Range (FT1),Highway Range (FT1),Range (FT2),City Range (FT2),Highway Range (FT2)
31679,32060,2012,Mitsubishi,Lancer,Compact Cars,Front-Wheel Drive,Manual 5-Speed,NaN,113.0,NaN,4.0,2.4,NaN,NaN,Regular,Regular Gasoline,NaN,22.0,22.4345,0.0,0.0,0.0,0.0,0.0,30.0,30.3872,0.0,0.0,0.0,0.0,0.0,28.6563,43.5600,0.0,0.0,25.0,25.4293,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,13.184400,0.0,-1.0,355.480000,-1.0,0.0,-1.0,-1.0,-1.0,Y,0.0,0.0,93.0,12.0,0.0,0.0,NaN,NaN,NaN,MTX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31680,32063,2012,Mitsubishi,Lancer AWD,Compact Cars,All-Wheel Drive,Auto(AV-S6),NaN,116.0,NaN,4.0,2.4,NaN,NaN,Regular,Regular Gasoline,NaN,22.0,22.2470,0.0,0.0,0.0,0.0,0.0,28.0,28.1929,0.0,0.0,0.0,0.0,0.0,28.3928,40.1036,0.0,0.0,25.0,24.5797,0.0,0.0,0.0,0.0,0.0,1400.0,0.0,NaN,-250.0,13.184400,0.0,-1.0,355.480000,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,93.0,12.0,0.0,0.0,NaN,NaN,NaN,MTX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31681,32065,2012,Mitsubishi,Lancer Evolution,Compact Cars,All-Wheel Drive,Auto(AM6),NaN,132.0,NaN,4.0,2.0,T,NaN,Premium,Premium Gasoline,NaN,17.0,16.6371,0.0,0.0,0.0,0.0,0.0,22.0,22.3129,0.0,0.0,0.0,0.0,0.0,20.7103,31.0983,0.0,0.0,19.0,18.7877,0.0,0.0,0.0,0.0,0.0,2250.0,0.0,NaN,-4500.0,17.347895,0.0,-1.0,467.736842,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,93.0,7.0,0.0,0.0,NaN,NaN,NaN,MTX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31682,32064,2012,Mitsubishi,Lancer Evolution,Compact Cars,All-Wheel Drive,Manual 5-Speed,NaN,131.0,NaN,4.0,2.0,T,NaN,Premium,Premium Gasoline,NaN,17.0,16.8492,0.0,0.0,0.0,0.0,0.0,23.0,22.8303,0.0,0.0,0.0,0.0,0.0,20.9939,31.8761,0.0,0.0,19.0,19.1010,0.0,0.0,0.0,0.0,0.0,2250.0,0.0,NaN,-4500.0,17.347895,0.0,-1.0,467.736842,-1.0,0.0,-1.0,-1.0,-1.0,N,0.0,0.0,93.0,7.0,0.0,0.0,NaN,NaN,NaN,MTX,False,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0
31683,32106,2012,Mitsubish,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# Wczytaj do zmiennej fuel ponownie zawartość pliku fuel.csv, ale tym razem pobierz tylko następujące
# kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'
# Wyświetl nagłówek data frame fuel. Zauważ jak jest zbudowany indeks

fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', 
                   usecols=['Vehicle ID','Year','Make','Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], 
                   low_memory=False)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [38]:
# Wczytaj do zmiennej fuel ponownie zawartość pliku fuel.csv, ale tym razem pobierz tylko następujące
# kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Jako indeks wybierz
# 'Vehicle ID'
# Wyświetl nagłówek data frame fuel. Zauważ jak jest zbudowany indeks
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', 
                   usecols=['Vehicle ID','Year','Make','Model', 'Class', 'Fuel Type', 'Combined MPG (FT1)'], 
                   index_col='Vehicle ID', low_memory=False)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

## Metody i atrybuty Data Frame

In [41]:
mc_series = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Calories'], index_col='Item', squeeze=True)
mc_series.head()

Item
Egg McMuffin                        300
Egg White Delight                   250
Sausage McMuffin                    370
Sausage McMuffin with Egg           450
Sausage McMuffin with Egg Whites    400
Name: Calories, dtype: int64

In [42]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [43]:
len(mc_frame)

260

In [44]:
len(mc_series)

260

In [45]:
mc_frame.count()

Category                         260
Item                             260
Serving Size                     260
Calories                         260
Calories from Fat                260
TotalFat                         260
Total Fat (% Daily Value)        260
Saturated Fat                    260
Saturated Fat (% Daily Value)    260
Trans Fat                        260
Cholesterol                      260
Cholesterol (% Daily Value)      260
Sodium                           260
Sodium (% Daily Value)           260
Carbohydrates                    260
Carbohydrates (% Daily Value)    260
Dietary Fiber                    260
Dietary Fiber (% Daily Value)    260
Sugars                           260
Protein                          260
Vitamin A (% Daily Value)        260
Vitamin C (% Daily Value)        260
Calcium (% Daily Value)          260
Iron (% Daily Value)             260
dtype: int64

In [46]:
mc_series.count()

260

In [48]:
mc_frame.dtypes
# tutaj type = object oznacza napis

Category                          object
Item                              object
Serving Size                      object
Calories                           int64
Calories from Fat                  int64
TotalFat                         float64
Total Fat (% Daily Value)          int64
Saturated Fat                    float64
Saturated Fat (% Daily Value)      int64
Trans Fat                        float64
Cholesterol                        int64
Cholesterol (% Daily Value)        int64
Sodium                             int64
Sodium (% Daily Value)             int64
Carbohydrates                      int64
Carbohydrates (% Daily Value)      int64
Dietary Fiber                      int64
Dietary Fiber (% Daily Value)      int64
Sugars                             int64
Protein                            int64
Vitamin A (% Daily Value)          int64
Vitamin C (% Daily Value)          int64
Calcium (% Daily Value)            int64
Iron (% Daily Value)               int64
dtype: object

In [49]:
mc_series.dtypes

dtype('int64')

In [52]:
mc_series.dtype

dtype('int64')

In [54]:
#zliczenie ile jest kolumn danego typu
mc_frame.get_dtype_counts()

float64     3
int64      18
object      3
dtype: int64

In [55]:
mc_series.get_dtype_counts()

int64    1
dtype: int64

In [58]:
# atrybut shape mówi jaki jest mniej więcej kształt danych - ile wierszy, ile kolumn
# 260 wierszy, 24 kolumny
mc_frame.shape

(260, 24)

In [59]:
mc_series.shape
# 260 wierszy seria ma zawsze tylko 1 kolumnę

(260,)

In [62]:
# arybut axes dla frame mówi jakie są kolumny w pliku
mc_frame.axes

[RangeIndex(start=0, stop=260, step=1),
 Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
        'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
        'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
        'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
        'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
        'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
        'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
        'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
       dtype='object')]

In [61]:
# atrybut axes dla serii mówi co jest indexem
mc_series.axes

[Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
        'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
        'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
        'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
        ...
        'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
        'McFlurry with M&M’s Candies (Small)',
        'McFlurry with M&M’s Candies (Medium)',
        'McFlurry with M&M’s Candies (Snack)',
        'McFlurry with Oreo Cookies (Small)',
        'McFlurry with Oreo Cookies (Medium)',
        'McFlurry with Oreo Cookies (Snack)',
        'McFlurry with Reese's Peanut Butter Cups (Medium)',
        'McFlurry with Reese's Peanut Butter Cups (Snack)'],
       dtype='object', name='Item', length=260)]

In [63]:
mc_frame.index
# index niewskazany, więc nadany automatycznie numeryczny

RangeIndex(start=0, stop=260, step=1)

In [64]:
mc_series.index
# index wskazany jako kolumna Item

Index(['Egg McMuffin', 'Egg White Delight', 'Sausage McMuffin',
       'Sausage McMuffin with Egg', 'Sausage McMuffin with Egg Whites',
       'Steak & Egg McMuffin', 'Bacon, Egg & Cheese Biscuit (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit (Large Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Regular Biscuit)',
       'Bacon, Egg & Cheese Biscuit with Egg Whites (Large Biscuit)',
       ...
       'Shamrock Shake (Medium)', 'Shamrock Shake (Large)',
       'McFlurry with M&M’s Candies (Small)',
       'McFlurry with M&M’s Candies (Medium)',
       'McFlurry with M&M’s Candies (Snack)',
       'McFlurry with Oreo Cookies (Small)',
       'McFlurry with Oreo Cookies (Medium)',
       'McFlurry with Oreo Cookies (Snack)',
       'McFlurry with Reese's Peanut Butter Cups (Medium)',
       'McFlurry with Reese's Peanut Butter Cups (Snack)'],
      dtype='object', name='Item', length=260)

In [65]:
mc_frame.columns

Index(['Category', 'Item', 'Serving Size', 'Calories', 'Calories from Fat',
       'TotalFat', 'Total Fat (% Daily Value)', 'Saturated Fat',
       'Saturated Fat (% Daily Value)', 'Trans Fat', 'Cholesterol',
       'Cholesterol (% Daily Value)', 'Sodium', 'Sodium (% Daily Value)',
       'Carbohydrates', 'Carbohydrates (% Daily Value)', 'Dietary Fiber',
       'Dietary Fiber (% Daily Value)', 'Sugars', 'Protein',
       'Vitamin A (% Daily Value)', 'Vitamin C (% Daily Value)',
       'Calcium (% Daily Value)', 'Iron (% Daily Value)'],
      dtype='object')

In [66]:
mc_series.values
# zwraca pojedynczą kolumną wartości, bo tylko taka jest

array([ 300,  250,  370,  450,  400,  430,  460,  520,  410,  470,  430,
        480,  510,  570,  460,  520,  410,  470,  540,  460,  400,  420,
        550,  500,  620,  570,  670,  740,  800,  640,  690, 1090, 1150,
        990, 1050,  350,  520,  300,  150,  460,  290,  260,  530,  520,
        600,  610,  540,  750,  240,  290,  430,  720,  380,  440,  430,
        430,  500,  510,  350,  670,  510,  610,  450,  750,  590,  430,
        360,  480,  430,  360,  630,  480,  610,  450,  670,  520,  540,
        380,  190,  280,  470,  940, 1880,  390,  140,  380,  220,  140,
        450,  290,  340,  260,  330,  250,  360,  280,  230,  340,  510,
        110,   20,   15,  150,  250,  160,  150,   45,  330,  340,  280,
        140,  200,  280,  100,    0,    0,    0,    0,  140,  190,  270,
        100,    0,    0,    0,    0,  140,  200,  280,  100,  100,  130,
         80,  150,  190,  280,    0,    0,    0,    0,    0,  150,  180,
        220,  110,    0,    0,    0,  170,  210,  280,  270,  340,  430,
        270,  330,  430,  260,  330,  420,  210,  260,  330,  100,  130,
        170,  200,  250,  310,  200,  250,  310,  190,  240,  300,  140,
        170,  220,  340,  410,  500,  270,  330,  390,  320,  390,  480,
        250,  310,  370,  360,  440,  540,  280,  340,  400,  140,  190,
        270,  130,  180,  260,  130,  180,  250,  120,  170,  240,   80,
        120,  160,  290,  350,  480,  240,  290,  390,  280,  340,  460,
        230,  270,  370,  450,  550,  670,  450,  550,  670,  530,  630,
        760,  220,  260,  340,  210,  250,  330,  210,  260,  340,  530,
        660,  820,  550,  690,  850,  560,  700,  850,  660,  820,  650,
        930,  430,  510,  690,  340,  810,  410], dtype=int64)

In [67]:
mc_frame.values
# zwraca kolumnę wartości jako kolejne wiersze danych

array([['Breakfast', 'Egg McMuffin', '4.8 oz (136 g)', ..., 0, 25, 15],
       ['Breakfast', 'Egg White Delight', '4.8 oz (135 g)', ..., 0, 25,
        8],
       ['Breakfast', 'Sausage McMuffin', '3.9 oz (111 g)', ..., 0, 25,
        10],
       ...,
       ['Smoothies & Shakes', 'McFlurry with Oreo Cookies (Snack)',
        '6.7 oz (190 g)', ..., 0, 25, 6],
       ['Smoothies & Shakes',
        "McFlurry with Reese's Peanut Butter Cups (Medium)",
        '14.2 oz (403 g)', ..., 0, 60, 6],
       ['Smoothies & Shakes',
        "McFlurry with Reese's Peanut Butter Cups (Snack)",
        '7.1 oz (202 g)', ..., 0, 30, 4]], dtype=object)

In [69]:
mc_frame.info()
# RangeIndex - jaki index
# Data columns - ile kolumn
# Dla każdej kolumny - ile wartości niezerowych i jakiego typu

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 24 columns):
Category                         260 non-null object
Item                             260 non-null object
Serving Size                     260 non-null object
Calories                         260 non-null int64
Calories from Fat                260 non-null int64
TotalFat                         260 non-null float64
Total Fat (% Daily Value)        260 non-null int64
Saturated Fat                    260 non-null float64
Saturated Fat (% Daily Value)    260 non-null int64
Trans Fat                        260 non-null float64
Cholesterol                      260 non-null int64
Cholesterol (% Daily Value)      260 non-null int64
Sodium                           260 non-null int64
Sodium (% Daily Value)           260 non-null int64
Carbohydrates                    260 non-null int64
Carbohydrates (% Daily Value)    260 non-null int64
Dietary Fiber                    260 non-null int64
Dietary Fiber (% Daily Value)    260 non-null int64
Sugars                           260 non-null int64
Protein                          260 non-null int64
Vitamin A (% Daily Value)        260 non-null int64
Vitamin C (% Daily Value)        260 non-null int64
Calcium (% Daily Value)          260 non-null int64
Iron (% Daily Value)             260 non-null int64
dtypes: float64(3), int64(18), object(3)
memory usage: 48.8+ KB

In [74]:
mc_series.value_counts()

0       16
340     10
430     10
280      9
250      8
140      7
260      7
330      7
450      6
270      6
520      5
100      5
150      5
670      5
190      5
290      5
510      5
480      5
460      5
360      4
390      4
540      4
550      4
130      4
200      4
210      4
240      4
410      4
170      4
220      4
        ..
820      2
660      2
160      2
80       2
850      2
750      2
230      2
45       1
15       1
1880     1
560      1
1050     1
1090     1
590      1
20       1
800      1
600      1
990      1
620      1
1150     1
640      1
320      1
700      1
940      1
720      1
740      1
760      1
930      1
810      1
650      1
Name: Calories, Length: 78, dtype: int64

In [75]:
mc_frame['Calories'].value_counts()

0       16
340     10
430     10
280      9
250      8
140      7
260      7
330      7
450      6
270      6
520      5
100      5
150      5
670      5
190      5
290      5
510      5
480      5
460      5
360      4
390      4
540      4
550      4
130      4
200      4
210      4
240      4
410      4
170      4
220      4
        ..
820      2
660      2
160      2
80       2
850      2
750      2
230      2
45       1
15       1
1880     1
560      1
1050     1
1090     1
590      1
20       1
800      1
600      1
990      1
620      1
1150     1
640      1
320      1
700      1
940      1
720      1
740      1
760      1
930      1
810      1
650      1
Name: Calories, Length: 78, dtype: int64

In [76]:
mc_frame['Category'].value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Beverages             27
Chicken & Fish        27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

In [77]:
# metoda losuje próbkę wyniku
mc_series.sample()

Item
Hazelnut Latte (Large)    430
Name: Calories, dtype: int64

In [78]:
mc_frame.sample()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430,190,21.0,32,10.0,52,1.0,90,30,1040,43,35,12,2,8,7,24,10,2,30,20

In [80]:
# próbka ze wskazaniem jej liczebności
mc_frame.sample(n=3)

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
213,Coffee & Tea,Iced Mocha (Large),22 fl oz cup,480,150,16.0,25,10.0,49,0.5,50,17,220,9,70,23,2,8,62,14,15,0,40,8
168,Coffee & Tea,Nonfat Caramel Latte (Large),20 fl oz cup,310,0,0.5,1,0.0,0,0.0,10,3,180,7,63,21,1,6,59,16,15,0,50,2
65,Chicken & Fish,Southern Style Crispy Chicken Sandwich,5.6 oz (160 g),430,170,19.0,29,3.0,15,0.0,45,14,910,38,43,14,2,7,7,21,4,2,15,15

In [81]:
mc_series.sample(n=3)

Item
Nonfat Latte (Medium)                                130
Premium McWrap Southwest Chicken (Crispy Chicken)    670
Chicken McNuggets (6 piece)                          280
Name: Calories, dtype: int64

In [83]:
# Można losować także próbkę wyniku
mc_frame.sample(n=3, axis="columns").head()

   Protein  Saturated Fat  Cholesterol
0       17            5.0          260
1       18            3.0           25
2       14            8.0           45
3       21           10.0          285
4       21            8.0           50

In [85]:
mc_frame.sample(frac=0.02)

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
193,Coffee & Tea,Hot Chocolate with Nonfat Milk (Small),12 fl oz cup,280,30,3.5,5,2.0,11,0.0,15,5,180,7,50,17,1,3,46,12,15,0,40,6
211,Coffee & Tea,Iced Mocha (Small),12 fl oz cup,290,100,11.0,17,7.0,33,0.0,35,12,125,5,41,14,1,4,34,8,10,0,25,4
104,Desserts,Chocolate Chip Cookie,1 cookie (33 g),160,70,8.0,12,3.5,19,0.0,10,3,90,4,21,7,1,3,15,2,2,0,2,8
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340,100,11.0,17,6.0,29,0.0,30,9,190,8,53,18,1,2,43,8,10,0,25,6
156,Coffee & Tea,Hazelnut Latte (Large),20 fl oz cup,430,120,14.0,21,8.0,39,0.0,40,14,180,8,62,21,1,6,58,15,15,0,50,2

In [86]:
mc_series.sample(frac=0.02)

Item
Coca-Cola Classic (Child)        100
Nonfat Caramel Mocha (Small)     250
Chicken McNuggets (10 piece)     470
Bacon Buffalo Ranch McChicken    430
Steak & Egg McMuffin             430
Name: Calories, dtype: int64

# S03-L002-LAB - Metody i atrybuty Data Frame

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
utworzonego Data Frame
2. Wyświetl podstawowe informacje o obiekcie korzystając z metody info()
3. Wyświetl informację o typach każdej z poszczególnych kolumn
4. Ile razy jest wykorzystywany każdy z typów? Odpowiadając na pytanie skorzystaj z dedykowanej do tego
funkcji.
5. Kolumna 'Make' zawiera informację o producentach samochodów. Wyświetl 10 producentów wraz z informacją
o ilości samochodów tego producenta opisanych w obiekcie frame. Skorzystaj z dedykowanej do tego celu
medody serii danych.
6. Wyświetl informacje o indeksie obiektu fuel
7. Wyświetl informacje o kolumnach obiektu fuel
8. Wyświetl informacje o wartościach obiektu fuel
9. Wyświetl informacje o "osiach" obiektu fuel
10. Wyświetl informacje o "kształcie" obiektu fuel - ile ma wierszy i ile kolumn
11. Porównaj co zwraca metoda count wywołana na rzecz frame, a co zwraca funkcja len

In [87]:
# Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
# Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
# kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
# utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', low_memory=False, usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [88]:
# Wyświetl podstawowe informacje o obiekcie korzystając z metody info()
fuel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31684 entries, 0 to 31683
Data columns (total 7 columns):
Vehicle ID            31684 non-null int64
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(2), object(4)
memory usage: 1.7+ MB

In [89]:
# Wyświetl informację o typach każdej z poszczególnych kolumn
fuel.dtypes

Vehicle ID              int64
Year                    int64
Make                   object
Model                  object
Class                  object
Fuel Type              object
Combined MPG (FT1)    float64
dtype: object

In [91]:
# Ile razy jest wykorzystywany każdy z typów? Odpowiadając na pytanie skorzystaj z dedykowanej do tego
# funkcji.
fuel.get_dtype_counts()

float64    1
int64      2
object     4
dtype: int64

In [93]:
# Kolumna 'Make' zawiera informację o producentach samochodów. Wyświetl 10 producentów wraz z informacją
# o ilości samochodów tego producenta opisanych w obiekcie frame. Skorzystaj z dedykowanej do tego celu
# metody serii danych.
fuel['Make'].value_counts().head(10)

Chevrolet        3389
Ford             2721
Dodge            2361
GMC              2174
Toyota           1599
BMW              1180
Nissan           1082
Mercedes-Benz     948
Mitsubishi        937
Pontiac           893
Name: Make, dtype: int64

In [94]:
# Wyświetl informacje o indeksie obiektu fuel
fuel.index

RangeIndex(start=0, stop=31684, step=1)

In [95]:
# Wyświetl informacje o kolumnach obiektu fuel
fuel.columns

Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
       'Combined MPG (FT1)'],
      dtype='object')

In [96]:
# Wyświetl informacje o wartościach obiektu fuel
fuel.values

array([[26587, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [27705, 1984, 'Alfa Romeo', ..., 'Minicompact Cars', 'Regular',
        20.0],
       [26561, 1984, 'Alfa Romeo', ..., 'Two Seaters', 'Regular', 21.0],
       ...,
       [32065, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32064, 2012, 'Mitsubishi', ..., 'Compact Cars', 'Premium', 19.0],
       [32106, 2012, 'Mitsubish', ..., nan, nan, nan]], dtype=object)

In [97]:
# Wyświetl informacje o "osiach" obiektu fuel
fuel.axes

[RangeIndex(start=0, stop=31684, step=1),
 Index(['Vehicle ID', 'Year', 'Make', 'Model', 'Class', 'Fuel Type',
        'Combined MPG (FT1)'],
       dtype='object')]

In [102]:
# Wyświetl informacje o "kształcie" obiektu fuel - ile ma wierszy i ile kolumn
fuel.shape

(31684, 7)

In [103]:
# Porównaj co zwraca metoda count wywołana na rzecz frame, a co zwraca funkcja len
fuel.count()

Vehicle ID            31684
Year                  31684
Make                  31684
Model                 31683
Class                 31683
Fuel Type             31683
Combined MPG (FT1)    31683
dtype: int64

In [105]:
len(fuel)

31684

## Pobieranie danych z Data Frame oraz obliczenia mean, median, sdt, max, min itp.

In [106]:
mc_series = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Calories'], index_col='Item', squeeze=True)

In [107]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')

In [108]:
type(mc_series)

pandas.core.series.Series

In [109]:
type(mc_frame)

pandas.core.frame.DataFrame

In [110]:
# odwołanie do konkretnej kolumny w data frame:
mc_frame.Calories

0      300
1      250
2      370
3      450
4      400
5      430
6      460
7      520
8      410
9      470
10     430
11     480
12     510
13     570
14     460
15     520
16     410
17     470
18     540
19     460
20     400
21     420
22     550
23     500
24     620
25     570
26     670
27     740
28     800
29     640
      ...
230    630
231    760
232    220
233    260
234    340
235    210
236    250
237    330
238    210
239    260
240    340
241    530
242    660
243    820
244    550
245    690
246    850
247    560
248    700
249    850
250    660
251    820
252    650
253    930
254    430
255    510
256    690
257    340
258    810
259    410
Name: Calories, Length: 260, dtype: int64

In [111]:
mc_frame.Calories.mean()

368.2692307692308

In [112]:
mc_frame.Calories.median()

340.0

In [113]:
mc_frame.Calories.std()

240.26988649145852

In [114]:
mc_frame.Calories.max()

1880

In [115]:
# chcemu ustalić który produkt ma największą kaloryczność, więc szukamy który to index
mc_frame.Calories.idxmax()

82

In [116]:
# następnie szukamy produktu o tym indexie
mc_frame.Item[82]

'Chicken McNuggets (40 piece)'

In [117]:
# można też wywołać w jednym zapytaniu
mc_frame.Item[mc_frame.Calories.idxmax()]

'Chicken McNuggets (40 piece)'

In [118]:
# inny sposób odwołania do kolumny
mc_frame['Calories'].head()

0    300
1    250
2    370
3    450
4    400
Name: Calories, dtype: int64

In [120]:
# odwołanie do pojedynczej wartości w kolumnie (serii)
s = mc_frame['Item']
s[242]

'Vanilla Shake (Medium)'

In [121]:
s.loc[242]

'Vanilla Shake (Medium)'

In [122]:
mc_frame['Item'][242]

'Vanilla Shake (Medium)'

In [123]:
mc_frame.loc[242]
# wszystkie info o wierszu 242

Category                             Smoothies & Shakes
Item                             Vanilla Shake (Medium)
Serving Size                               16 fl oz cup
Calories                                            660
Calories from Fat                                   170
TotalFat                                             19
Total Fat (% Daily Value)                            29
Saturated Fat                                        12
Saturated Fat (% Daily Value)                        61
Trans Fat                                             1
Cholesterol                                          75
Cholesterol (% Daily Value)                          24
Sodium                                              200
Sodium (% Daily Value)                                9
Carbohydrates                                       109
Carbohydrates (% Daily Value)                        36
Dietary Fiber                                         0
Dietary Fiber (% Daily Value)                         0
Sugars                                               81
Protein                                              14
Vitamin A (% Daily Value)                            25
Vitamin C (% Daily Value)                             0
Calcium (% Daily Value)                              50
Iron (% Daily Value)                                  0
Name: 242, dtype: object

In [125]:
mc_frame.loc[242].loc['Item']
# tylko info Item o wierszu 242

'Vanilla Shake (Medium)'

In [126]:
# inny sposób:
mc_frame.loc[242, 'Item']

'Vanilla Shake (Medium)'

In [127]:
# wyświetlenie kilku kolumn
mc_frame[['Item', 'Calories', 'Category']].head()

                               Item  Calories   Category
0                      Egg McMuffin       300  Breakfast
1                 Egg White Delight       250  Breakfast
2                  Sausage McMuffin       370  Breakfast
3         Sausage McMuffin with Egg       450  Breakfast
4  Sausage McMuffin with Egg Whites       400  Breakfast

# LAB - S03-L003 - Pobieranie danych z Data Frame

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
utworzonego Data Frame
2. Wyświetl nagłówek serii zawierającej tylko dane z kolumny Make
3. Korzystając z funkcji wyświetlającej dla serii danych ilościowe informacje o wartościach z kolumny wyświetl 5
najczęściej ocenianych w pliku fuel producentów samochodów (kolumna Make)
4. Wyświetl informacje o samochodzie znajdujacym się na pozycji 1873
5. Wyświetl informacje o ilości mil jakie można przejechać na galonie paliwa (kolumna Combined MPG (FT1))
dla samochodu z pozycji 1873
6. Sprawdź ile najwiecej mil da się przejechać samochodem na jednym galonie paliwa (innymi słowy poszukaj
maksymalnej wartości w kolumnie Combined MPG (FT1))
7. Znajdź indeks opisujący samochód z wynikiem znalezionym w poprzednim punkcie...
8. ...a następnie posiadając ten indeks, wyświetl wszystkie dostępne w zmiennej fuel informacje o tym
samochodzie.
9. Połącz polecenia, które zbudowałeś w 2 poprzednich punktach, tak, aby potrzebna informacja była
uzyskiwana w pojedynczej instrukcji.
10. Utwórz nowy obiekt data frame nazwany shortFuel, który posiada tylko 2 kolumny skopiowane z obiektu fuel:
Make i Model.
11. Wyświetl nagłówek zmiennej shortFuel

In [128]:
# Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
# Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
# kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
# utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [129]:
# Wyświetl nagłówek serii zawierającej tylko dane z kolumny Make
fuel['Make'].head()

0    Alfa Romeo
1    Alfa Romeo
2    Alfa Romeo
3    Alfa Romeo
4    AM General
Name: Make, dtype: object

In [131]:
# Korzystając z funkcji wyświetlającej dla serii danych ilościowe informacje o wartościach z kolumny wyświetl 5
# najczęściej ocenianych w pliku fuel producentów samochodów (kolumna Make)
fuel.Make.value_counts().head()

Chevrolet    3389
Ford         2721
Dodge        2361
GMC          2174
Toyota       1599
Name: Make, dtype: int64

In [136]:
# Wyświetl informacje o samochodzie znajdujacym się na pozycji 1873
fuel.loc[1873]

Vehicle ID                      26784
Year                             1984
Make                       Volkswagen
Model                           Jetta
Class                 Subcompact Cars
Fuel Type                     Regular
Combined MPG (FT1)                 23
Name: 1873, dtype: object

In [137]:
# Wyświetl informacje o ilości mil jakie można przejechać na galonie paliwa (kolumna Combined MPG (FT1))
# dla samochodu z pozycji 1873
fuel.loc[1873,'Combined MPG (FT1)']

23.0

In [138]:
# Sprawdź ile najwiecej mil da się przejechać samochodem na jednym galonie paliwa (innymi słowy poszukaj
# maksymalnej wartości w kolumnie Combined MPG (FT1))
fuel['Combined MPG (FT1)'].max()

112.0

In [139]:
# Znajdź indeks opisujący samochód z wynikiem znalezionym w poprzednim punkcie...
fuel['Combined MPG (FT1)'].idxmax()

31674

In [142]:
# ...a następnie posiadając ten indeks, wyświetl wszystkie dostępne w zmiennej fuel informacje o tym
# samochodzie
fuel.loc[31674]

Vehicle ID                      31673
Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31674, dtype: object

In [143]:
# Połącz polecenia, które zbudowałeś w 2 poprzednich punktach, tak, aby potrzebna informacja była
# uzyskiwana w pojedynczej instrukcji.
fuel.loc[fuel['Combined MPG (FT1)'].idxmax()]

Vehicle ID                      31673
Year                             2012
Make                       Mitsubishi
Model                          i-MiEV
Class                 Subcompact Cars
Fuel Type                 Electricity
Combined MPG (FT1)                112
Name: 31674, dtype: object

In [145]:
# Utwórz nowy obiekt data frame nazwany shortFuel, który posiada tylko 2 kolumny skopiowane z obiektu fuel:
# Make i Model.
# Wyświetl nagłówek zmiennej shortFuel
shortFuel = fuel[['Make', 'Model']]
shortFuel.head()

         Make               Model
0  Alfa Romeo           GT V6 2.5
1  Alfa Romeo           GT V6 2.5
2  Alfa Romeo  Spider Veloce 2000
3  Alfa Romeo  Spider Veloce 2000
4  AM General   DJ Po Vehicle 2WD

## Dodawanie kolumn do Data Frame

In [146]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Category', 'Calories', 'TotalFat', 'Sugars', 'Protein', 'Cholesterol'])
mc_frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein
0,Breakfast,Egg McMuffin,300,13.0,260,3,17
1,Breakfast,Egg White Delight,250,8.0,25,3,18
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21

In [147]:
# utworzenie i dodanie nowej kolumny SugarAndFat
SugarAndFat = mc_frame.Sugars + mc_frame.TotalFat

In [148]:
mc_frame['SugarAndFat'] = SugarAndFat

In [149]:
mc_frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,25.0

In [158]:
# utworzenie i dodanie nowej kolumny SugarAndProtein
mc_frame['SugarAndProtein'] = mc_frame.Sugars + mc_frame.Protein
mc_frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,25.0,23

In [162]:
# utworzenie i dodanie nowej kolumny, wraz z podaniej, że ma to być kolumna nr 2 o nazwie SFP (sugar fat protein)
mc_frame.insert(loc=2, column='SFP', value = mc_frame.SugarAndFat + mc_frame.Protein)
mc_frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat,SugarAndProtein
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,16.0,20
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,11.0,21
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,25.0,16
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,30.0,23
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,25.0,23

## Usuwanie kolumn z Data Frame

In [165]:
# usuwanie istniejącej kolumny "SFP"
del mc_frame['SFP']

In [166]:
mc_frame.head()

,Category,Item,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,400,23.0,50,2,21,25.0

In [164]:
# usuwanie istniejacej kolumny 'SugarAndProtein' - polecenie drop
mc_frame = mc_frame.drop(columns='SugarAndProtein')
mc_frame.head()

,Category,Item,SFP,Calories,TotalFat,Cholesterol,Sugars,Protein,SugarAndFat
0,Breakfast,Egg McMuffin,33.0,300,13.0,260,3,17,16.0
1,Breakfast,Egg White Delight,29.0,250,8.0,25,3,18,11.0
2,Breakfast,Sausage McMuffin,39.0,370,23.0,45,2,14,25.0
3,Breakfast,Sausage McMuffin with Egg,51.0,450,28.0,285,2,21,30.0
4,Breakfast,Sausage McMuffin with Egg Whites,46.0,400,23.0,50,2,21,25.0

# LAB - S03-L004 - Dodawanie i usuwanie kolumn

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
utworzonego Data Frame
2. Kolumna 'Combined MPG (FT1)' zawiera informację o tym ile mil można przejechać na jednym galonie
paliwa. My chcemy zobaczyć ile kilometrów można przejechać na jednym litrze. 1 mila = 1.609 km. 1 galon =
3.78 litra. Dodaj do obiektu fuel nową kolumnę o nazwie 'Combined KPL', która wyzanczona będzie wzorem
'Combined MPG (FT1)' * 1.609 / 3.78
3. Upewnij się, że kolumna została dodana wyświetlając nagłówek obiektu fuel
4. Dodaj do obiektu fuel na 5-tej pozycji (liczymy od zera) kolumnę nazwaną 'liters per km', która dla każdego
samochodu wyznaczy spalanie w litrach na 100 km. Skorzystaj ze wzoru 100 / 'Combined KPL'
5. Upewnij się, że kolumna została dodana wyświetlając nagłówek obiektu fuel
6. Znasz dwie metody na usuwanie kolumn. Wybraną przez siebie metodą usuń kolumnę 'Combined MPG
(FT1)'
7. Upewnij się, że kolumna została usunięta wyświetlając nagłówek
8. Korzystając z innej niż w pkt. 6 metody usuń również kolumnę Combined KPL
9. Upewnij się, że kolumna została usunięta wyświetlając nagłówek

In [167]:
# Do zmiennej fuel wczytaj zawartość pliku fuel.csv.
# Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko następujące
# kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl nagłówek tak
# utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [170]:
# Kolumna 'Combined MPG (FT1)' zawiera informację o tym ile mil można przejechać na jednym galonie
# paliwa. My chcemy zobaczyć ile kilometrów można przejechać na jednym litrze. 1 mila = 1.609 km. 1 galon =
# 3.78 litra. Dodaj do obiektu fuel nową kolumnę o nazwie 'Combined KPL', która wyzanczona będzie wzorem
# 'Combined MPG (FT1)' * 1.609 / 3.78
# Upewnij się, że kolumna została dodana wyświetlając nagłówek obiektu fuel
fuel.insert(loc=7, column='Combined KPL', value = fuel['Combined MPG (FT1)'] * 1.609 / 3.78)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,7.236243

In [171]:
# Dodaj do obiektu fuel na 5-tej pozycji (liczymy od zera) kolumnę nazwaną 'liters per km', która dla każdego
# samochodu wyznaczy spalanie w litrach na 100 km. Skorzystaj ze wzoru 100 / 'Combined KPL'
# Upewnij się, że kolumna została dodana wyświetlając nagłówek obiektu fuel
fuel.insert(loc=5, column='liters per km', value= 100 / fuel['Combined KPL'])
fuel.head()

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined MPG (FT1),Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,20.0,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,21.0,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,17.0,7.236243

In [172]:
# Znasz dwie metody na usuwanie kolumn. Wybraną przez siebie metodą usuń kolumnę 'Combined MPG
# (FT1)'
# Upewnij się, że kolumna została usunięta wyświetlając nagłówek
del fuel['Combined MPG (FT1)']
fuel.head()

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type,Combined KPL
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular,8.513228
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular,8.938889
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular,7.236243

In [176]:
# Korzystając z innej niż w pkt. 6 metody usuń również kolumnę Combined KPL
# Upewnij się, że kolumna została usunięta wyświetlając nagłówek
fuel.drop(columns='Combined KPL', inplace=True)
fuel.head()

,Vehicle ID,Year,Make,Model,Class,liters per km,Fuel Type
0,26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular
1,27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,11.746426,Regular
2,26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular
3,27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,11.187073,Regular
4,27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,13.819325,Regular

## Oczyszczanie danych

## 1. Metoda dropna()

In [179]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [180]:
# Ponieważ dane są zbyt "ładne" chcemy je trochę popsuć. Dodajemy w 2 miejsca wartość NaN, tak, jakbyśmy tych danych
# fakktycznie nie mieli.
mc_frame.loc[1, 'Calories'] = np.NaN
mc_frame.loc[2, 'TotalFat'] = np.NaN

In [181]:
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),NaN,70,8.0,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,200,NaN,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [182]:
# Użycie dropna sposoduje usunięcie wierszy 1 i 2, bo występuje w nich NaN:
mc_frame.dropna()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,210,23.0,36,9.0,46,1.0,300,100,960,40,31,10,4,18,3,26,15,2,30,20
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,230,26.0,40,13.0,65,0.0,250,83,1300,54,38,13,2,7,3,19,10,8,15,15
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520.0,270,30.0,47,14.0,68,0.0,250,83,1410,59,43,14,3,12,4,19,15,8,20,20
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410.0,180,20.0,32,11.0,56,0.0,35,11,1300,54,36,12,2,7,3,20,2,8,15,10
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470.0,220,25.0,38,12.0,59,0.0,35,11,1420,59,42,14,3,12,4,20,6,8,15,15
10,Breakfast,Sausage Biscuit (Regular Biscuit),4.1 oz (117 g),430.0,240,27.0,42,12.0,62,0.0,30,10,1080,45,34,11,2,6,2,11,0,0,6,15
11,Breakfast,Sausage Biscuit (Large Biscuit),4.6 oz (131 g),480.0,280,31.0,48,13.0,65,0.0,30,10,1190,50,39,13,3,11,3,11,4,0,8,15
12,Breakfast,Sausage Biscuit with Egg (Regular Biscuit),5.7 oz (163 g),510.0,290,33.0,50,14.0,71,0.0,250,83,1170,49,36,12,2,6,2,18,6,0,10,20
13,Breakfast,Sausage Biscuit with Egg (Large Biscuit),6.2 oz (177 g),570.0,330,37.0,57,15.0,74,0.0,250,83,1280,53,42,14,3,11,3,18,10,0,10,20
14,Breakfast,Sausage Biscuit with Egg Whites (Regular Biscuit),5.9 oz (167 g),460.0,250,27.0,42,12.0,62,0.0,35,11,1180,49,34,11,2,6,3,18,0,0,8,15
15,Breakfast,Sausage Biscuit with Egg Whites (Large Biscuit),6.4 oz (181 g),520.0,280,32.0,49,13.0,65,0.0,35,11,1290,54,40,13,3,11,3,18,4,0,8,15
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410.0,180,20.0,31,8.0,41,0.0,30,10,1180,49,41,14,2,6,3,17,0,2,6,15
17,Breakfast,Southern Style Chicken Biscuit (Large Biscuit),5.5 oz (157 g),470.0,220,24.0,37,9.0,45,0.0,30,10,1290,54,46,15,3,11,4,17,4,2,8,15
18,Breakfast,Steak & Egg Biscuit (Regular Biscuit),7.1 oz (201 g),540.0,290,32.0,49,16.0,78,1.0,280,93,1470,61,38,13,2,8,3,25,10,2,20,25
19,Breakfast,"Bacon, Egg & Cheese McGriddles",6.1 oz (174 g),460.0,190,21.0,32,9.0,44,0.0,250,84,1250,52,48,16,2,9,15,19,10,10,20,15
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400.0,140,15.0,24,7.0,34,0.0,35,11,1250,52,47,16,2,9,16,20,2,10,15,10
21,Breakfast,Sausage McGriddles,5 oz (141 g),420.0,200,22.0,34,8.0,40,0.0,35,11,1030,43,44,15,2,8,15,11,0,0,8,10
22,Breakfast,"Sausage, Egg & Cheese McGriddles",7.1 oz (201 g),550.0,280,31.0,48,12.0,61,0.0,265,89,1320,55,48,16,2,9,15,20,10,0,20,15
23,Breakfast,"Sausage, Egg & Cheese McGriddles with Egg Whites",7.2 oz (205 g),500.0,230,26.0,40,10.0,52,0.0,50,17,1320,55,46,15,2,9,15,21,2,0,20,10
24,Breakfast,"Bacon, Egg & Cheese Bagel",6.9 oz (197 g),620.0,280,31.0,48,11.0,56,0.5,275,92,1480,62,57,19,3,11,7,30,20,15,20,20
25,Breakfast,"Bacon, Egg & Cheese Bagel with Egg Whites",7.1 oz (201 g),570.0,230,25.0,39,9.0,45,0.5,60,20,1480,62,55,18,3,12,8,30,10,15,20,15
26,Breakfast,"Steak, Egg & Cheese Bagel",8.5 oz (241 g),670.0,310,35.0,53,13.0,63,1.5,295,99,1510,63,56,19,3,12,7,33,20,4,25,25
27,Breakfast,Big Breakfast (Regular Biscuit),9.5 oz (269 g),740.0,430,48.0,73,17.0,87,0.0,555,185,1560,65,51,17,3,12,3,28,15,2,15,25
28,Breakfast,Big Breakfast (Large Biscuit),10 oz (283 g),800.0,470,52.0,80,18.0,90,0.0,555,185,1680,70,56,19,4,17,3,28,15,2,15,30
29,Breakfast,Big Breakfast with Egg Whites (Regular Biscuit),9.6 oz (272 g),640.0,330,37.0,57,14.0,69,0.0,35,12,1590,66,50,17,3,12,3,26,0,2,10,15
30,Breakfast,Big Breakfast with Egg Whites (Large Biscuit),10.1 oz (286 g),690.0,370,41.0,63,14.0,72,0.0,35,12,1700,71,55,18,4,17,4,26,4,2,10,15
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090.0,510,56.0,87,19.0,96,0.0,575,192,2150,90,111,37,6,23,17,36,15,2,25,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Coffee & Tea,Frappé Chocolate Chip (Medium),16 fl oz cup,630.0,240,26.0,41,17.0,85,1.0,80,26,160,7,91,30,1,5,81,9,15,0,30,4
231,Coffee & Tea,Frappé Chocolate Chip (Large),22 fl oz cup,760.0,280,31.0,48,20.0,101,1.5,95,32,200,8,111,37,1,5,99,12,20,0,35,6
232,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Small),12 fl oz cup,220.0,5,0.5,1,0.0,0,0.0,5,1,40,2,50,17,3,12,44,2,0,2,6,2
233,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Medium),16 fl oz cup,260.0,5,1.0,1,0.0,0,0.0,5,1,50,2,62,21,4,15,54,3,0,4,8,2
234,Smoothies & Shakes,Blueberry Pomegranate Smoothie (Large),22 fl oz cup,340.0,10,1.0,2,0.5,3,0.0,5,2,65,3,79,26,5,19,70,4,0,4,10,2
235,Smoothies & Shakes,Strawberry Banana Smoothie (Small),12 fl oz cup,210.0,5,0.5,1,0.0,0,0.0,5,1,50,2,47,16,3,10,44,3,0,30,8,2
236,Smoothies & Shakes,Strawberry Banana Smoothie (Medium),16 fl oz cup,250.0,5,1.0,1,0.0,0,0.0,5,1,60,2,58,19,3,13,54,4,0,35,8,4
237,Smoothies & Shakes,Strawberry Banana Smoothie (Large),22 fl oz cup,330.0,10,1.0,2,0.5,3,0.0,5,2,80,3,74,25,4,16,70,5,0,45,10,4
238,Smoothies & Shakes,Mango Pineapple Smoothie (Small),12 fl oz cup,210.0,5,0.5,1,0.0,0,0.0,5,1,40,2,50,17,1,4,46,2,30,20,8,2
239,Smoothies & Shakes,Mango Pineapple Smoothie (Medium),16 fl oz cup,260.0,10,1.0,1,0.0,0,0.0,5,1,45,2,61,20,1,5,56,3,40,25,8,2
240,Smoothies & Shakes,Mango Pineapple Smoothie (Large),22 fl oz cup,340.0,10,1.0,2,0.5,3,0.0,5,2,60,3,78,26,2,6,72,4,50,30,10,2
241,Smoothies & Shakes,Vanilla Shake (Small),12 fl oz cup,530.0,140,15.0,24,10.0,49,1.0,60,20,160,7,86,29,0,0,63,11,20,0,40,0
242,Smoothies & Shakes,Vanilla Shake (Medium),16 fl oz cup,660.0,170,19.0,29,12.0,61,1.0,75,24,200,9,109,36,0,0,81,14,25,0,50,0
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820.0,210,23.0,35,15.0,73,1.0,90,29,260,11,135,45,0,0,101,18,30,0,60,0
244,Smoothies & Shakes,Strawberry Shake (Small),12 fl oz cup,550.0,150,16.0,25,10.0,52,1.0,60,21,160,7,90,30,0,0,79,12,20,0,40,0
245,Smoothies & Shakes,Strawberry Shake (Medium),16 fl oz cup,690.0,180,20.0,30,13.0,63,1.0,75,25,210,9,114,38,0,0,100,15,25,0,50,0
246,Smoothies & Shakes,Strawberry Shake (Large),22 fl oz cup,850.0,210,24.0,36,15.0,75,1.0,90,30,260,11,140,47,0,0,123,18,30,0,70,0
247,Smoothies & Shakes,Chocolate Shake (Small),12 fl oz cup,560.0,150,16.0,25,10.0,51,1.0,60,20,240,10,91,30,1,5,77,12,20,0,40,8
248,Smoothies & Shakes,Chocolate Shake (Medium),16 fl oz cup,700.0,180,20.0,30,12.0,62,1.0,75,24,300,13,114,38,2,6,97,15,25,0,50,10
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850.0,210,23.0,36,15.0,74,1.0,85,29,380,16,141,47,2,8,120,19,30,0,60,15
250,Smoothies & Shakes,Shamrock Shake (Medium),16 fl oz cup,660.0,170,19.0,29,12.0,61,1.0,75,24,210,9,109,36,0,0,93,14,25,0,50,0
251,Smoothies & Shakes,Shamrock Shake (Large),22 fl oz cup,820.0,210,23.0,35,15.0,73,1.0,90,29,260,11,135,45,0,0,115,18,30,0,60,0
252,Smoothies & Shakes,McFlurry with M&M’s Candies (Small),10.9 oz (310 g),650.0,210,23.0,35,14.0,72,0.5,50,17,180,7,96,32,1,6,89,13,15,0,45,8
253,Smoothies & Shakes,McFlurry with M&M’s Candies (Medium),16.2 oz (460 g),930.0,290,33.0,50,20.0,102,1.0,75,25,260,11,139,46,2,7,128,20,25,0,70,10
254,Smoothies & Shakes,McFlurry with M&M’s Candies (Snack),7.3 oz (207 g),430.0,140,15.0,24,10.0,48,0.0,35,11,120,5,64,21,1,4,59,9,10,0,30,4
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),10.1 oz (285 g),510.0,150,17.0,26,9.0,44,0.5,45,14,280,12,80,27,1,4,64,12,15,0,40,8
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),13.4 oz (381 g),690.0,200,23.0,35,12.0,58,1.0,55,19,380,16,106,35,1,5,85,15,20,0,50,10
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),6.7 oz (190 g),340.0,100,11.0,17,6.0,29,0.0,30,9,190,8,53,18,1,2,43,8,10,0,25,6
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810.0,290,32.0,50,15.0,76,1.0,60,20,400,17,114,38,2,9,103,21,20,0,60,6
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),7.1 oz (202 g),410.0,150,16.0,25,8.0,38,0.0,30,10,200,8,57,19,1,5,51,10,10,0,30,4

In [184]:
# How = any ozn, że jeśli znajduje się chociaż 1 wartość niewypełniona (NaN), to wiersz należy wyrzucić
# How = all ozn, że tylko jeśli wszystkie wartości nie wypełnione, to wiersz należy wyrzucić
mc_frame.dropna(how='all')
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),NaN,70,8.0,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,200,NaN,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [191]:
# Subset ozn. Listę kolumn na które polecenie drop ma popatrzeć aby podjąć decyzję czy wiersz ma być usunięty czy nie
mc_frame.dropna(how='any', subset=['Calories', 'TotalFat']).head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,210,23.0,36,9.0,46,1.0,300,100,960,40,31,10,4,18,3,26,15,2,30,20
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,230,26.0,40,13.0,65,0.0,250,83,1300,54,38,13,2,7,3,19,10,8,15,15

In [192]:
# usunięcie wierszy 1, 2 bo zawierają NaN
mc_frame.dropna(axis='rows').head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,210,23.0,36,9.0,46,1.0,300,100,960,40,31,10,4,18,3,26,15,2,30,20
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,230,26.0,40,13.0,65,0.0,250,83,1300,54,38,13,2,7,3,19,10,8,15,15

In [193]:
# usunięcie kolumn Calories, TotalFat bo zawierają NaN
mc_frame.dropna(axis='columns').head()

,Category,Item,Serving Size,Calories from Fat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),120,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),70,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),200,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),250,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),210,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

# LAB - S03-L005-LAB Oczyszczanie danych - dropna()

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Indeksem
ma być kolumna Vehicle ID Wyświetl nagłówek tak utworzonego Data Frame
2. Wykonaj poniższe polecenia, żeby wprowadzić 2. nowe wartości NaN do pierwszych wierszy zmiennej fuel
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN
3. Wyświetl nagłówek fuel żeby upewnić się, że wiersze rzeczywiście zawierają wartości NaN
4. Oczyść dane stosując standardowe parametry polecenia dropna()
5. Oczyść dane, usuwając kolumny zawierające chociaż jedną wartość NaN
6. Oczyść dane, usuwając wiersze, które w kolumnie Class mają chociaż jedną wartość NaN
7. Wyświetl nagłówek oryginalnego obiektu fuel. Upewnij się, że wiersze i kolumny zawierające wartości NaN
nadal są obecne w zmiennej fuel
8. Oczyść dane tak jak w pkt. 6, ale tym razem zmiany mają być wykonane w oryginalnej zmiennej fuel
9. Wyświetl nagłówek oryginalnego obiektu fuel. Upewnij się, że wiersze zawierające w kolumnie Class wartość
NaN rzeczywiście zostały usunięte

In [194]:
# Do zmiennej fuel wczytaj zawartość pliku fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu 
# low_memory=False, pobierz tylko następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. 
# Indeksem ma być kolumna Vehicle ID Wyświetl nagłówek tak utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', index_col='Vehicle ID',
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], 
                   low_memory=False)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [195]:
# Wykonaj poniższe polecenia, żeby wprowadzić 2. nowe wartości NaN do pierwszych wierszy zmiennej fuel
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN

In [196]:
# Wyświetl nagłówek fuel żeby upewnić się, że wiersze rzeczywiście zawierają wartości NaN
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [198]:
# Oczyść dane stosując standardowe parametry polecenia dropna()
fuel.dropna().head(10)

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
27593,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
28455,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
27591,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,20.0
27594,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,17.0
28454,1984,American Motors Corporation,Eagle 4WD,Special Purpose Vehicle 4WD,Regular,20.0

In [200]:
# Oczyść dane, usuwając kolumny zawierające chociaż jedną wartość NaN
fuel.dropna(how='any', axis='columns').head()

            Year        Make
Vehicle ID
26587       1984  Alfa Romeo
27705       1984  Alfa Romeo
26561       1984  Alfa Romeo
27681       1984  Alfa Romeo
27550       1984  AM General

In [201]:
# Oczyść dane, usuwając wiersze, które w kolumnie Class mają chociaż jedną wartość NaN
fuel.dropna(how='any', subset=['Class']).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [202]:
# Wyświetl nagłówek oryginalnego obiektu fuel. Upewnij się, że wiersze i kolumny zawierające wartości NaN
# nadal są obecne w zmiennej fuel
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [203]:
# Oczyść dane tak jak w pkt. 6, ale tym razem zmiany mają być wykonane w oryginalnej zmiennej fuel
# Wyświetl nagłówek oryginalnego obiektu fuel. Upewnij się, że wiersze zawierające w kolumnie Class wartość
# NaN rzeczywiście zostały usunięte
fuel.dropna(how='any', subset=['Class'], inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

## Metoda fillna()

In [204]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv')
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,8.0,12,3.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,8.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [206]:
# Chcemy trochę "popsuć" dane:
mc_frame.loc[1, 'TotalFat'] = np.NaN
mc_frame.loc[1, 'Saturated Fat'] = np.NaN
mc_frame.loc[2, 'Saturated Fat'] = np.NaN
mc_frame.loc[3, 'Category'] = np.NaN

In [207]:
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,NaN,12,NaN,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [208]:
# Value = jaką wstawić wartość w miejsce gdzie aktualnie, żadnej wartości nie ma
mc_frame.fillna(value='Brak_danych').head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13,20,5,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,Brak_danych,12,Brak_danych,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23,35,Brak_danych,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,Brak_danych,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28,43,10,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23,35,8,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [210]:
# Jeśli chcemy różne kolumny z wartością NaN uzupełniać różnymi nowymi wartościami, to najlepiej utworzyć słownik, w którym zdefiniujemy, 
# które kolumny jak mają być zamieniane:
replaceDictionary = {
   'Category' : 'UNKNOWN',
    'TotalFat' : 1000,
    'Saturated Fat' : 2000
}

mc_frame.fillna(replaceDictionary).head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,1000.0,12,2000.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,2000.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [212]:
# Czyszczenie pojedynczej kolumny + trwałe zapisanie -> inplace
mc_frame['Category'].fillna(value='UNKNOWN', inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,NaN,12,NaN,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [213]:
mc_frame['TotalFat'].fillna(value=1000, inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,1000.0,12,NaN,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,NaN,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [214]:
mc_frame['Saturated Fat'].fillna(value=2000, inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.0,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,1000.0,12,2000.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.0,35,2000.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,UNKNOWN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.0,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.0,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [215]:
# Ponieważ plik jest już oczyszczony, to psujemy jeszcze raz. 
# Chcemy brakujące wartości uzupełnić wartością średnią (lub medianą, itp)
mc_frame.loc[1, 'TotalFat'] = np.NaN
mc_frame.loc[1, 'Saturated Fat'] = np.NaN
mc_frame.loc[2, 'Saturated Fat'] = np.NaN
mc_frame.loc[3, 'Category'] = np.NaN

In [216]:
avgTotalFat = mc_frame.TotalFat.mean()
avgTotalFat

14.18918918918919

In [218]:
# Chcemy wypełnić wyłącznie kolumnę TotalFat
mc_frame.TotalFat.fillna(avgTotalFat, inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.000000,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,14.189189,12,NaN,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.000000,35,NaN,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.000000,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.000000,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

In [219]:
# Method – pozwala na skorzystanie z gotowej metody np. ffill = forward fill czyli wstawienia wartości z poprzedniego wiersza. 
# Ale żeby to miało jakiś sens, dobrze wcześniej dane chociażby posortować (tutaj przykład bez sortowania).
mc_frame['Saturated Fat'].fillna(method='ffill', inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,Calories from Fat,TotalFat,Total Fat (% Daily Value),Saturated Fat,Saturated Fat (% Daily Value),Trans Fat,Cholesterol,Cholesterol (% Daily Value),Sodium,Sodium (% Daily Value),Carbohydrates,Carbohydrates (% Daily Value),Dietary Fiber,Dietary Fiber (% Daily Value),Sugars,Protein,Vitamin A (% Daily Value),Vitamin C (% Daily Value),Calcium (% Daily Value),Iron (% Daily Value)
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,120,13.000000,20,5.0,25,0.0,260,87,750,31,31,10,4,17,3,17,10,0,25,15
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,70,14.189189,12,5.0,15,0.0,25,8,770,32,30,10,4,17,3,18,6,0,25,8
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,200,23.000000,35,5.0,42,0.0,45,15,780,33,29,10,4,17,2,14,8,0,25,10
3,NaN,Sausage McMuffin with Egg,5.7 oz (161 g),450,250,28.000000,43,10.0,52,0.0,285,95,860,36,30,10,4,17,2,21,15,0,30,15
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,210,23.000000,35,8.0,42,0.0,50,16,880,37,30,10,4,17,2,21,6,0,25,10

# LAB - S03-L005-LAB Oczyszczanie danych - fillna()

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl
nagłówek tak utworzonego Data Frame
2. Wykonaj poniższe polecenia, żeby wprowadzić 2. nowe wartości NaN do pierwszych wierszy zmiennej fuel
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN
fuel.loc[27705, 'Combined MPG (FT1)'] = np.NaN
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN
3. Wyświetl nagłówek fuel żeby upewnić się, że wiersze rzeczywiście zawierają wartości NaN
4. Zamień wszystkie występujące w obiekcie fuel wartości na -1. Zmodyfikowane dane mają być wyświetlone na
ekranie (wystarczy 5 pierwszych wierszy)
5. Utwórz słownik o nazwie replaceRules, który uda się wykorzystać do zamiany wartości wg następującej
reguły:
w kolumnie 'Class' brakujące wartości należy uzupełnić przez '---',
w kolumnie 'Fuel Type' brakujące wartości należy uzupełnić przez '---',
w kolumnie 'Combined MPG (FT1)' brakujące wartości należy uzupełnić przez -1
6. Zamień brakujące wartości w obiekcie fuel korzystając z reguł zapisanych w zmiennej replaceRules.
Zmodyfikowane dane mają być wyświetlone na ekranie (wystarczy 5 pierwszych wierszy)
7. Oblicz średnią wartość z kolumny 'Combined MPG (FT1)' i zapisz ją w zmiennej avgMPG. Wyświetl wartość
tej zmiennej
8. Korzystając z metody pozwalającej na usuwanie wartości NaN z data frame, kolumna po kolumnie zamień
NaN wg zasad opisanych poniżej, a potem wyświetl obiekt fuel (wystarczy nagłówek):
NaN w kolumnie 'Class' na '?'
NaN w kolumnie 'Fuel Type na '?'
NaN w kolumnie 'Combined MPG (FT1)' na wartość wyzanaczoną w avgMPG
9. Uruchom ponownie kod z pkt. 2, żeby na nowo wprowadzić wartości NaN
10. Korzystając z jednej z automatycznych metod uzupełniania wartości, uzupełnij kolumnę 'Combined MPG
(FT1)' poprzednią nie-nullową wartością z tej kolumny. Wyświetl nagłówek oczyszczonych danych

In [223]:
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False, index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [239]:
# Wykonaj poniższe polecenia, żeby wprowadzić 2. nowe wartości NaN do pierwszych wierszy zmiennej fuel
fuel.loc[27705, 'Class'] = np.NaN
fuel.loc[26561, 'Class'] = np.NaN
fuel.loc[27550, 'Fuel Type'] = np.NaN
fuel.loc[27705, 'Combined MPG (FT1)'] = np.NaN
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN

In [225]:
# Wyświetl nagłówek fuel żeby upewnić się, że wiersze rzeczywiście zawierają wartości NaN
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [227]:
# Zamień wszystkie występujące w obiekcie fuel wartości na -1. Zmodyfikowane dane mają być wyświetlone na
# ekranie (wystarczy 5 pierwszych wierszy)
fuel.fillna(value=-1).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,-1,Regular,-1.0
26561,1984,Alfa Romeo,Spider Veloce 2000,-1,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,-1.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,-1,17.0

In [228]:
# Utwórz słownik o nazwie replaceRules, który uda się wykorzystać do zamiany wartości
replaceRules = {
    'Class' : '---',
    'Fuel Type' : '---',
    'Combined MPG (FT1)' : -1
}

In [230]:
# Zamień brakujące wartości w obiekcie fuel korzystając z reguł zapisanych w zmiennej replaceRules.
# Zmodyfikowane dane mają być wyświetlone na ekranie (wystarczy 5 pierwszych wierszy)
fuel.fillna(replaceRules).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,---,Regular,-1.0
26561,1984,Alfa Romeo,Spider Veloce 2000,---,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,-1.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,---,17.0

In [231]:
# Oblicz średnią wartość z kolumny 'Combined MPG (FT1)' i zapisz ją w zmiennej avgMPG. Wyświetl wartość
# tej zmiennej
avgMPG = fuel['Combined MPG (FT1)'].mean()
avgMPG

19.444177898424922

In [238]:
# Korzystając z metody pozwalającej na usuwanie wartości NaN z data frame, kolumna po kolumnie zamień
# NaN wg zasad opisanych poniżej, a potem wyświetl obiekt fuel (wystarczy nagłówek):

# NaN w kolumnie 'Class' na '?'
# NaN w kolumnie 'Fuel Type na '?'
# NaN w kolumnie 'Combined MPG (FT1)' na wartość wyzanaczoną w avgMPG

fuel['Class'].fillna(value='?', inplace=True)
fuel['Fuel Type'].fillna(value='?', inplace=True)
fuel['Combined MPG (FT1)'].fillna(value=avgMPG, inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.000000
27705,1984,Alfa Romeo,GT V6 2.5,?,Regular,19.444178
26561,1984,Alfa Romeo,Spider Veloce 2000,?,Regular,21.000000
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,19.444178
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,?,17.000000

In [240]:
# Uruchom ponownie kod z pkt. 2, żeby na nowo wprowadzić wartości NaN
# Korzystając z jednej z automatycznych metod uzupełniania wartości, uzupełnij kolumnę 'Combined MPG
# (FT1)' poprzednią nie-nullową wartością z tej kolumny. Wyświetl nagłówek oczyszczonych danych
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

In [241]:
fuel['Combined MPG (FT1)'].fillna(method='ffill', inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,NaN,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,NaN,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,NaN,17.0

## Sortowanie Data Frame

In [248]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols=['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [249]:
mc_frame.sort_values(by='Calories', ascending=False).head()

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0

In [250]:
# Chcemy sprawdzić zachowanie metody sort_values z danymi NaN, wiec dane trzeba trochę zepsuć.
# Ponieważ Calories są typu int, a typu int nie można zamienić na NaN, to zamieniamy najpierw na float -> konwersja danych.
mc_frame['Calories'] = mc_frame['Calories'].astype(float)
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [251]:
mc_frame.loc[82, 'Calories'] = np.NaN
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250.0,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [252]:
mc_frame.loc[82]

Category                      Chicken & Fish
Item            Chicken McNuggets (40 piece)
Serving Size                 22.8 oz (646 g)
Calories                                 NaN
TotalFat                                 118
Name: 82, dtype: object

In [253]:
# chcemy posortować po kolumnie w której występuje wartość NaN
mc_frame.sort_values(by='Calories').tail()

,Category,Item,Serving Size,Calories,TotalFat
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990.0,46.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050.0,50.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090.0,56.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150.0,60.0
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0

In [254]:
# NaN wyświetla się jako ostatni bo domyślnie parametr na_position jest ustawiony na last. Można to zmienić:
mc_frame.sort_values(by='Calories', na_position='first').head()

,Category,Item,Serving Size,Calories,TotalFat
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),NaN,118.0
114,Beverages,Diet Coke (Small),16 fl oz cup,0.0,0.0
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0.0,0.0
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0.0,0.0
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0.0,0.0

In [258]:
# Sortowanie po dwóch kolumnach
mc_frame.sort_values(by=['Category', 'Item']).head(20)

,Category,Item,Serving Size,Calories,TotalFat
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720.0,40.0
53,Beef & Pork,Bacon McDouble,5.7 oz (161 g),440.0,22.0
42,Beef & Pork,Big Mac,7.4 oz (211 g),530.0,27.0
49,Beef & Pork,Cheeseburger,4 oz (113 g),290.0,11.0
54,Beef & Pork,Daily Double,6.7 oz (190 g),430.0,22.0
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430.0,21.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750.0,43.0
48,Beef & Pork,Hamburger,3.5 oz (98 g),240.0,8.0
55,Beef & Pork,Jalapeño Double,5.6 oz (159 g),430.0,23.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380.0,17.0
56,Beef & Pork,McRib,7.3 oz (208 g),500.0,26.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540.0,27.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600.0,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610.0,31.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520.0,26.0
130,Beverages,1% Low Fat Milk Jug,1 carton (236 ml),100.0,2.5
113,Beverages,Coca-Cola Classic (Child),12 fl oz cup,100.0,0.0
112,Beverages,Coca-Cola Classic (Large),30 fl oz cup,280.0,0.0
111,Beverages,Coca-Cola Classic (Medium),21 fl oz cup,200.0,0.0
110,Beverages,Coca-Cola Classic (Small),16 fl oz cup,140.0,0.0

In [259]:
# Chcemy aby jedna kolumna była sortowana rosnąco, druga malejąco
mc_frame.sort_values(by=['Category', 'Item'], ascending=[True, False]).head(20)

,Category,Item,Serving Size,Calories,TotalFat
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520.0,26.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610.0,31.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600.0,29.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540.0,27.0
56,Beef & Pork,McRib,7.3 oz (208 g),500.0,26.0
52,Beef & Pork,McDouble,5.2 oz (147 g),380.0,17.0
55,Beef & Pork,Jalapeño Double,5.6 oz (159 g),430.0,23.0
48,Beef & Pork,Hamburger,3.5 oz (98 g),240.0,8.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750.0,43.0
50,Beef & Pork,Double Cheeseburger,5.7 oz (161 g),430.0,21.0
54,Beef & Pork,Daily Double,6.7 oz (190 g),430.0,22.0
49,Beef & Pork,Cheeseburger,4 oz (113 g),290.0,11.0
42,Beef & Pork,Big Mac,7.4 oz (211 g),530.0,27.0
53,Beef & Pork,Bacon McDouble,5.7 oz (161 g),440.0,22.0
51,Beef & Pork,Bacon Clubhouse Burger,9.5 oz (270 g),720.0,40.0
126,Beverages,Sprite (Small),16 fl oz cup,140.0,0.0
127,Beverages,Sprite (Medium),21 fl oz cup,200.0,0.0
128,Beverages,Sprite (Large),30 fl oz cup,280.0,0.0
129,Beverages,Sprite (Child),12 fl oz cup,100.0,0.0
133,Beverages,Minute Maid Orange Juice (Small),12 fl oz cup,150.0,0.0

In [261]:
# Sortowanie po indexie, wczytujemy plik jeszcze raz i ustawiamy index na Item
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', usecols=['Item', 'Calories', 'Category', 'Serving Size', 'TotalFat'], index_col='Item')

In [263]:
mc_frame.sort_index().head(10)

,Category,Serving Size,Calories,TotalFat
Item,,,,
1% Low Fat Milk Jug,Beverages,1 carton (236 ml),100,2.5
Apple Slices,Snacks & Sides,1.2 oz (34 g),15,0.0
Bacon Buffalo Ranch McChicken,Chicken & Fish,5.7 oz (161 g),430,21.0
Bacon Cheddar McChicken,Chicken & Fish,6 oz (171 g),480,24.0
Bacon Clubhouse Burger,Beef & Pork,9.5 oz (270 g),720,40.0
Bacon Clubhouse Crispy Chicken Sandwich,Chicken & Fish,10 oz (284 g),750,38.0
Bacon Clubhouse Grilled Chicken Sandwich,Chicken & Fish,9.5 oz (270 g),590,25.0
Bacon McDouble,Beef & Pork,5.7 oz (161 g),440,22.0
"Bacon, Egg & Cheese Bagel",Breakfast,6.9 oz (197 g),620,31.0
"Bacon, Egg & Cheese Bagel with Egg Whites",Breakfast,7.1 oz (201 g),570,25.0

# LAB - S03-L007-LAB Sortowanie data frame

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl
nagłówek tak utworzonego Data Frame
2. Wykonaj poniższe polecenia, żeby wprowadzić nowe wartości NaN do pierwszych wierszy zmiennej fuel
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN
3. Wyświetl nagłówek fuel 3. żeby upewnić się, że wiersze rzeczywiście zawierają wartości NaN
4. Posortuj fuel rosnąco wg 'Make','Model'. Wyświetl początkowe 5 wierszy
5. Posortuj fuel malejąco wg 'Combined MPG (FT1)', wyświetl początkowych 5 wierszy
6. Posortuj fuel wg 'Make','Combined MPG (FT1)'. Piewsza kolumna ma być sortowana rosnąca, ale druga -
malejąco. Wyświetl nagłówek
7. Posortuj fuel rosnąco wg kolumny 'Combined MPG (FT1)' tak, aby wartość NaN była na początku. Wyświetl
nagłówek
8. Ponownie wykonaj poprzedni punkt, ale tym razem sortowanie ma się odbyć w oryginalnym obiekcie. Wyświetl
nagłówek
9. Posortuj fuel rosnąco wg indeksu. Wyświetl nagłówek.

In [268]:
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', 
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], low_memory=False,
                  index_col='Vehicle ID')
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [269]:
fuel.loc[27681, 'Combined MPG (FT1)'] = np.NaN
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [270]:
# Posortuj fuel rosnąco wg 'Make','Model'. Wyświetl początkowe 5 wierszy
fuel.sort_values(by=['Make', 'Model']).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0

In [271]:
# Posortuj fuel malejąco wg 'Combined MPG (FT1)', wyświetl początkowych 5 wierszy
fuel.sort_values(by='Combined MPG (FT1)', ascending=False).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
31673,2012,Mitsubishi,i-MiEV,Subcompact Cars,Electricity,112.0
32278,2012,Ford,Focus Electric,Compact Cars,Electricity,105.0
32276,2011,BMW,Active E,Subcompact Cars,Electricity,102.0
30979,2011,Nissan,Leaf,Midsize Cars,Electricity,99.0
30978,2008,MINI,MiniE,Minicompact Cars,Electricity,98.0

In [272]:
# Posortuj fuel wg 'Make','Combined MPG (FT1)'. Piewsza kolumna ma być sortowana rosnąca, ale druga -
# malejąco. Wyświetl nagłówek
fuel.sort_values(by=['Make','Combined MPG (FT1)'], ascending=[True, False]).head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
28426,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0
1032,1985,AM General,Post Office DJ5 2WD,Special Purpose Vehicle 2WD,Regular,16.0
27549,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0
28425,1984,AM General,FJ8c Post Office,Special Purpose Vehicle 2WD,Regular,13.0

In [273]:
# Posortuj fuel rosnąco wg kolumny 'Combined MPG (FT1)' tak, aby wartość NaN była na początku. Wyświetl nagłówek
fuel.sort_values(by='Combined MPG (FT1)', na_position='first').head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [276]:
# Ponownie wykonaj poprzedni punkt, ale tym razem sortowanie ma się odbyć w oryginalnym obiekcie. Wyświetl nagłówek
fuel.sort_values(by='Combined MPG (FT1)', na_position='first', inplace=True)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,NaN
32106,2012,Mitsubish,NaN,NaN,NaN,NaN
2914,1987,Lamborghini,Countach,Two Seaters,Premium,7.0
6413,1990,Lamborghini,Countach,Two Seaters,Premium,7.0
5267,1989,Lamborghini,Countach,Two Seaters,Premium,7.0

In [277]:
#  Posortuj fuel rosnąco wg indeksu. Wyświetl nagłówek
fuel.sort_index().head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
1,1985,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
2,1985,Bertone,X1/9,Two Seaters,Regular,22.0
3,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
4,1985,Chevrolet,Corvette,Two Seaters,Regular,17.0
5,1985,Nissan,300ZX,Two Seaters,Regular,16.0

## Kontrola i optymalizacja typów

In [278]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols = ['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [279]:
mc_frame.dtypes
# object = napis

Category         object
Item             object
Serving Size     object
Calories          int64
TotalFat        float64
dtype: object

In [280]:
mc_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    260 non-null object
Calories        260 non-null int64
TotalFat        260 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 10.2+ KB

In [281]:
# dokladne sprawdzenie ile pamięci zajmuje data frame -> należy dodać parametr memory_usage='deep'
mc_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    260 non-null object
Calories        260 non-null int64
TotalFat        260 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 61.6 KB

In [283]:
# wstawiamy NaN do kolumny typu int
mc_frame.loc[2, 'Serving Size'] = np.NaN
mc_frame.loc[1, 'Calories'] = np.NaN
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),NaN,8.0
2,Breakfast,Sausage McMuffin,NaN,370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [284]:
mc_frame.info(memory_usage='deep')
# nastąpiła zmiana typu z int na float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        259 non-null float64
TotalFat        260 non-null float64
dtypes: float64(2), object(3)
memory usage: 61.6 KB

In [298]:
# chcemy wycofać tę zmianę i powrócić do int -> najpierw NaN zastępujemy zerem, potem konwersja do int
mc_frame['Calories'].fillna(value=0, inplace=True)
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),0.0,8.0
2,Breakfast,Sausage McMuffin,NaN,370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [299]:
mc_frame['Calories'].astype('int').head()

0    300
1      0
2    370
3    450
4    400
Name: Calories, dtype: int32

In [297]:
mc_frame.head()
# ale oryginalna kolumna nie zmieniła się, a inplace jest tutaj niedostępne

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300.0,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),0.0,8.0
2,Breakfast,Sausage McMuffin,NaN,370.0,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0

In [301]:
# żeby zamienić w data frame, trzeba zastąpić kolumnę nową kolumną
mc_frame['Calories'] = mc_frame['Calories'].astype('int')
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),0,8.0
2,Breakfast,Sausage McMuffin,NaN,370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [302]:
mc_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null object
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: float64(1), int32(1), object(3)
memory usage: 60.6 KB

## Optymalizacja pamięci

In [303]:
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),0,8.0
2,Breakfast,Sausage McMuffin,NaN,370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [304]:
# Wartości Category powtarzają się. Ile razy:
mc_frame.Category.value_counts()

Coffee & Tea          95
Breakfast             42
Smoothies & Shakes    28
Beverages             27
Chicken & Fish        27
Beef & Pork           15
Snacks & Sides        13
Desserts               7
Salads                 6
Name: Category, dtype: int64

In [305]:
# Można użyć konwersji do typu category i zasąpić tę kolumnę nową kolumną:
mc_frame['Category'] = mc_frame['Category'].astype('category')
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),0,8.0
2,Breakfast,Sausage McMuffin,NaN,370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [306]:
# Wizuwalnie nic się nie zmieniło, ale po sprawdzeniu kolumna jest już innego typu i zajmuje mniej pamięci:
mc_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260 entries, 0 to 259
Data columns (total 5 columns):
Category        260 non-null category
Item            260 non-null object
Serving Size    259 non-null object
Calories        260 non-null int32
TotalFat        260 non-null float64
dtypes: category(1), float64(1), int32(1), object(2)
memory usage: 44.2 KB

# LAB - S03-L008-LAB Kontrola i optymalizacja typów danych

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'. Wyświetl
nagłówek tak utworzonego Data Frame
2. Wyświetl informację o kolumnach (wykorzystywane typy, ilość obiektów nienullowych, dokładna informacja o
pamięci)
3. Skonwertuj kolumnę Year do typu int. Ponownie wyświetl informację o typach kolumn i użyciu pamięci
4. Sprawdź ile razy powtarzają się wartości w kolumnie Make
5. Zmień typ kolumny Make na category i ponownie wyświetl informację o pamięci konsumowanej przez ten typ
6. Powtórz kroki 4-5 dla kolumn: Model, Class, 'Fuel Type', 'Combined MPG (FT1)'
7. Porównaj rozmiar obiektu fuel na początku (krok 2) i na końcu (krok 6) - czy różnica jest wyraźna?

In [308]:
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', 
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)'], 
                   index_col='Vehicle ID', low_memory=False)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1)
Vehicle ID,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0

In [309]:
# Wyświetl informację o kolumnach (wykorzystywane typy, ilość obiektów nienullowych, dokładna informacja o pamięci)
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [311]:
# Skonwertuj kolumnę Year do typu int. Ponownie wyświetl informację o typach kolumn i użyciu pamięci
fuel['Year'].astype('int')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null object
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: float64(1), int64(1), object(4)
memory usage: 8.9 MB

In [312]:
# Sprawdź ile razy powtarzają się wartości w kolumnie Make
fuel['Make'].value_counts()

Chevrolet                             3389
Ford                                  2721
Dodge                                 2361
GMC                                   2174
Toyota                                1599
BMW                                   1180
Nissan                                1082
Mercedes-Benz                          948
Mitsubishi                             937
Pontiac                                893
Volkswagen                             859
Mazda                                  841
Honda                                  752
Subaru                                 708
Audi                                   688
Jeep                                   685
Chrysler                               647
Volvo                                  645
Mercury                                609
Buick                                  543
Porsche                                543
Plymouth                               526
Suzuki                                 478
Hyundai                                464
Oldsmobile                             462
Isuzu                                  434
Saab                                   416
Cadillac                               376
Kia                                    309
Saturn                                 278
                                      ...
Red Shift Ltd.                           2
Avanti Motor Corporation                 2
Goldacre                                 1
Excalibur Autos                          1
Import Foreign Auto Sales Inc            1
London Coach Co Inc                      1
Aurora Cars Ltd                          1
London Taxi                              1
Environmental Rsch and Devp Corp         1
ASC Incorporated                         1
McLaren Automotive                       1
Superior Coaches Div E.p. Dutton         1
BYD                                      1
JBA Motorcars, Inc.                      1
Lambda Control Systems                   1
Volga Associated Automobile              1
E. P. Dutton, Inc.                       1
Grumman Allied Industries                1
General Motors                           1
Fisker                                   1
Panos                                    1
Shelby                                   1
Vixen Motor Company                      1
Qvale                                    1
Isis Imports Ltd                         1
Mitsubish                                1
S and S Coach Company  E.p. Dutton       1
Mahindra                                 1
CODA Automotive                          1
Panoz Auto-Development                   1
Name: Make, Length: 128, dtype: int64

In [313]:
# Zmień typ kolumny Make na category i ponownie wyświetl informację o pamięci konsumowanej przez ten typ
fuel['Make'] = fuel['Make'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null object
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(1), float64(1), int64(1), object(3)
memory usage: 7.1 MB

In [314]:
# Powtórz kroki 4-5 dla kolumn: Model, Class, 'Fuel Type', 'Combined MPG (FT1)'
# Porównaj rozmiar obiektu fuel na początku (krok 2) i na końcu (krok 6) - czy różnica jest wyraźna?
fuel['Model'].value_counts()

F150 Pickup 2WD                 194
Truck 2WD                       187
F150 Pickup 4WD                 172
Ranger Pickup 2WD               169
Mustang                         156
Sierra 1500 4WD                 149
Sierra 1500 2WD                 149
Civic                           141
Jetta                           135
Eclipse                         133
Camaro                          129
S10 Pickup 2WD                  118
Accord                          117
Truck 4WD                       113
Ranger Pickup 4WD               113
D100/D150 Pickup 2WD            112
Camry                           111
Dakota Pickup 2WD               108
Colt                            107
F250 Pickup 2WD                 106
C1500 Pickup 2WD                106
E150 Econoline 2WD              105
Corolla                         104
Sentra                          102
K1500 Pickup 4WD                101
Cavalier                        101
Ram 1500 Pickup 2WD              98
G10/20 Van 2WD                   96
Celica                           91
Escort                           89
                               ...
Grand Prix Ste Turbo              1
GTA                               1
Savana 1500 2WD (cargo) FFV       1
Wetl 500 SL                       1
R320 Bluetec                      1
Range Rover Evoque                1
599 GTO                           1
XJ8l                              1
540i Touring                      1
Kenyon 5.0 Cabrio                 1
S331 Family                       1
Explorer USPS 2WD                 1
Montana SVX FWD                   1
740 GLE Wagon                     1
Wetl 300 GE                       1
Renaissance                       1
Murcielago Reventon Roadster      1
Caliber AWD                       1
420SE                             1
Loyale 4WD Turbo                  1
C320 FFV (Wagon)                  1
Vandura G15/25 2WD (cargo)        1
Tahoe 1500 XFE 2WD                1
325is                             1
Foose F150 Super Cab 2WD          1
Vandura 2500 2WD                  1
Gy/yugo GVX                       1
230E MERC BENZ                    1
GTA Convertible                   1
Touareg Hybrid                    1
Name: Model, Length: 2957, dtype: int64

In [315]:
fuel['Model'] = fuel['Model'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null object
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(2), float64(1), int64(1), object(2)
memory usage: 5.3 MB

In [316]:
fuel['Class'].value_counts()

Compact Cars                    4489
Subcompact Cars                 4299
Midsize Cars                    3393
Standard Pickup Trucks          2354
Sport Utility Vehicle - 4WD     2034
Sport Utility Vehicle - 2WD     1598
Special Purpose Vehicles        1455
Two Seaters                     1448
Large Cars                      1351
Small Station Wagons            1275
Vans                            1141
Standard Pickup Trucks 2WD      1043
Minicompact Cars                 941
Standard Pickup Trucks 4WD       846
Midsize-Large Station Wagons     656
Small Pickup Trucks              538
Special Purpose Vehicle 2WD      536
Midsize Station Wagons           492
Vans, Cargo Type                 397
Small Pickup Trucks 2WD          365
Special Purpose Vehicle 4WD      287
Minivan - 2WD                    278
Vans, Passenger Type             253
Small Pickup Trucks 4WD          162
Minivan - 4WD                     41
Standard Pickup Trucks/2wd         4
Special Purpose Vehicles/2wd       2
Special Purpose Vehicles/4wd       2
Vans Passenger                     2
Special Purpose Vehicle            1
Name: Class, dtype: int64

In [317]:
fuel['Class'] = fuel['Class'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null object
Combined MPG (FT1)    31683 non-null float64
dtypes: category(3), float64(1), int64(1), object(1)
memory usage: 3.1 MB

In [318]:
fuel['Fuel Type'].value_counts()

Regular                       22439
Premium                        7375
Diesel                          936
Gasoline or E85                 767
CNG                              55
Electricity                      33
Premium or E85                   33
Gasoline or natural gas          18
Midgrade                         16
Gasoline or propane               8
Premium Gas or Electricity        3
Name: Fuel Type, dtype: int64

In [319]:
fuel['Fuel Type'] = fuel['Fuel Type'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null float64
dtypes: category(4), float64(1), int64(1)
memory usage: 1.2 MB

In [320]:
fuel['Combined MPG (FT1)'].value_counts()

18.0     3345
19.0     3009
20.0     2839
21.0     2819
17.0     2251
16.0     2194
15.0     2120
22.0     1901
14.0     1823
23.0     1516
24.0     1310
13.0     1199
25.0     1050
26.0      756
12.0      726
27.0      497
11.0      459
28.0      413
29.0      282
30.0      224
10.0      133
31.0      113
34.0      106
32.0      102
33.0      100
9.0        51
36.0       46
40.0       42
35.0       37
8.0        35
41.0       34
38.0       31
37.0       18
39.0       17
47.0       16
42.0       10
46.0        8
43.0        7
7.0         5
48.0        4
53.0        4
62.0        3
58.0        3
44.0        3
52.0        3
87.0        2
85.0        2
78.0        2
72.0        2
75.0        1
102.0       1
99.0        1
105.0       1
112.0       1
56.0        1
50.0        1
98.0        1
65.0        1
73.0        1
55.0        1
Name: Combined MPG (FT1), dtype: int64

In [321]:
fuel['Combined MPG (FT1)'] = fuel['Combined MPG (FT1)'].astype('category')
fuel.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31684 entries, 26587 to 32106
Data columns (total 6 columns):
Year                  31684 non-null int64
Make                  31684 non-null category
Model                 31683 non-null category
Class                 31683 non-null category
Fuel Type             31683 non-null category
Combined MPG (FT1)    31683 non-null category
dtypes: category(5), int64(1)
memory usage: 1013.3 KB

## Ranking

In [2]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols = ['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [3]:
mc_frame['Calories'].rank().head()

0    115.0
1     82.5
2    146.0
3    178.5
4    156.0
Name: Calories, dtype: float64

In [4]:
# Jeśli chcemy dodać tę kolumnę do naszej tabeli frame:
mc_frame['CaloriesRank'] = mc_frame['Calories'].rank()

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,115.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,82.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,146.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,178.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,156.0

In [6]:
mc_frame.head(15)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0,115.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0,82.5
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0,146.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0,178.5
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0,156.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0,168.5
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0,184.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0,205.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0,159.5
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470,25.0,188.0
10,Breakfast,Sausage Biscuit (Regular Biscuit),4.1 oz (117 g),430,27.0,168.5
11,Breakfast,Sausage Biscuit (Large Biscuit),4.6 oz (131 g),480,31.0,192.0
12,Breakfast,Sausage Biscuit with Egg (Regular Biscuit),5.7 oz (163 g),510,33.0,200.0
13,Breakfast,Sausage Biscuit with Egg (Large Biscuit),6.2 oz (177 g),570,37.0,220.5
14,Breakfast,Sausage Biscuit with Egg Whites (Regular Biscuit),5.9 oz (167 g),460,27.0,184.0

In [7]:
mc_frame.sort_values(by=['Calories']).head(25)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
125,Beverages,Diet Dr Pepper (Child),12 fl oz cup,0,0.0,8.5
138,Coffee & Tea,Iced Tea (Medium),21 fl oz cup,0,0.0,8.5
137,Coffee & Tea,Iced Tea (Small),16 fl oz cup,0,0.0,8.5
136,Beverages,Dasani Water Bottle,16.9 fl oz,0,0.0,8.5
145,Coffee & Tea,Coffee (Small),12 fl oz cup,0,0.0,8.5
147,Coffee & Tea,Coffee (Large),16 fl oz cup,0,0.0,8.5
124,Beverages,Diet Dr Pepper (Large),30 fl oz cup,0,0.0,8.5
139,Coffee & Tea,Iced Tea (Large),30 fl oz cup,0,0.0,8.5
122,Beverages,Diet Dr Pepper (Small),16 fl oz cup,0,0.0,8.5
123,Beverages,Diet Dr Pepper (Medium),21 fl oz cup,0,0.0,8.5
117,Beverages,Diet Coke (Child),12 fl oz cup,0,0.0,8.5
116,Beverages,Diet Coke (Large),30 fl oz cup,0,0.0,8.5
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0,8.5
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0,8.5
146,Coffee & Tea,Coffee (Medium),16 fl oz cup,0,0.0,8.5
140,Coffee & Tea,Iced Tea (Child),12 fl oz cup,0,0.0,8.5
101,Snacks & Sides,Apple Slices,1.2 oz (34 g),15,0.0,17.0
100,Snacks & Sides,Side Salad,3.1 oz (87 g),20,0.0,18.0
106,Desserts,Kids Ice Cream Cone,1 oz (29 g),45,1.5,19.0
132,Beverages,Minute Maid 100% Apple Juice Box,6 fl oz (177 ml),80,0.0,20.5
208,Coffee & Tea,Iced Coffee with Sugar Free French Vanilla Syr...,16 fl oz cup,80,4.5,20.5
129,Beverages,Sprite (Child),12 fl oz cup,100,0.0,24.0
121,Beverages,Dr Pepper (Child),12 fl oz cup,100,0.0,24.0
130,Beverages,1% Low Fat Milk Jug,1 carton (236 ml),100,2.5,24.0
163,Coffee & Tea,Nonfat Latte (Small),12 fl oz cup,100,0.0,24.0

In [8]:
# odwrócenie kolejności rankingu, tj najbardziej kaloryczne potrawy najwyżej w rankingu
mc_frame['CaloriesRank'] = mc_frame['Calories'].rank(ascending=False)

In [12]:
 mc_frame.sort_values(by='Calories', ascending=False).head(15)

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0
34,Breakfast,Big Breakfast with Hotcakes and Egg Whites (La...,15.4 oz (437 g),1050,50.0,4.0
33,Breakfast,Big Breakfast with Hotcakes and Egg Whites (Re...,14.9 oz (423 g),990,46.0,5.0
81,Chicken & Fish,Chicken McNuggets (20 piece),11.4 oz (323 g),940,59.0,6.0
253,Smoothies & Shakes,McFlurry with M&M’s Candies (Medium),16.2 oz (460 g),930,33.0,7.0
249,Smoothies & Shakes,Chocolate Shake (Large),22 fl oz cup,850,23.0,8.5
246,Smoothies & Shakes,Strawberry Shake (Large),22 fl oz cup,850,24.0,8.5
251,Smoothies & Shakes,Shamrock Shake (Large),22 fl oz cup,820,23.0,10.5
243,Smoothies & Shakes,Vanilla Shake (Large),22 fl oz cup,820,23.0,10.5
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),14.2 oz (403 g),810,32.0,12.0
28,Breakfast,Big Breakfast (Large Biscuit),10 oz (283 g),800,52.0,13.0
231,Coffee & Tea,Frappé Chocolate Chip (Large),22 fl oz cup,760,31.0,14.0
47,Beef & Pork,Double Quarter Pounder with Cheese,10 oz (283 g),750,43.0,15.5

In [13]:
# gotowa metoda która wyciąga 3 największe rekordy (ranking 1,2,3)
mc_frame.nlargest(3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
82,Chicken & Fish,Chicken McNuggets (40 piece),22.8 oz (646 g),1880,118.0,1.0
32,Breakfast,Big Breakfast with Hotcakes (Large Biscuit),15.3 oz (434 g),1150,60.0,2.0
31,Breakfast,Big Breakfast with Hotcakes (Regular Biscuit),14.8 oz (420 g),1090,56.0,3.0

In [14]:
# 3 najmniejsze rekordy
mc_frame.nsmallest(3, columns='Calories')

,Category,Item,Serving Size,Calories,TotalFat,CaloriesRank
114,Beverages,Diet Coke (Small),16 fl oz cup,0,0.0,252.5
115,Beverages,Diet Coke (Medium),21 fl oz cup,0,0.0,252.5
116,Beverages,Diet Coke (Large),30 fl oz cup,0,0.0,252.5

# LAB - S03-L009-LAB Ranking

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fortune wczytaj zawartość
pliku Fortune_500_2017.csv. Pobierz tylko następujące kolumny:
'Rank','Title','Employees','Profits','Assets'. Jako indeksu użyj kolumny 'Rank'. Wyświetl nagłówek tak
utworzonego Data Frame
2. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największą ilośćią pracowników
(kolumna Employees). Wyświetl nagłówek wyznaczonej serii danych
3. Dodaj do zmiennej frame kolumnę 3. nazwaną 'RankByEmployee', zawierającą powyżej wyznaczony ranking
4. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największym zyskiem (kolumna
Profits). Wyświetl nagłówek wyznaczonej serii danych
5. Dodaj do zmiennej frame kolumnę nazwaną 'RankByProfits', zawierającą powyżej wyznaczony ranking
6. Wyświetl 3 firmy, które mają największy zasób środków trwałych (kolumna Asset)
7. Wyświetl 3 firmy, które mają najmniejszy zasób środków trwałych (kolumna Asset)

In [16]:
fortune = pd.read_csv('C:\PythonScripts\course-files\Fortune_500_2017.csv', 
                       usecols = ['Rank','Title','Employees','Profits','Assets'], index_col = 'Rank')
fortune.head()

                   Title  Employees  Profits  Assets
Rank
1                Walmart    2300000  13643.0  198825
2     Berkshire Hathaway     367700  24074.0  620854
3                  Apple     116000  45687.0  321686
4            Exxon Mobil      72700   7840.0  330314
5               McKesson      68000   2258.0   56563

In [17]:
# Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największą ilośćią pracowników (kolumna Employees). 
# Wyświetl nagłówek wyznaczonej serii danych
# Dodaj do zmiennej frame kolumnę nazwaną 'RankByEmployee', zawierającą powyżej wyznaczony ranking.
fortune['RankByEmployee'] = fortune['Employees'].rank(ascending=False)

In [20]:
fortune.sort_values(by='RankByEmployee').head(10)

                   Title  Employees  Profits  Assets  RankByEmployee
Rank
1                Walmart    2300000  13643.0  198825             1.0
18                Kroger     443000   1975.0   36505             2.0
399   Yum China Holdings     420000    502.0    3727             3.0
32                   IBM     414400  11872.0  117470             4.0
23            Home Depot     406000   7957.0   42966             5.0
112           McDonald’s     375000   4686.5   31024             6.0
2     Berkshire Hathaway     367700  24074.0  620854             7.0
12            Amazon.com     341400   2371.0   83402             8.0
58                 FedEx     335767   1820.0   46064             9.0
46                   UPS     335520   3431.0   40377            10.0

In [21]:
# Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największym zyskiem (kolumna
# Profits). Wyświetl nagłówek wyznaczonej serii danych
# Dodaj do zmiennej frame kolumnę nazwaną 'RankByProfits', zawierającą powyżej wyznaczony ranking
fortune['RankByProfits'] = fortune['Profits'].rank(ascending=False)

In [22]:
fortune.sort_values(by='RankByProfits').head(10)

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
3,Apple,116000,45687.0,321686,57.0,1.0
21,J.P. Morgan Chase,243355,24733.0,2490972,20.0,2.0
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0
25,Wells Fargo,269100,21938.0,1930115,15.0,4.0
27,Alphabet,72053,19478.0,167497,96.0,5.0
26,Bank of America Corp.,208024,17906.0,2187702,29.0,6.0
28,Microsoft,114000,16798.0,193694,58.5,7.0
35,Johnson & Johnson,126400,16540.0,141208,51.0,8.0
30,Citigroup,219000,14912.0,1792077,26.0,9.0
148,Altria Group,8300,14239.0,45932,424.0,10.0

In [24]:
# Wyświetl 3 firmy, które mają największy zasób środków trwałych (kolumna Asset)
# Wyświetl 3 firmy, które mają najmniejszy zasób środków trwałych (kolumna Asset)
fortune.nlargest(3, columns='Assets')

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
20,Fannie Mae,7000,12313.0,3287968,446.5,15.0
21,J.P. Morgan Chase,243355,24733.0,2490972,20.0,2.0
26,Bank of America Corp.,208024,17906.0,2187702,29.0,6.0

In [26]:
fortune.nsmallest(3, columns='Assets')

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
395,A-Mark Precious Metals,83,9.3,437,500.0,434.0
247,Core-Mark Holding,7688,54.2,1497,434.0,430.0
495,Big Lots,23150,152.8,1608,266.0,403.0

## Filtrowanie danych w Data Frame

In [28]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols = ['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [30]:
# Chcemy wyfiltrować tylko produkty które mają powyżej 400 kalorii
(mc_frame['Calories'] >= 400).head(10)

0    False
1    False
2    False
3     True
4     True
5     True
6     True
7     True
8     True
9     True
Name: Calories, dtype: bool

In [31]:
CaloriesGreaterEqual400 = mc_frame['Calories'] >= 400

In [32]:
(mc_frame['TotalFat'] <= 20).head(10)

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9    False
Name: TotalFat, dtype: bool

In [33]:
TotalFatLessEqual20 = mc_frame['TotalFat'] <= 20

In [36]:
# odfiltrowanie
mc_frame[CaloriesGreaterEqual400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [37]:
mc_frame[TotalFatLessEqual20].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0

In [39]:
# chcemy odfiltrować tylko kategorię = śniadanie
IsBreakfast = mc_frame['Category'] == 'Breakfast'

In [40]:
mc_frame[IsBreakfast].head(10)

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470,25.0

In [41]:
# Łączenie warunków filtrowania
mc_frame[IsBreakfast & CaloriesGreaterEqual400].head()

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520,30.0

In [42]:
mc_frame[IsBreakfast & CaloriesGreaterEqual400 & TotalFatLessEqual20].head()

,Category,Item,Serving Size,Calories,TotalFat
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410,20.0
16,Breakfast,Southern Style Chicken Biscuit (Regular Biscuit),5 oz (143 g),410,20.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
39,Breakfast,Cinnamon Melts,4 oz (114 g),460,19.0

In [43]:
# używanie operatora negacji (tylda)
mc_frame[~ IsBreakfast].head()

,Category,Item,Serving Size,Calories,TotalFat
42,Beef & Pork,Big Mac,7.4 oz (211 g),530,27.0
43,Beef & Pork,Quarter Pounder with Cheese,7.1 oz (202 g),520,26.0
44,Beef & Pork,Quarter Pounder with Bacon & Cheese,8 oz (227 g),600,29.0
45,Beef & Pork,Quarter Pounder with Bacon Habanero Ranch,8.3 oz (235 g),610,31.0
46,Beef & Pork,Quarter Pounder Deluxe,8.6 oz (244 g),540,27.0

# LAB - S03-L010-LAB Filtrowanie Data Frame

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fortune wczytaj zawartość
pliku Fortune_500_2017.csv. Pobierz tylko następujące kolumny:
'Rank','Title','Employees','Profits','Assets'. Jako indeksu użyj kolumny 'Rank'. Wyświetl nagłówek tak
utworzonego Data Frame. Punkty 2 - 5 wykonywałeś już w poprazednim laboratorium. Możesz śmiało
skorzystać z poprzednich rozwiązań, ale jak masz ochotę - możesz jeszcze raz przypomnieć sobie
zasady budowy rankingów :) Jeżeli korzystasz z gotowego rozwiązania przeskocz do punktu 6.
2. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największą ilośćią pracowników
(kolumna Employees). Wyświetl nagłówek wyznaczonej serii danych
3. Dodaj do zmiennej frame kolumnę 3. nazwaną 'RankByEmployee', zawierającą powyżej wyznaczony ranking
4. Wylicz ranking tak, aby najniższe wartości były przyznawane firmom z największym zyskiem (kolumna
Profits). Wyświetl nagłówek wyznaczonej serii danych
5. Dodaj do zmiennej frame kolumnę nazwaną 'RankByProfits', zawierającą powyżej wyznaczony ranking
6. Utwórz zmienną isEmployeesRankLess10, która ma przechowywać serię wartości True/False
odpowiadających na pytanie czy firma znajduje się w pierwszej dzisiątce w rankingu firm o największym
zatrudnieniu. (True - firma jest w pierwszej dziesiątce, False - jest na dalszej pozycji)
7. Utwórz zmienną isEmployeesRankFirst10, która ma przechowywać serię wartości True/False
odpowiadających na pytanie czy firma znajduje się w pierwszej dzisiątce w rankingu firm o największym
zatrudnieniu. (True - firma jest w pierwszej dziesiątce, False - jest na dalszej pozycji)
8. Utwórz zmienną isProfitRankFirst10**, która ma przechowywać serię wartości True/False odpowiadających
na pytanie czy firma znajduje się w pierwszej dzisiątce w rankingu firm o największym zysku. (True - firma jest
w pierwszej dziesiątce, False - jest na dalszej pozycji)
9. Korzystając ze zmiennych z poprzednch punktów, wyświetl firmy, które jednocześnie są w pierwszej dziesiatce
pod względem ilości pracowników i wielkości zysku. (tutaj możesz próbować odpowiedzieć na pytanie czy
zysk firmy jest powiązany z ilością pracowników)
10. Utwórz zmienną isEmployeesRankMore400, która ma przechowywać serię wartości True/False
odpowiadających na pytanie czy firma znajduje się w rankingu firm o największym zatrudnieniu na pozycji 400
lub dalej. (True - firma jest w ostatniej setce, False - jest na dalszej pozycji)
11. Korzystając ze zmiennych z poprzednch punktów, wyświetl firmy, które jednocześnie są w ostatniej setce firm
pod względem ilości pracowników i pierwszej dzisiątce wielkości zysku. (tutaj możesz próbować odpowiedzieć
na pytanie jakie firmy mają zysk wypracowany przez małą liczbę pracowników)

In [44]:
fortune.head()

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
1,Walmart,2300000,13643.0,198825,1.0,11.0
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0
3,Apple,116000,45687.0,321686,57.0,1.0
4,Exxon Mobil,72700,7840.0,330314,94.0,27.0
5,McKesson,68000,2258.0,56563,104.5,102.0

In [45]:
# Utwórz zmienną isEmployeesRankLess10, która ma przechowywać serię wartości True/False odpowiadających na pytanie 
# czy firma znajduje się w pierwszej dzisiątce w rankingu firm o największym zatrudnieniu. 
# True - firma jest w pierwszej dziesiątce, False - jest na dalszej pozycji)
isEmployeesRankLess10 = fortune['RankByEmployee'] <= 10

In [46]:
# Utwórz zmienną isProfitRankFirst10**, która ma przechowywać serię wartości True/False odpowiadających
# na pytanie czy firma znajduje się w pierwszej dzisiątce w rankingu firm o największym zysku. (True - firma jest
# w pierwszej dziesiątce, False - jest na dalszej pozycji)
isProfitRankFirst10 = fortune['RankByProfits'] <= 10

In [48]:
# Korzystając ze zmiennych z poprzednch punktów, wyświetl firmy, które jednocześnie są w pierwszej dziesiatce
# pod względem ilości pracowników i wielkości zysku. (tutaj możesz próbować odpowiedzieć na pytanie czy
# zysk firmy jest powiązany z ilością pracowników)
fortune[isEmployeesRankLess10 & isProfitRankFirst10]

,Title,Employees,Profits,Assets,RankByEmployee,RankByProfits
Rank,,,,,,
2,Berkshire Hathaway,367700,24074.0,620854,7.0,3.0

In [49]:
# Utwórz zmienną isEmployeesRankMore400, która ma przechowywać serię wartości True/False
# odpowiadających na pytanie czy firma znajduje się w rankingu firm o największym zatrudnieniu na pozycji 400
# lub dalej. (True - firma jest w ostatniej setce, False - jest na dalszej pozycji)
isEmployeesRankMore400 = fortune['RankByEmployee'] >= 400

In [50]:
# Korzystając ze zmiennych z poprzednch punktów, wyświetl firmy, które jednocześnie są w ostatniej setce firm
# pod względem ilości pracowników i pierwszej dzisiątce wielkości zysku. 
fortune[isEmployeesRankMore400 & isProfitRankFirst10]

             Title  Employees  Profits  Assets  RankByEmployee  RankByProfits
Rank
148   Altria Group       8300  14239.0   45932           424.0           10.0

## Metody where i query

In [52]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols = ['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [53]:
has400CalOrMore = mc_frame['Calories'] >= 400

In [55]:
mc_frame.where(has400CalOrMore).head(10)
# uwaga! tutaj wszystkie rekordy które nie spełniają warunku, to zostają zamienione na NaN

,Category,Item,Serving Size,Calories,TotalFat
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520.0,30.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410.0,20.0
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470.0,25.0

In [57]:
# można usunąć wiersze NaN
mc_frame.where(has400CalOrMore).dropna().head(10)

,Category,Item,Serving Size,Calories,TotalFat
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400.0,23.0
5,Breakfast,Steak & Egg McMuffin,6.5 oz (185 g),430.0,23.0
6,Breakfast,"Bacon, Egg & Cheese Biscuit (Regular Biscuit)",5.3 oz (150 g),460.0,26.0
7,Breakfast,"Bacon, Egg & Cheese Biscuit (Large Biscuit)",5.8 oz (164 g),520.0,30.0
8,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (R...",5.4 oz (153 g),410.0,20.0
9,Breakfast,"Bacon, Egg & Cheese Biscuit with Egg Whites (L...",5.9 oz (167 g),470.0,25.0
10,Breakfast,Sausage Biscuit (Regular Biscuit),4.1 oz (117 g),430.0,27.0
11,Breakfast,Sausage Biscuit (Large Biscuit),4.6 oz (131 g),480.0,31.0
12,Breakfast,Sausage Biscuit with Egg (Regular Biscuit),5.7 oz (163 g),510.0,33.0

In [59]:
mc_frame.query('Category == "Desserts"').head()

     Category                   Item     Serving Size  Calories  TotalFat
103  Desserts        Baked Apple Pie    2.7 oz (77 g)       250      13.0
104  Desserts  Chocolate Chip Cookie  1 cookie (33 g)       160       8.0
105  Desserts  Oatmeal Raisin Cookie  1 cookie (33 g)       150       6.0
106  Desserts    Kids Ice Cream Cone      1 oz (29 g)        45       1.5
107  Desserts       Hot Fudge Sundae   6.3 oz (179 g)       330       9.0

# LAB - S03-L011-LAB Metody where i query

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej animals wczytaj zawartość
pliku sleep_time.csv. Pobierz wszystkie kolumny, a kolumnę ID wybierz jako indeks. Podczas wczytywania
zamień wszystkie wartości NaN na 0. Wyświetl nagłówek zaimportowanego pliku.
2. W kolumnie vore znajduje się informacja o tym czy zwierzę jest roślinożerne (herbi), mięsożerne (carni) i
wszystkożerne (omni). Korztstając z metody where wybierz wiersze opisujące zwierzęta roślinożerne. Wynik
zapisz w zmiennej herbi
3. Ile wierszy jest w zmiennej herbi?
4. Ile wierszy jest w zmiennej herbi po usunięciu wartości NaN?
5. Utwórz zmienną carni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko wiersze
zwierząt mięsożernych. Wyświetl informację o ilości wierszy w zmiennej carni oraz o ilości wierszy po
usunięciu wartości NaN.
6. Utwórz zmienną omni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko wiersze
zwierząt wszystkożernych. Wyświetl informację o ilości wierszy w zmiennej omni oraz o ilości wierszy po
usunięciu wartości NaN.
7. Wyświetl średni czas snu (kolumna sleep_total) dla zwierząt roślino-, mieso- i wszystkożernych. Czy można
próbować postawić hipotezę, czy rodzaj pokarmu wpływa na czas snu?
8. Korzystając z polecenia query wybierz te wiersze, które opisuja zwierzęta śpiące więcej niż 14 godzin na dobę
(kolumna sleep_total)
9. Do warunku z poprzedniego zadania dodaj: rodzaj zwierzęcia (kolumna vore) ma być roślinożerny (wartość
herbi)
10. Do warunku z poprzedniego zadania dodaj: waga ciała (kolumna bodywt) ma być większa niż 1

In [87]:
# Do zmiennej animals wczytaj zawartość pliku sleep_time.csv. 
# Pobierz wszystkie kolumny, a kolumnę ID wybierz jako indeks. Podczas wczytywania
# zamień wszystkie wartości NaN na 0. Wyświetl nagłówek zaimportowanego pliku.
animals = pd.read_csv('C:\PythonScripts\course-files\sleep_time.csv', index_col='ID')
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [88]:
animals.fillna(value=0, inplace=True)

In [89]:
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [90]:
# W kolumnie vore znajduje się informacja o tym czy zwierzę jest roślinożerne (herbi), mięsożerne (carni) i
# wszystkożerne (omni). Korztstając z metody where wybierz wiersze opisujące zwierzęta roślinożerne. Wynik
# zapisz w zmiennej herbi

carniAnimal = animals['vore'] == 'carni'
omniAnimal = animals['vore'] == 'omni'
herbiAnimal = animals['vore'] == 'herbi'
herbi = animals.where(herbiAnimal)
herbi.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00

In [91]:
# Ile wierszy jest w zmiennej herbi?
len(herbi)

83

In [92]:
# 4. Ile wierszy jest w zmiennej herbi po usunięciu wartości NaN?
herbi.dropna(inplace=True)
herbi.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0000,1.35
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.4230,600.00
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0000,3.85
10,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,0.0,0.000000,21.0,0.0982,14.80
11,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,0.000000,18.7,0.1150,33.50

In [93]:
len(herbi)

32

In [83]:
# Utwórz zmienną carni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko wiersze
# zwierząt mięsożernych. Wyświetl informację o ilości wierszy w zmiennej carni oraz o ilości wierszy po
# usunięciu wartości NaN.
carni = animals.where(carniAnimal)
len(carni)

83

In [94]:
carni.dropna(inplace=True)
len(carni)

19

In [98]:
# Utwórz zmienną omni i zapisz w niej wynik filtrowania obiektu animals tak, że pobrane zotaną tylko wiersze
# zwierząt wszystkożernych. Wyświetl informację o ilości wierszy w zmiennej omni oraz o ilości wierszy po
# usunięciu wartości NaN.
omni = animals.where(omniAnimal)
len(omni)

83

In [99]:
omni.dropna(inplace=True)
len(omni)

20

In [102]:
# Wyświetl średni czas snu (kolumna sleep_total) dla zwierząt roślino-, mieso- i wszystkożernych. Czy można
# próbować postawić hipotezę, czy rodzaj pokarmu wpływa na czas snu?

animals[['vore','sleep_total']].head(15)

     vore  sleep_total
ID
1   carni         12.1
2    omni         17.0
3   herbi         14.4
4    omni         14.9
5   herbi          4.0
6   herbi         14.4
7   carni          8.7
8       0          7.0
9   carni         10.1
10  herbi          3.0
11  herbi          5.3
12  herbi          9.4
13   omni         10.0
14  herbi         12.5
15   omni         10.3

In [104]:
# Korzystając z polecenia query wybierz te wiersze, które opisuja zwierzęta śpiące więcej niż 14 godzin na dobę
# (kolumna sleep_total)
animals.query('sleep_total > 14').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500

In [105]:
# Do warunku z poprzedniego zadania dodaj: rodzaj zwierzęcia (kolumna vore) ma być roślinożerny (wartość herbi)
animals.query('sleep_total > 14 and vore == "herbi"').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.000,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.000,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.001,0.120

In [106]:
# Do warunku z poprzedniego zadania dodaj: waga ciała (kolumna bodywt) ma być większa niż 1
animals.query('sleep_total > 14 and vore == "herbi" and bodywt > 1').head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0,1.35
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0,3.85

## Funkcje isin, isnull, notnull, between - w LAB

In [2]:
mc_frame = pd.read_csv('C:\PythonScripts\course-files\Mcdonalds.csv', 
                       usecols = ['Item', 'Category', 'Serving Size', 'Calories', 'TotalFat'])
mc_frame.head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
1,Breakfast,Egg White Delight,4.8 oz (135 g),250,8.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
3,Breakfast,Sausage McMuffin with Egg,5.7 oz (161 g),450,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0

In [3]:
# Szukamy produktów dla których kalorie powyżej 300 i poniżej 400
hasMoreThan300Cal = mc_frame['Calories'] >= 300
hasLessThan400Cal = mc_frame['Calories'] <= 400
mc_frame[hasMoreThan300Cal & hasLessThan400Cal].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0

In [6]:
# drugi sposób z użyciem between
hasBetween300and400Cal = mc_frame['Calories'].between(300, 400, inclusive=True)
mc_frame[hasBetween300and400Cal].head()

,Category,Item,Serving Size,Calories,TotalFat
0,Breakfast,Egg McMuffin,4.8 oz (136 g),300,13.0
2,Breakfast,Sausage McMuffin,3.9 oz (111 g),370,23.0
4,Breakfast,Sausage McMuffin with Egg Whites,5.7 oz (161 g),400,23.0
20,Breakfast,"Bacon, Egg & Cheese McGriddles with Egg Whites",6.3 oz (178 g),400,15.0
35,Breakfast,Hotcakes,5.3 oz (151 g),350,9.0

# LAB - S03-L012-LAB-Metody isin, isnull, notnull, between

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej fuel wczytaj zawartość pliku
fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop
Technology'. Wyświetl nagłówek tak utworzonego Data Frame
2. Utwórz zmienną listOfCars typu lista i wpisz do niej napisy: 'Renault', 'Toyota','Ford'. Utwórz zmienną
isInList i korzystając z metody pokazanej na lekcji przypisz do niej serię z wartościami True/False - True,
jeżeli w kolumnie "Make" jest wartość z listy listOfCars, False - w przeciwnym razie. Wyświetl nagłówek tej
serii
3. Wyświetl z fuel, te samochody, które są na liście listOfCars. Wy 3. korzystaj w tym celu zmienną isInList
4. Utwórz zmienną isNoStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serię z
wartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest wartość NaN, False - w
przeciwnym razie. Wyświetl nagłówek tej serii
5. Wyświetl z fuel te samochody, o których nie wiadomo czy mają system Start/Stop. Wykorzystaj w tym celu
zmienną isNoStartStopDefined
6. Utwórz zmienną isStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serię z
wartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest zdefiniowna jakaś wartość,
False - w przeciwnym razie. Wyświetl nagłówek tej serii
7. Wyświetl z fuel te samochody, o których wiadomo czy mają system Start/Stop. Wykorzystaj w tym celu
zmienną isStartStopDefined
8. Utwórz zmienną mpg50_60 i korzystając z metody pokazanej na lekcji przypisz do niej serię z wartościami
True/False - True, jeżeli w kolumnie "Combined MPG (FT1)" jest wartość >=50 i <=60, False - w przeciwnym
razie. Wyświetl nagłówek tej serii
9. Wyświetl z fuel te samochody, które na jednym galonie paliwa przejadą od 50-60 mil. Wykorzystaj w tym celu
zmienną mpg50_60
10. Korzystając ze zdefiniowanych wcześniej zmiennych wyświetl komunikat podobny do poniższego
There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
There are 31374 cars where Start/Stop technology is not determined
There are 310 cars where Start/Stop technology is determined
There are 13 cares with MPG value between 50 and 60

In [7]:
# Do zmiennej fuel wczytaj zawartość pliku
# fuel.csv. Podczas wczytywania skorzystaj z dodatkowego argumentu low_memory=False, pobierz tylko
# następujące kolumny: 'Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)','Start Stop
# Technology'. Wyświetl nagłówek tak utworzonego Data Frame
fuel = pd.read_csv('C:\PythonScripts\course-files\paliwo.csv', 
                   usecols=['Vehicle ID','Year','Make','Model','Class','Fuel Type','Combined MPG (FT1)', 'Start Stop Technology'], 
                   index_col='Vehicle ID', low_memory=False)
fuel.head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [8]:
# Utwórz zmienną listOfCars typu lista i wpisz do niej napisy: 'Renault', 'Toyota','Ford'. Utwórz zmienną
# isInList i korzystając z metody pokazanej na lekcji przypisz do niej serię z wartościami True/False - True,
# jeżeli w kolumnie "Make" jest wartość z listy listOfCars, False - w przeciwnym razie. Wyświetl nagłówek tej
# serii
listOfCars = ['Renault', 'Toyota','Ford']
isInList = fuel['Make'].isin(listOfCars)
isInList.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Make, dtype: bool

In [9]:
# Wyświetl z fuel, te samochody, które są na liście listOfCars. Wykorzystaj w tym celu zmienną isInList
fuel[isInList].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
27613,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN
27616,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
27619,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,10.0,NaN
27622,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,11.0,NaN
28472,1984,Ford,Bronco 4WD,Special Purpose Vehicle 4WD,Regular,13.0,NaN

In [11]:
# Utwórz zmienną isNoStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serię z
# wartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest wartość NaN, False - w
# przeciwnym razie. Wyświetl nagłówek tej serii
isNoStartStopDefined = fuel['Start Stop Technology'].isnull()
isNoStartStopDefined.head()

Vehicle ID
26587    True
27705    True
26561    True
27681    True
27550    True
Name: Start Stop Technology, dtype: bool

In [12]:
# Wyświetl z fuel te samochody, o których nie wiadomo czy mają system Start/Stop. Wykorzystaj w tym celu
# zmienną isNoStartStopDefined
fuel[isNoStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
26587,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
27705,1984,Alfa Romeo,GT V6 2.5,Minicompact Cars,Regular,20.0,NaN
26561,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27681,1984,Alfa Romeo,Spider Veloce 2000,Two Seaters,Regular,21.0,NaN
27550,1984,AM General,DJ Po Vehicle 2WD,Special Purpose Vehicle 2WD,Regular,17.0,NaN

In [13]:
# Utwórz zmienną isStartStopDefined i korzystając z metody pokazanej na lekcji przypisz do niej serię z
# wartościami True/False - True, jeżeli w kolumnie "Start Stop Technology" jest zdefiniowna jakaś wartość,
# False - w przeciwnym razie. Wyświetl nagłówek tej serii
isStartStopDefined = fuel['Start Stop Technology'].notnull()
isStartStopDefined.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Start Stop Technology, dtype: bool

In [16]:
# Wyświetl z fuel te samochody, o których wiadomo czy mają system Start/Stop. Wykorzystaj w tym celu
# zmienną isStartStopDefined
fuel[isStartStopDefined].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30977,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,28.0,N
30975,1998,Honda,EV Plus,Compact Cars,Electricity,48.0,N
30973,1999,Dodge,Caravan/Grand Caravan 2WD,Minivan - 2WD,Electricity,35.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N

In [17]:
# Utwórz zmienną mpg50_60 i korzystając z metody pokazanej na lekcji przypisz do niej serię z wartościami
# True/False - True, jeżeli w kolumnie "Combined MPG (FT1)" jest wartość >=50 i <=60, False - w przeciwnym
# razie. Wyświetl nagłówek tej serii
mpg50_60 = fuel['Combined MPG (FT1)'].between(50,60)
mpg50_60.head()

Vehicle ID
26587    False
27705    False
26561    False
27681    False
27550    False
Name: Combined MPG (FT1), dtype: bool

In [18]:
# Wyświetl z fuel te samochody, które na jednym galonie paliwa przejadą od 50-60 mil. Wykorzystaj w tym celu
# zmienną mpg50_60
fuel[mpg50_60].head()

,Year,Make,Model,Class,Fuel Type,Combined MPG (FT1),Start Stop Technology
Vehicle ID,,,,,,,
30976,1998,Chevrolet,S10 Electric,Small Pickup Trucks 2WD,Electricity,55.0,N
30971,1999,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30966,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,58.0,N
30967,2000,Ford,Ranger Pickup 2WD,Standard Pickup Trucks 2WD,Electricity,56.0,N
15606,2000,Honda,Insight,Two Seaters,Regular,53.0,Y

In [24]:
# Korzystając ze zdefiniowanych wcześniej zmiennych wyświetl komunikat podobny do poniższego
# There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
# There are 31374 cars where Start/Stop technology is not determined
# There are 310 cars where Start/Stop technology is determined
# There are 13 cares with MPG value between 50 and 60
print(f'There are {len(fuel[isInList])} cars within the list {listOfCars}')
print(f'There are {len(fuel[isNoStartStopDefined])} cars where Start/Stop technology is not determined')
print(f'There are {len(fuel[isStartStopDefined])} cars where Start/Stop technology is determined')
print(f'There are {len(fuel[mpg50_60])} cares with MPG value between 50 and 60')

There are 4376 cars within the list ['Renault', 'Toyota', 'Ford']
There are 31374 cars where Start/Stop technology is not determined
There are 310 cars where Start/Stop technology is determined
There are 13 cares with MPG value between 50 and 60

## Duplikaty w Data Frame

# LAB - S03-L013-LAB Duplikaty w data frame

1. Zaimportuj moduł pandas oraz numpy i nadaj im standardowe aliasy. Do zmiennej surveys wczytaj zawartość
pliku StackOverflowDeveloperSurvey2018.csv. Pobierz tylko następujące kolumny:
'Country','Gender','OperatingSystem'. Skorzystaj z parametru low_memory_low=False. Wyświetl nagłówek
tak utworzonego Data Frame.
2. Sprawdź czy kolumna Country zawiera wartości unikalne
3. Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszych kilka)
4. Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)
5. Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju w
surveys jest pierwsze czy kolejne.
6. Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst)
7. Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj
przewidzieć tą wartość.
8. Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country', 'OperatingSystem'
9. Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju

In [26]:
surveys = pd.read_csv('C:\PythonScripts\course-files\StackOverflowDeveloperSurvey2018.csv', 
                      usecols=['Country','Gender','OperatingSystem'], low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [30]:
# Sprawdź czy kolumna Country zawiera wartości unikalne
surveys['Country'].is_unique

False

In [34]:
# Wyznacz wszystkie kraje, z jakich pochodzą uczestnicy ankiety. (Wystarczy jak wyświetlisz pierwszych kilka)
surveys_unique = surveys['Country'].unique()
surveys_unique[:10]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel'],
      dtype=object)

In [35]:
# Policz ile tych krajów jest (raz pomijając wartość NaN a raz uwzględniając ją)
surveys['Country'].nunique()

183

In [36]:
len(surveys['Country'].unique())

184

In [37]:
# Utwórz serię wartości True/False duplicatesKeepFirst zawierającą informacje o tym czy wystąpienie kraju w
# surveys jest pierwsze czy kolejne.
duplicatesKeepFirst = surveys['Country'].duplicated(keep='first')
duplicatesKeepFirst.head(10)

0    False
1    False
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9    False
Name: Country, dtype: bool

In [38]:
# Wyświetl pierwszych kilka ankiet, które pochodzą z różnych krajów (skorzystaj z duplicatedKeepFirst)
surveys[duplicatesKeepFirst].head(10)

           Country OperatingSystem  Gender
3    United States         Windows    Male
5   United Kingdom     Linux-based    Male
6    United States           MacOS    Male
8    United States           MacOS    Male
11           India             NaN     NaN
13           India     Linux-based     NaN
16   United States             NaN     NaN
18           India         Windows  Female
21   United States           MacOS    Male
22  United Kingdom         Windows    Male

In [39]:
# Ile krajów zostanie zwróconych w poprzednim punkcie? Nim uruchomisz odpowiednie polecenie, spróbuj
# przewidzieć tą wartość.
len(surveys[duplicatesKeepFirst])

98671

In [44]:
# Usuń powtarzające się wiersze ze względu na wartości w kolumnach 'Country', 'OperatingSystem'
surveys.drop_duplicates(['Country', 'OperatingSystem'], inplace=True)

In [46]:
# Wyświetl pozostałe w dataframe surveys wiersze dotyczące Twojego kraju
poland = surveys['Country'] == 'Poland'
surveys[poland]

      Country OperatingSystem Gender
30     Poland     Linux-based   Male
34     Poland         Windows   Male
232    Poland             NaN    NaN
854    Poland           MacOS   Male
72587  Poland        BSD/Unix    NaN

## Edycja kolumn i indeksu

In [2]:
mam_frame = pd.read_csv('C:\PythonScripts\course-files\mammals.csv')
mam_frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [5]:
# zmiana nagłówków -> zmiana listy nagłówków na nową listę
mam_frame.columns

Index(['name', 'body', 'brain'], dtype='object')

In [6]:
mam_frame.columns = ['name', 'bodyKg', 'brainKg']

In [7]:
mam_frame.head()

              name   bodyKg  brainKg
0       Arctic fox    3.385     44.5
1       Owl monkey    0.480     15.5
2  Mountain beaver    1.350      8.1
3              Cow  465.000    423.0
4        Grey wolf   36.330    119.5

In [10]:
# zamiana nazw tylko wybranych kolumn przy pomocy słownika
newColumnsName = {'bodyKg' : 'body_kg', 'brainKg': 'brain_kg'}

In [13]:
mam_frame.rename(columns=newColumnsName, inplace=True)
mam_frame.head()

              name  body_kg  brain_kg
0       Arctic fox    3.385      44.5
1       Owl monkey    0.480      15.5
2  Mountain beaver    1.350       8.1
3              Cow  465.000     423.0
4        Grey wolf   36.330     119.5

In [26]:
mam_frame = pd.read_csv('C:\PythonScripts\course-files\mammals.csv', index_col='name')
mam_frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [27]:
# zmieniam wartość konkretnego indexu na nowy
mam_frame.rename(index={'Cow' : 'Land cow'}, inplace=True)
mam_frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land cow         465.000  423.0
Grey wolf         36.330  119.5

In [28]:
mam_frame_copy = mam_frame
mam_frame_copy.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Land cow         465.000  423.0
Grey wolf         36.330  119.5

In [29]:
# w copy zmieniamy wage dla artic fox na 5
mam_frame_copy.loc['Arctic fox', 'body'] = 5
mam_frame_copy.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         36.33  119.5

In [30]:
# ale uwaga! zmienił się obiekt oryginalny bo oba wskazują to samo miejsce w pamięci!!!!
mam_frame.head()

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         36.33  119.5

In [31]:
# metoda copy pozwala na faktyczne skopiowanie obiektu i kolejne operacje tylko na kopii
mam_frame_copy2 = mam_frame.copy()

In [32]:
mam_frame_copy2.loc['Grey wolf', 'body'] = 40
mam_frame_copy2.head()
# w kopii wartość 40

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         40.00  119.5

In [33]:
mam_frame.head()
# w oryginale 36.33

                   body  brain
name
Arctic fox         5.00   44.5
Owl monkey         0.48   15.5
Mountain beaver    1.35    8.1
Land cow         465.00  423.0
Grey wolf         36.33  119.5

# LAB - S04-L001-Edycja kolumn i indeksu

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej professions wczytaj zawartość pliku
Prestige.csv. Podczas wczytywania zdefiniuj indeks oparty o kolumnę name. Wyświetl nagłówek obiektu data
frame.
2. Skopiuj obiekt professions do nowego obiektu professionsOriginal i wyświetl jego nagłówek
3. W obiekcie professions zmień nazwę kolumny income na incomeDollarsPerYear. Wyświetl nagłówek
4. Jednym poleceniem zmień nazwy dwóch kolumn: women na womenPercent i prestige na
prestigeIndicator, a potem wyświetl nagłówek
5. Jednym poleceniem zmień nazwy dwóch indeksów: accountants na bookkeepers i general.managers na
managers. Potem wyświetl nagłówek
6. Wyświetl nagłówek zmiennej professionsOriginal i upewnij się, że wszystkie zmiany zostały wykonane
wyłącznie na obiekcie professions a nie na professionsOriginal

In [46]:
professions = pd.read_csv('C:\PythonScripts\course-files\Prestige.csv', index_col='name')
professions.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [47]:
# Skopiuj obiekt professions do nowego obiektu professionsOriginal i wyświetl jego nagłówek
newProfessions = professions.copy()
newProfessions.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [48]:
# W obiekcie professions zmień nazwę kolumny income na incomeDollarsPerYear. Wyświetl nagłówek
newProfessions.rename(columns={'income' : 'incomeDollarsPerYear'}, inplace=True)
newProfessions.head()

,education,incomeDollarsPerYear,women,prestige,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [49]:
# Jednym poleceniem zmień nazwy dwóch kolumn: women na womenPercent i prestige na
# prestigeIndicator, a potem wyświetl nagłówek
newProfessions.rename(columns={'women' : 'womenPercent', 'prestige' : 'prestigeIndicator'}, inplace=True)
newProfessions.head()

,education,incomeDollarsPerYear,womenPercent,prestigeIndicator,census,type
name,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof
general.managers,12.26,25879,4.02,69.1,1130,prof
accountants,12.77,9271,15.70,63.4,1171,prof
purchasing.officers,11.42,8865,9.11,56.8,1175,prof
chemists,14.62,8403,11.68,73.5,2111,prof

In [53]:
# Jednym poleceniem zmień nazwy dwóch indeksów: accountants na bookkeepers i general.managers na
# managers. Potem wyświetl nagłówek
newProfessions.rename(index={'accountants' : 'bookkeepers', 'general.managers' : 'managers'}, inplace=True)
newProfessions.head()

,education,incomeDollarsPerYear,womenPercent,prestigeIndicator,census,type,name
name,,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof,NaN
managers,12.26,25879,4.02,69.1,1130,prof,managers
bookkeepers,12.77,9271,15.70,63.4,1171,prof,bookkeepers
purchasing.officers,11.42,8865,9.11,56.8,1175,prof,NaN
chemists,14.62,8403,11.68,73.5,2111,prof,NaN

In [54]:
# Wyświetl nagłówek zmiennej professionsOriginal i upewnij się, że wszystkie zmiany zostały wykonane
# wyłącznie na obiekcie professions a nie na professionsOriginal
professions.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [55]:
newProfessions.head()

,education,incomeDollarsPerYear,womenPercent,prestigeIndicator,census,type,name
name,,,,,,,
gov.administrators,13.11,12351,11.16,68.8,1113,prof,NaN
managers,12.26,25879,4.02,69.1,1130,prof,managers
bookkeepers,12.77,9271,15.70,63.4,1171,prof,bookkeepers
purchasing.officers,11.42,8865,9.11,56.8,1175,prof,NaN
chemists,14.62,8403,11.68,73.5,2111,prof,NaN

## Modyfikacja danych w data frame

In [8]:
ins_frame = pd.read_csv('C:\PythonScripts\course-files\Insurance.csv')
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [9]:
# modyfikacja pojedynczej wartości - 3 sposoby
ins_frame.loc[2, 'Claims'] = 19
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      19
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [10]:
ins_frame.loc[2, 'Claims'] = ins_frame.loc[2, 'Claims'] + 1
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      20
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [20]:
ins_frame.loc[2, 'Claims'] += 1
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      197      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      22
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      284      63

In [21]:
# zwraca serie true/false
isYounger25 = ins_frame['Age'] == '<25'
isYounger25.head()

0     True
1    False
2    False
3    False
4     True
Name: Age, dtype: bool

In [22]:
ins_frame[isYounger25].head()

    ID  District   Group  Age  Holders  Claims
0    1         1     <1l  <25      197      38
4    5         1  1-1.5l  <25      284      63
8    9         1  1.5-2l  <25      133      19
12  13         1     >2l  <25       24       4
16  17         2     <1l  <25       85      22

In [23]:
ins_frame.where(isYounger25).head()

    ID  District   Group  Age  Holders  Claims
0  1.0       1.0     <1l  <25    197.0    38.0
1  NaN       NaN     NaN  NaN      NaN     NaN
2  NaN       NaN     NaN  NaN      NaN     NaN
3  NaN       NaN     NaN  NaN      NaN     NaN
4  5.0       1.0  1-1.5l  <25    284.0    63.0

In [24]:
ins_frame.where(isYounger25).dropna().head()

      ID  District   Group  Age  Holders  Claims
0    1.0       1.0     <1l  <25    197.0    38.0
4    5.0       1.0  1-1.5l  <25    284.0    63.0
8    9.0       1.0  1.5-2l  <25    133.0    19.0
12  13.0       1.0     >2l  <25     24.0     4.0
16  17.0       2.0     <1l  <25     85.0    22.0

In [25]:
# wyświetlenie serii Holders tylko tych, dla których isYounger = True
ins_frame.loc[isYounger25, 'Holders'].head()

0     197
4     284
8     133
12     24
16     85
Name: Holders, dtype: int64

In [26]:
# tylko do tych rekordów chcemy dodać +100
ins_frame.loc[isYounger25, 'Holders'] + 100

0     297
4     384
8     233
12    124
16    185
20    249
24    166
28    109
32    135
36    153
40    124
44    107
48    120
52    131
56    118
60    103
Name: Holders, dtype: int64

In [27]:
# następnie chcemy w oryginalnym data frame zastąpić wartości tymi powyższymi zwiększonymi o 100
ins_frame.loc[isYounger25, 'Holders'] = ins_frame.loc[isYounger25, 'Holders'] + 100
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25      297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      22
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25      384      63

In [28]:
#  skrócenie zapisu
ins_frame.loc[isYounger25, 'Holders'] += 1000
ins_frame.head()

   ID  District   Group    Age  Holders  Claims
0   1         1     <1l    <25     1297      38
1   2         1     <1l  25-29      264      35
2   3         1     <1l  30-35      246      22
3   4         1     <1l    >35     1680     156
4   5         1  1-1.5l    <25     1384      63

# LAB - S04-L002-Modyfikacja danych

1. Zaimportuj moduł pandas i nadaj mu standardowy alias. Do zmiennej professions wczytaj zawartość pliku
Prestige.csv. Podczas wczytywania zdefiniuj indeks oparty o kolumnę name. Wyświetl nagłówek obiektu data
frame.
2. W wierszu identyfikowanym indeksem chemists zmień wpis w kolumnie type na scientist. Wyświetl
nagłówek.
3. Zbuduj serię o nazwie isScientist, zawierającą wartości True/False. True, jeśli odpowiadający wiersz w
professions ma w kolumnie type wartość scrintist, a False w przeciwnym wypadku. Wyświetl nagłówek
4. Nauka zyskuje na prestiżu! Zmień dla wszystkich zawodów posiadających w kolumnie type zapis scrintist
wartość 90 do kolumny prestige. Wyświetl nagłówek
5. Za prestiżem idą pieniądze. Zapisz dla wszystkich zawodów, które w kolumnie type maja wartość scientits do
kolumny icome wartość o 50% większą. Wyświetl nagłówek
6. Za prestiżem idzie wiecej pieniędzy. Wykonaj jeszcze raz czynność z poprzedniego punktu ale podczas
przypisywania wartości skorzystaj z notacji *=

In [29]:
professions = pd.read_csv('C:\PythonScripts\course-files\Prestige.csv', index_col='name')
professions.head()

                     education  income  women  prestige  census  type
name
gov.administrators       13.11   12351  11.16      68.8    1113  prof
general.managers         12.26   25879   4.02      69.1    1130  prof
accountants              12.77    9271  15.70      63.4    1171  prof
purchasing.officers      11.42    8865   9.11      56.8    1175  prof
chemists                 14.62    8403  11.68      73.5    2111  prof

In [30]:
# W wierszu identyfikowanym indeksem chemists zmień wpis w kolumnie type na scientist. Wyświetl nagłówek.
professions.loc['chemists', 'type'] = 'scientist'
professions.head()

                     education  income  women  prestige  census       type
name
gov.administrators       13.11   12351  11.16      68.8    1113       prof
general.managers         12.26   25879   4.02      69.1    1130       prof
accountants              12.77    9271  15.70      63.4    1171       prof
purchasing.officers      11.42    8865   9.11      56.8    1175       prof
chemists                 14.62    8403  11.68      73.5    2111  scientist

In [31]:
# Zbuduj serię o nazwie isScientist, zawierającą wartości True/False. True, jeśli odpowiadający wiersz w
# professions ma w kolumnie type wartość scrintist, a False w przeciwnym wypadku. Wyświetl nagłówek
isScientist = professions['type'] == 'scientist'
isScientist.head()

name
gov.administrators     False
general.managers       False
accountants            False
purchasing.officers    False
chemists                True
Name: type, dtype: bool

In [35]:
# Nauka zyskuje na prestiżu! Zmień dla wszystkich zawodów posiadających w kolumnie type zapis scrintist
# wartość 90 do kolumny prestige. Wyświetl nagłówek
professions.loc[isScientist, 'prestige'] = 90
professions.head()

                     education  income  women  prestige  census       type
name
gov.administrators       13.11   12351  11.16      68.8    1113       prof
general.managers         12.26   25879   4.02      69.1    1130       prof
accountants              12.77    9271  15.70      63.4    1171       prof
purchasing.officers      11.42    8865   9.11      56.8    1175       prof
chemists                 14.62    8403  11.68      90.0    2111  scientist

In [36]:
# Za prestiżem idą pieniądze. Zapisz dla wszystkich zawodów, które w kolumnie type maja wartość scientits do
# kolumny income wartość o 50% większą. Wyświetl nagłówek
professions.loc[isScientist, 'income'] = professions.loc[isScientist, 'income'] * 1.5
professions.head()

                     education   income  women  prestige  census       type
name
gov.administrators       13.11  12351.0  11.16      68.8    1113       prof
general.managers         12.26  25879.0   4.02      69.1    1130       prof
accountants              12.77   9271.0  15.70      63.4    1171       prof
purchasing.officers      11.42   8865.0   9.11      56.8    1175       prof
chemists                 14.62  12604.5  11.68      90.0    2111  scientist

In [37]:
# Za prestiżem idzie wiecej pieniędzy. Wykonaj jeszcze raz czynność z poprzedniego punktu ale podczas
# przypisywania wartości skorzystaj z notacji *=
professions.loc[isScientist, 'income'] *= 1.5
professions.head()

                     education    income  women  prestige  census       type
name
gov.administrators       13.11  12351.00  11.16      68.8    1113       prof
general.managers         12.26  25879.00   4.02      69.1    1130       prof
accountants              12.77   9271.00  15.70      63.4    1171       prof
purchasing.officers      11.42   8865.00   9.11      56.8    1175       prof
chemists                 14.62  18906.75  11.68      90.0    2111  scientist

## Dodawanie i usuwanie wierszy

In [68]:
sl_frame = pd.read_csv('C:\PythonScripts\course-files\sleep_time.csv', index_col='ID')
sl_frame.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN,50.000
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [69]:
# usuwanie kolumny w data frame
del sl_frame['bodywt']

In [70]:
sl_frame.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300

In [43]:
sl_frame.drop(axis=1, columns='order', inplace=True)

In [71]:
sl_frame.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300

In [45]:
# usuwanie wiersza w data frame - wg indexu (polecenie labels)
sl_frame.drop(axis=0, labels=[2,3], inplace=True)
sl_frame.head()

,name,genus,vore,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,
1,Cheetah,Acinonyx,carni,lc,12.1,NaN,NaN,11.9,NaN
4,Greater short-tailed shrew,Blarina,omni,lc,14.9,2.3,0.133333,9.1,0.00029
5,Cow,Bos,herbi,domesticated,4.0,0.7,0.666667,20.0,0.42300
6,Three-toed sloth,Bradypus,herbi,NaN,14.4,2.2,0.766667,9.6,NaN
7,Northern fur seal,Callorhinus,carni,vu,8.7,1.4,0.383333,15.3,NaN

In [72]:
# można krócej bez podawania labels
sl_frame.drop(5, inplace=True)
sl_frame.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029
6,Three-toed sloth,Bradypus,herbi,Pilosa,NaN,14.4,2.2,0.766667,9.6,NaN

In [123]:
# dodawanie nowego wiersza do data frame - uwaga! zwracany nowy obiekt, stary bez zmian!!!
sl2 = sl_frame.append({'name':'Kot', 'genus':'Domowy', 'vore':'herbi', 'order':np.NaN, 'conservation':np.NaN, 'sleep_total':20, 
                'sleep_rem':15, 'sleep_cycle':np.NaN, 'awake':1, 'brainwt':0.05}, ignore_index=True)

In [124]:
sl_frame.tail()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
83,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029

In [125]:
sl2.tail()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
82,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
83,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
84,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
85,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029
86,Kot,Domowy,herbi,NaN,NaN,20.0,15.0,NaN,1.0,0.05000

In [126]:
kot = sl2['name'] == 'Kot'
# sl_frame[kot]
kot
sl_frame.tail()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
83,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029

In [127]:
# wyświetlenie tylko rekordu kota
sl2[kot]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
86,Kot,Domowy,herbi,NaN,NaN,20.0,15.0,NaN,1.0,0.05

In [90]:
# można dodać grupę wierszy
subset = sl_frame.loc[0:5]
subset

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029

In [91]:
sl_frame = sl_frame.append(subset)

In [92]:
sl_frame.tail(10)

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt
ID,,,,,,,,,,
78,Tenrec,Tenrec,omni,Afrosoricida,NaN,15.6,2.3,NaN,8.4,0.00260
79,Tree shrew,Tupaia,omni,Scandentia,NaN,8.9,2.6,0.233333,15.1,0.00250
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,NaN,5.2,NaN,NaN,18.8,NaN
81,Genet,Genetta,carni,Carnivora,NaN,6.3,1.3,NaN,17.7,0.01750
82,Arctic fox,Vulpes,carni,Carnivora,NaN,12.5,NaN,NaN,11.5,0.04450
83,Red fox,Vulpes,carni,Carnivora,NaN,9.8,2.4,0.350000,14.2,0.05040
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,NaN,NaN,11.9,NaN
2,Owl monkey,Aotus,omni,Primates,NaN,17.0,1.8,NaN,7.0,0.01550
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,NaN,9.6,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029

# LAB - S04-L003-Dodawanie i usuwanie wierszy

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej professions wczytaj zawartość
pliku Prestige.csv. Wyświetl nagłówek obiektu data frame.
2. Zdefiniuj słownik w zmiennej dict, który ma klucze takie, jak nazwy kolumn w professions. Wpisz do wartości
dla klucza name - data scientist, pozostałe wartości zdefiniuj jako NaN. Wyświetl obiekt w celu werryfikacji.
3. Dodaj do profession nowy wiersz zdefiniowany przez słownik dict. W celu weryfikacji wyświetl 5 ostatnich
wartości z profession
4. Odszukaj w profession wiersza, w którym name 4. to taxi.driver. Zapisz go do zmiennej taxi i wyświetl.
5. Usuń z profession wiersz z indekstem 98 (to właśnie taxi.driver). Wyświetl 5 ostatnich wartości z profession
6. Dodaj wiersz znajdujący się w taxi do profession, w taki sposób, aby wiersz na stałe znajdował sie w
zmiennej profession. Wyświetl ostatnich 5 wierszy profession w celu weryfikacji
7. Usuń z profession kolumnę census
8. Usuń z profession kolumnę type. Wykorzystaj do tego inną metodę niż wykorzystana w poprzednim zadaniu

In [156]:
professions = pd.read_csv('C:\PythonScripts\course-files\Prestige.csv')
professions.head()

                  name  education  income  women  prestige  census  type
0   gov.administrators      13.11   12351  11.16      68.8    1113  prof
1     general.managers      12.26   25879   4.02      69.1    1130  prof
2          accountants      12.77    9271  15.70      63.4    1171  prof
3  purchasing.officers      11.42    8865   9.11      56.8    1175  prof
4             chemists      14.62    8403  11.68      73.5    2111  prof

In [157]:
# Zdefiniuj słownik w zmiennej dict, który ma klucze takie, jak nazwy kolumn w professions. Wpisz do wartości
# dla klucza name - data scientist, pozostałe wartości zdefiniuj jako NaN. Wyświetl obiekt w celu werryfikacji.
dict = {'name': 'data scientist', 'education': np.NaN, 'income':np.NaN, 'women':np.NaN, 'prestige': np.NaN, 'census':np.NaN, 'type':np.NaN}
dict

{'name': 'data scientist',
 'education': nan,
 'income': nan,
 'women': nan,
 'prestige': nan,
 'census': nan,
 'type': nan}

In [158]:
# Dodaj do profession nowy wiersz zdefiniowany przez słownik dict. W celu weryfikacji wyświetl 5 ostatnich
# wartości z profession
professions = professions.append(dict, ignore_index=True)
professions.tail()

               name  education  income  women  prestige  census type
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data scientist        NaN     NaN    NaN       NaN     NaN  NaN

In [159]:
# Odszukaj w profession wiersza, w którym name to taxi.drivers. Zapisz go do zmiennej taxi i wyświetl.
taxi_series = professions['name'] == 'taxi.drivers'
type(taxi_series)

pandas.core.series.Series

In [160]:
taxi_series

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
73     False
74     False
75     False
76     False
77     False
78     False
79     False
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89     False
90     False
91     False
92     False
93     False
94     False
95     False
96     False
97     False
98      True
99     False
100    False
101    False
102    False
Name: name, Length: 103, dtype: bool

In [163]:
# chcę wyświetlić data frame tylko z 1 wierszem
taxi_df = professions[taxi_series]
taxi_df

            name  education  income  women  prestige  census type
98  taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc

In [165]:
taxi_df.index

Int64Index([98], dtype='int64')

In [167]:
# Dodaj wiersz znajdujący się w taxi do profession, w taki sposób, aby wiersz na stałe znajdował sie w
# zmiennej profession. Wyświetl ostatnich 5 wierszy profession w celu weryfikacji
professions = professions.append(taxi_df)
professions.tail(7)

               name  education  income  women  prestige  census type
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc
99     longshoremen       8.37  4753.0   0.00      26.1  9313.0   bc
100     typesetters      10.00  6462.0  13.58      42.2  9511.0   bc
101     bookbinders       8.55  3617.0  70.87      35.2  9517.0   bc
102  data scientist        NaN     NaN    NaN       NaN     NaN  NaN
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc
98     taxi.drivers       7.93  4224.0   3.59      25.1  9173.0   bc

In [169]:
# Usuń z professions kolumnę census oraz type
professions.drop(columns=['census', 'type'], inplace=True)
professions.head()

                  name  education   income  women  prestige
0   gov.administrators      13.11  12351.0  11.16      68.8
1     general.managers      12.26  25879.0   4.02      69.1
2          accountants      12.77   9271.0  15.70      63.4
3  purchasing.officers      11.42   8865.0   9.11      56.8
4             chemists      14.62   8403.0  11.68      73.5

In [6]:
test = pd.read_csv('C:\PythonScripts\course-files\_testy_nulle.csv', sep='\t')
test

         kkf nazwa    data polisa
0  220000001    aa  2015.0    tak
1  220000002    bb  2015.0    nie
2  220000003    cc  2016.0    NaN
3  220000004    dd     NaN    nie
4  220000005   NaN  2018.0    tak
5  220000006    gg  2018.0    NaN
6  220000007    jj  2019.0    NaN
7  220000008   NaN  2020.0    NaN

In [8]:
bezNazwy = test['nazwa'].notnull()
bezDaty = test['data'].notnull()
bezPolisy = test['polisa'].notnull()
test[bezNazwy & bezDaty & bezPolisy]

         kkf nazwa    data polisa
0  220000001    aa  2015.0    tak
1  220000002    bb  2015.0    nie

In [24]:
f=open('C:\PythonScripts\course-files\_testy_nulle.csv', 'r')
line1=f.readline()
test2 = pd.read_csv('C:\PythonScripts\course-files\_testy_nulle.csv', sep='\t', engine='python')
test2

         kkf                       nazwa    data polisa
0  220000001                          aa  2015.0    tak
1  220000002                    bb "bbb"  2015.0    nie
2  220000003               cc cccccccccc  2016.0    NaN
3  220000004                          dd     NaN    nie
4  220000005                         NaN  2018.0    tak
5  220000006      gg 'gggggggggggg'  ggg  2018.0    NaN
6  220000007                          jj  2019.0    NaN
7  220000008                         NaN  2020.0    NaN

## Przebudowa indexu

In [7]:
mam_frame = pd.read_csv('C:\PythonScripts\course-files\mammals.csv')
mam_frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [8]:
# zamiana indexu z domyślnego na name
mam_frame.set_index('name', inplace=True)
mam_frame.head()

                    body  brain
name
Arctic fox         3.385   44.5
Owl monkey         0.480   15.5
Mountain beaver    1.350    8.1
Cow              465.000  423.0
Grey wolf         36.330  119.5

In [9]:
# powrót do indexu wygenerowanego automatycznie
mam_frame.reset_index(inplace=True)
mam_frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [10]:
# uwaga! kiedy zmieniamy index, to poprzedni jest usuwany!!! Można utracić dane
mam_frame.set_index('brain', inplace=True)
mam_frame.head()

                  name     body
brain
44.5        Arctic fox    3.385
15.5        Owl monkey    0.480
8.1    Mountain beaver    1.350
423.0              Cow  465.000
119.5        Grey wolf   36.330

In [11]:
# zmieniam zdanie, indexem ma byc name
mam_frame.set_index('name', inplace=True)
mam_frame.head()

                    body
name
Arctic fox         3.385
Owl monkey         0.480
Mountain beaver    1.350
Cow              465.000
Grey wolf         36.330

In [12]:
# zmiana indexu bez utraty danych!!
# 1. trzeba najpierw wrócic do indexu automatycznego
# 2. dopiero potem zmienic index na inny
mam_frame = pd.read_csv('C:\PythonScripts\course-files\mammals.csv')
mam_frame.head()

              name     body  brain
0       Arctic fox    3.385   44.5
1       Owl monkey    0.480   15.5
2  Mountain beaver    1.350    8.1
3              Cow  465.000  423.0
4        Grey wolf   36.330  119.5

In [13]:
mam_frame.set_index('brain', inplace=True)
mam_frame.reset_index(inplace=True)
mam_frame.set_index('name', inplace=True)
mam_frame.head()

                 brain     body
name
Arctic fox        44.5    3.385
Owl monkey        15.5    0.480
Mountain beaver    8.1    1.350
Cow              423.0  465.000
Grey wolf        119.5   36.330

In [16]:
mam_frame.loc['Cow']

brain    423.0
body     465.0
Name: Cow, dtype: float64

In [19]:
# sortowanie po indexie - oszczedzanie czasu wyszukiwania
mam_frame.sort_index(inplace=True)
mam_frame.head(20)

                            brain      body
name
African elephant           5712.0  6654.000
African giant pouched rat     6.6     1.000
Arctic fox                   44.5     3.385
Arctic ground squirrel        5.7     0.920
Asian elephant             4603.0  2547.000
Baboon                      179.5    10.550
Big brown bat                 0.3     0.023
Brazilian tapir             169.0   160.000
Cat                          25.6     3.300
Chimpanzee                  440.0    52.160
Chinchilla                    6.4     0.425
Cow                         423.0   465.000
Desert hedgehog               2.4     0.550
Donkey                      419.0   187.100
E. American mole              1.2     0.075
Echidna                      25.0     3.000
European hedgehog             3.5     0.785
Galago                        5.0     0.200
Genet                        17.5     1.410
Giant armadillo              81.0    60.000

In [20]:
mam_frame.loc['Cat' : 'Donkey']

                 brain     body
name
Cat               25.6    3.300
Chimpanzee       440.0   52.160
Chinchilla         6.4    0.425
Cow              423.0  465.000
Desert hedgehog    2.4    0.550
Donkey           419.0  187.100

In [21]:
mam_frame.loc[:'Cat']

                            brain      body
name
African elephant           5712.0  6654.000
African giant pouched rat     6.6     1.000
Arctic fox                   44.5     3.385
Arctic ground squirrel        5.7     0.920
Asian elephant             4603.0  2547.000
Baboon                      179.5    10.550
Big brown bat                 0.3     0.023
Brazilian tapir             169.0   160.000
Cat                          25.6     3.300

In [22]:
mam_frame.loc['A':'C']

                            brain      body
name
African elephant           5712.0  6654.000
African giant pouched rat     6.6     1.000
Arctic fox                   44.5     3.385
Arctic ground squirrel        5.7     0.920
Asian elephant             4603.0  2547.000
Baboon                      179.5    10.550
Big brown bat                 0.3     0.023
Brazilian tapir             169.0   160.000

# LAB - S04-L004-Przebudowa indeksu

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej fortune wczytaj zawartość pliku
Fortune_500_2017.csv. Wyświetl nagłówek obiektu data frame.
2. Zmień indeks na Rank. Wyświetl nagłówek
3. Wyświetl wiersze indeksowane między 100 a 105.
4. Wyświetl wiersze indeksowane między 100 a 105, ale tym razem pokaż tylko kolumny "Title","Employees"
5. Zmień indeks na Title w taki sposób aby nie utracić informacji z aktualnego indeksu (kolumna Rank). Wyświetl
nagłówek
6. Posortuj dane wg indeksu
7. Wyświetl firmy znajdujące się na indeksie między X a Y

In [26]:
fortune = pd.read_csv('C:\PythonScripts\course-files\Fortune_500_2017.csv')
fortune.head()

,Rank,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
0,1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
1,2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
2,3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
3,4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
4,5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [27]:
# Zmień indeks na Rank. Wyświetl nagłówek
# Wyświetl wiersze indeksowane między 100 a 105.
fortune.set_index('Rank', inplace=True)
fortune.head()

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
1,Walmart,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
2,Berkshire Hathaway,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
3,Apple,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
4,Exxon Mobil,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
5,McKesson,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [28]:
fortune.loc[100:105]

,Title,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Rank,,,,,,,,,,,,,,,,,,,,,
100,Capital One Financial,http://www.capitalone.com,47300,Financials,Commercial Banks,"McLean, VA",1680 Capital One Dr.,McLean,VA,22102,...,"Chairman, President & Chief Executive Officer","1680 Capital One Dr., McLean, VA 22102",COF,Capital One Financial Corporation,27519,9.6,3751.0,-7.4,357033,47514.0
101,Twenty-First Century Fox,http://www.21cf.com,21500,Media,Entertainment,"New York, NY",1211 Ave. of the Americas,New York,NY,10036,...,Chief Executive Officer & Director,"1211 Ave. of the Americas, New York, NY 10036",FOXA,"Twenty-First Century Fox, Inc.",27326,-5.7,2755.0,-66.8,48365,13661.0
102,USAA,http://www.usaa.com,29943,Financials,Insurance: Property and Casualty (Stock),"San Antonio, TX",9800 Fredericksburg Rd.,San Antonio,TX,78288,...,"President, Chief Executive Officer & Director","9800 Fredericksburg Rd., San Antonio, TX 78288",FOXA,United Services Automobile Association,27131,11.4,1779.1,-21.7,147290,28840.0
103,World Fuel Services,http://www.wfscorp.com,5000,Energy,Energy,"Miami, FL",9800 N.W. 41st St.,Miami,FL,33178,...,"Chairman, President & Chief Executive Officer","9800 N.W. 41st St., Miami, FL 33178",INT,World Fuel Services Corporation,27016,-11.1,126.5,-27.5,5413,1925.0
104,Philip Morris International,http://www.pmi.com,79500,"Food, Beverages & Tobacco",Tobacco,"New York, NY",120 Park Ave.,New York,NY,10017,...,Chief Executive Officer & Director,"120 Park Ave., New York, NY 10017",PM,Philip Morris International Inc.,26685,-0.4,6967.0,1.4,36851,-12688.0
105,Deere,http://www.johndeere.com,56767,Industrials,Construction and Farm Machinery,"Moline, IL",1 John Deere Place,Moline,IL,61265,...,Chairman & Chief Executive Officer,"1 John Deere Place, Moline, IL 61265",DE,Deere & Company,26644,-7.7,1523.9,-21.4,57981,6520.0

In [34]:
# Wyświetl wiersze indeksowane między 100 a 105, ale tym razem pokaż tylko kolumny "Title","Employees"
fortune.loc[100:105][['Title', 'Employees']]

                            Title  Employees
Rank
100         Capital One Financial      47300
101      Twenty-First Century Fox      21500
102                          USAA      29943
103           World Fuel Services       5000
104   Philip Morris International      79500
105                         Deere      56767

In [35]:
# Zmień indeks na Title w taki sposób aby nie utracić informacji z aktualnego indeksu (kolumna Rank). Wyświetl nagłówek
fortune.reset_index(inplace=True)
fortune.set_index('Title', inplace=True)
fortune.head()

,Rank,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
Walmart,1,http://www.walmart.com,2300000,Retailing,General Merchandisers,"Bentonville, AR",702 S.W. Eighth St.,Bentonville,AR,72716,...,"President, Chief Executive Officer & Director","702 S.W. Eighth St., Bentonville, AR 72716",WMT,"Wal-Mart Stores, Inc.",485873,0.8,13643.0,-7.2,198825,77798.0
Berkshire Hathaway,2,http://www.berkshirehathaway.com,367700,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",3555 Farnam St.,Omaha,NE,68131,...,Chairman & Chief Executive Officer,"3555 Farnam St., Omaha, NE 68131",BRKA,Berkshire Hathaway Inc.,223604,6.1,24074.0,0,620854,283001.0
Apple,3,http://www.apple.com,116000,Technology,"Computers, Office Equipment","Cupertino, CA",1 Infinite Loop,Cupertino,CA,95014,...,Chief Executive Officer & Director,"1 Infinite Loop, Cupertino, CA 95014",AAPL,"Apple, Inc.",215639,-7.7,45687.0,-14.4,321686,128249.0
Exxon Mobil,4,http://www.exxonmobil.com,72700,Energy,Petroleum Refining,"Irving, TX",5959 Las Colinas Blvd.,Irving,TX,75039,...,Chairman & Chief Executive Officer,"5959 Las Colinas Blvd., Irving, TX 75039",XOM,Exxon Mobil Corporation,205004,-16.7,7840.0,-51.5,330314,167325.0
McKesson,5,http://www.mckesson.com,68000,Wholesalers,Wholesalers: Health Care,"San Francisco, CA",1 Post St.,San Francisco,CA,94104,...,"Chairman, President & Chief Executive Officer","1 Post St., San Francisco, CA 94104",MCK,McKesson Corporation,192487,6.2,2258.0,53,56563,8924.0

In [36]:
# Posortuj dane wg indeksu
# Wyświetl firmy znajdujące się na indeksie między X a Y
fortune.sort_index(inplace=True)
fortune.loc['X':'Y']

,Rank,Website,Employees,Sector,Industry,Hqlocation,Hqaddr,Hqcity,Hqstate,Hqzip,...,Ceo-title,Address,Ticker,Fullname,Revenues,Revchange,Profits,Prftchange,Assets,Totshequity
Title,,,,,,,,,,,,,,,,,,,,,
XPO Logistics,191,http://www.xpo.com,87000,Transportation,Transportation and Logistics,"Greenwich, CT",5 American Lane,Greenwich,CT,6831,...,Chairman & Chief Executive Officer,"5 American Lane, Greenwich, CT 06831",XPO,"XPO Logistics, Inc.",14619,91.8,69.0,-178.2,11698,2700.0
Xcel Energy,256,http://www.xcelenergy.com,11476,Energy,Utilities: Gas and Electric,"Minneapolis, MN",414 Nicollet Mall,Minneapolis,MN,55401,...,"Chairman, President & Chief Executive Officer","414 Nicollet Mall, Minneapolis, MN 55401",XEL,Xcel Energy Inc.,11107,0.7,1123.4,14.1,41155,11021.0
Xerox,162,http://www.xerox.com,133600,Technology,Computer Peripherals,"Norwalk, CT",45 Glover Ave.,Norwalk,CT,6850,...,Chief Executive Officer & Director,"45 Glover Ave., Norwalk, CT 06850",XRX,Xerox Corporation,17126,-8.2,-477.0,-200.6,18145,4803.0

## Operacje na kolumnach tekstowych

In [37]:
pte_frame = pd.read_csv('C:\PythonScripts\course-files\PublicTransitExpenses.csv', usecols=['Agency', 'Reporter Type', 'Total Operating Expenses'])
pte_frame.head()

,Agency,Reporter Type,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,$122524.00
1,Washington County Commissioners,Reduced Reporter,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,$345789.00

In [43]:
pte_frame['Agency'].str.contains('washington').head()

0     True
1     True
2    False
3    False
4    False
Name: Agency, dtype: bool

In [39]:
pte_frame[pte_frame['Agency'].str.contains('Washington')]

,Agency,Reporter Type,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,$122524.00
1,Washington County Commissioners,Reduced Reporter,$272715.00
199,Washington State Ferries,Full Reporter,$16215777.00
213,Washington State Ferries,Full Reporter,$11132493.00
364,Washington State Ferries,Full Reporter,$11750411.00
397,Washington State Ferries,Full Reporter,$22400732.00
604,Washington State Ferries,Full Reporter,$17715787.00
634,Washington State Ferries,Full Reporter,$236320045.00
653,Washington State Ferries,Full Reporter,$184425025.00
684,Washington State Ferries,Full Reporter,$186344635.00
915,Washington State Ferries,Full Reporter,$236711555.00
1114,Washington State Ferries,Full Reporter,$23046740.00
1173,The Tulalip Tribes of Washington,Reduced Reporter,$201038.00
1255,The Tulalip Tribes of Washington,Reduced Reporter,$154442.00
1691,The Tulalip Tribes of Washington,Reduced Reporter,$201038.00
3178,Washington Metropolitan Area Transit Authority,Full Reporter,$129132191.00
3248,Washington Metropolitan Area Transit Authority,Full Reporter,$31303925.00
3263,Washington Metropolitan Area Transit Authority,Full Reporter,$6902587.00
3269,Washington Metropolitan Area Transit Authority,Full Reporter,$3506456.00
3288,Washington Metropolitan Area Transit Authority,Full Reporter,$983937590.00
3310,Washington Metropolitan Area Transit Authority,Full Reporter,$4367852.00
3335,Washington Metropolitan Area Transit Authority,Full Reporter,$318131885.00
3376,Washington Metropolitan Area Transit Authority,Full Reporter,$952625777.00
3379,Washington Metropolitan Area Transit Authority,Full Reporter,$12902509.00
3380,Washington Metropolitan Area Transit Authority,Full Reporter,$227601899.00
3386,Washington Metropolitan Area Transit Authority,Full Reporter,$96754252.00
3404,Washington Metropolitan Area Transit Authority,Full Reporter,$279296304.00
3419,Washington Metropolitan Area Transit Authority,Full Reporter,$76617261.00
3424,Washington Metropolitan Area Transit Authority,Full Reporter,$1003143.00
3437,Washington Metropolitan Area Transit Authority,Full Reporter,$101105552.00
...,...,...,...
5137,City of Washington,Full Reporter,$70118.00
5151,Washington Rides,Full Reporter,$308216.00
9190,Washington County Transit,Full Reporter,$259035.00
9258,Washington County Transit,Full Reporter,$616936.00
9288,Washington County Transit,Full Reporter,$1798886.00
9311,Washington County Transit,Full Reporter,$1712735.00
9535,Washington County Transit,Full Reporter,$189862.00
9543,Washington County Transit,Full Reporter,$190988.00
9559,Washington County Transit,Full Reporter,$1114547.00
9560,Washington County Transit,Full Reporter,$10639.00
9605,Washington County Transit,Full Reporter,$178551.00
9750,Washington County Transit,Full Reporter,$165489.00
9770,Washington County Transit,Full Reporter,$34787.00
9961,Washington County Transit,Full Reporter,$244744.00
9994,Washington County Transit,Full Reporter,$2197545.00
10045,Washington County Transit,Full Reporter,$308468.00
10052,Washington County Transit,Full Reporter,$1106249.00
10075,Washington County Transit,Full Reporter,$10592.00
10091,Washington County Transit,Full Reporter,$310040.00
10095,Washington County Transit,Full Reporter,$34302.00
10138,Washington County Transit,Full Reporter,$2267794.00
10151,Washington County Transit,Full Reporter,$620081.00
15533,Washington County,Rural Reporter,$245514.00
15584,Washington Hancock Community Agency,Rural Reporter,$1974848.00
15758,Washington County,Rural Reporter,$276555.00
15871,Washington Hancock Community Agency,Rural Reporter,$995395.00
16213,City of Washington,Rural Reporter,$105117.00
16313,City of Washington,Rural Reporter,$102799.00
16316,Washington Parish Council on Aging,Rural Reporter,$546300.00
16780,Washington Parish Council on Aging,Rural Reporter,$550224.00

In [40]:
pte_frame['Agency'] = pte_frame['Agency'].str.lower()
pte_frame.head()

,Agency,Reporter Type,Total Operating Expenses
0,washington county commissioners,Reduced Reporter,$122524.00
1,washington county commissioners,Reduced Reporter,$272715.00
2,"texoma area paratransit system, inc",Full Reporter,$7295.00
3,kalispel tribe of indians,Reduced Reporter,$37416.00
4,kalispel tribe of indians,Reduced Reporter,$345789.00

In [42]:
pte_frame[pte_frame['Agency'].str.contains('washington')]

,Agency,Reporter Type,Total Operating Expenses
0,washington county commissioners,Reduced Reporter,$122524.00
1,washington county commissioners,Reduced Reporter,$272715.00
199,washington state ferries,Full Reporter,$16215777.00
213,washington state ferries,Full Reporter,$11132493.00
364,washington state ferries,Full Reporter,$11750411.00
397,washington state ferries,Full Reporter,$22400732.00
604,washington state ferries,Full Reporter,$17715787.00
634,washington state ferries,Full Reporter,$236320045.00
653,washington state ferries,Full Reporter,$184425025.00
684,washington state ferries,Full Reporter,$186344635.00
915,washington state ferries,Full Reporter,$236711555.00
1114,washington state ferries,Full Reporter,$23046740.00
1173,the tulalip tribes of washington,Reduced Reporter,$201038.00
1255,the tulalip tribes of washington,Reduced Reporter,$154442.00
1691,the tulalip tribes of washington,Reduced Reporter,$201038.00
3178,washington metropolitan area transit authority,Full Reporter,$129132191.00
3248,washington metropolitan area transit authority,Full Reporter,$31303925.00
3263,washington metropolitan area transit authority,Full Reporter,$6902587.00
3269,washington metropolitan area transit authority,Full Reporter,$3506456.00
3288,washington metropolitan area transit authority,Full Reporter,$983937590.00
3310,washington metropolitan area transit authority,Full Reporter,$4367852.00
3335,washington metropolitan area transit authority,Full Reporter,$318131885.00
3376,washington metropolitan area transit authority,Full Reporter,$952625777.00
3379,washington metropolitan area transit authority,Full Reporter,$12902509.00
3380,washington metropolitan area transit authority,Full Reporter,$227601899.00
3386,washington metropolitan area transit authority,Full Reporter,$96754252.00
3404,washington metropolitan area transit authority,Full Reporter,$279296304.00
3419,washington metropolitan area transit authority,Full Reporter,$76617261.00
3424,washington metropolitan area transit authority,Full Reporter,$1003143.00
3437,washington metropolitan area transit authority,Full Reporter,$101105552.00
...,...,...,...
5137,city of washington,Full Reporter,$70118.00
5151,washington rides,Full Reporter,$308216.00
9190,washington county transit,Full Reporter,$259035.00
9258,washington county transit,Full Reporter,$616936.00
9288,washington county transit,Full Reporter,$1798886.00
9311,washington county transit,Full Reporter,$1712735.00
9535,washington county transit,Full Reporter,$189862.00
9543,washington county transit,Full Reporter,$190988.00
9559,washington county transit,Full Reporter,$1114547.00
9560,washington county transit,Full Reporter,$10639.00
9605,washington county transit,Full Reporter,$178551.00
9750,washington county transit,Full Reporter,$165489.00
9770,washington county transit,Full Reporter,$34787.00
9961,washington county transit,Full Reporter,$244744.00
9994,washington county transit,Full Reporter,$2197545.00
10045,washington county transit,Full Reporter,$308468.00
10052,washington county transit,Full Reporter,$1106249.00
10075,washington county transit,Full Reporter,$10592.00
10091,washington county transit,Full Reporter,$310040.00
10095,washington county transit,Full Reporter,$34302.00
10138,washington county transit,Full Reporter,$2267794.00
10151,washington county transit,Full Reporter,$620081.00
15533,washington county,Rural Reporter,$245514.00
15584,washington hancock community agency,Rural Reporter,$1974848.00
15758,washington county,Rural Reporter,$276555.00
15871,washington hancock community agency,Rural Reporter,$995395.00
16213,city of washington,Rural Reporter,$105117.00
16313,city of washington,Rural Reporter,$102799.00
16316,washington parish council on aging,Rural Reporter,$546300.00
16780,washington parish council on aging,Rural Reporter,$550224.00

In [44]:
pte_frame = pd.read_csv('C:\PythonScripts\course-files\PublicTransitExpenses.csv', usecols=['Agency', 'Reporter Type', 'Total Operating Expenses'])
pte_frame.head()

,Agency,Reporter Type,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,$122524.00
1,Washington County Commissioners,Reduced Reporter,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,$345789.00

In [46]:
pte_frame[pte_frame['Agency'].str.lower().str.endswith('ferries')]

                        Agency  Reporter Type Total Operating Expenses
199   Washington State Ferries  Full Reporter             $16215777.00
213   Washington State Ferries  Full Reporter             $11132493.00
364   Washington State Ferries  Full Reporter             $11750411.00
397   Washington State Ferries  Full Reporter             $22400732.00
604   Washington State Ferries  Full Reporter             $17715787.00
634   Washington State Ferries  Full Reporter            $236320045.00
653   Washington State Ferries  Full Reporter            $184425025.00
684   Washington State Ferries  Full Reporter            $186344635.00
915   Washington State Ferries  Full Reporter            $236711555.00
1114  Washington State Ferries  Full Reporter             $23046740.00

In [47]:
# powyższe polecenie działa, ale lepiej użyc zmiennych
endsWithFerries = pte_frame['Agency'].str.lower().str.strip().str.endswith('ferries')
pte_frame[endsWithFerries]

                        Agency  Reporter Type Total Operating Expenses
199   Washington State Ferries  Full Reporter             $16215777.00
213   Washington State Ferries  Full Reporter             $11132493.00
364   Washington State Ferries  Full Reporter             $11750411.00
397   Washington State Ferries  Full Reporter             $22400732.00
604   Washington State Ferries  Full Reporter             $17715787.00
634   Washington State Ferries  Full Reporter            $236320045.00
653   Washington State Ferries  Full Reporter            $184425025.00
684   Washington State Ferries  Full Reporter            $186344635.00
915   Washington State Ferries  Full Reporter            $236711555.00
1114  Washington State Ferries  Full Reporter             $23046740.00

In [48]:
# ustawianie indexu
pte_frame.set_index('Agency', inplace=True)
pte_frame.head()

                                        Reporter Type Total Operating Expenses
Agency
Washington County Commissioners      Reduced Reporter               $122524.00
Washington County Commissioners      Reduced Reporter               $272715.00
Texoma Area Paratransit System, Inc     Full Reporter                 $7295.00
Kalispel Tribe of Indians            Reduced Reporter                $37416.00
Kalispel Tribe of Indians            Reduced Reporter               $345789.00

In [50]:
# chcemy aby index był pisany dużymi literami
pte_frame.index = pte_frame.index.str.strip().str.upper()
pte_frame.head()

                                        Reporter Type Total Operating Expenses
Agency
WASHINGTON COUNTY COMMISSIONERS      Reduced Reporter               $122524.00
WASHINGTON COUNTY COMMISSIONERS      Reduced Reporter               $272715.00
TEXOMA AREA PARATRANSIT SYSTEM, INC     Full Reporter                 $7295.00
KALISPEL TRIBE OF INDIANS            Reduced Reporter                $37416.00
KALISPEL TRIBE OF INDIANS            Reduced Reporter               $345789.00

In [54]:
pte_frame['Reporter Type'].value_counts()

Full Reporter       13345
Rural Reporter       3116
Reduced Reporter     1313
Separate Service       70
Name: Reporter Type, dtype: int64

In [55]:
pte_frame['Reporter Type'].str.split(' ').head()

Agency
WASHINGTON COUNTY COMMISSIONERS        [Reduced, Reporter]
WASHINGTON COUNTY COMMISSIONERS        [Reduced, Reporter]
TEXOMA AREA PARATRANSIT SYSTEM, INC       [Full, Reporter]
KALISPEL TRIBE OF INDIANS              [Reduced, Reporter]
KALISPEL TRIBE OF INDIANS              [Reduced, Reporter]
Name: Reporter Type, dtype: object

In [57]:
pte_frame['Reporter Type'].str.split(' ').str[0].head()

Agency
WASHINGTON COUNTY COMMISSIONERS        Reduced
WASHINGTON COUNTY COMMISSIONERS        Reduced
TEXOMA AREA PARATRANSIT SYSTEM, INC       Full
KALISPEL TRIBE OF INDIANS              Reduced
KALISPEL TRIBE OF INDIANS              Reduced
Name: Reporter Type, dtype: object

In [58]:
# jeśli chcemy rozdzielić kolumnę na dwie osobne kolumny -> EXPAND
pte_frame['Reporter Type'].str.split(' ', expand=True).head()

                                           0         1
Agency
WASHINGTON COUNTY COMMISSIONERS      Reduced  Reporter
WASHINGTON COUNTY COMMISSIONERS      Reduced  Reporter
TEXOMA AREA PARATRANSIT SYSTEM, INC     Full  Reporter
KALISPEL TRIBE OF INDIANS            Reduced  Reporter
KALISPEL TRIBE OF INDIANS            Reduced  Reporter

In [59]:
# chcemy nowe kolumny dodać do oryginalnego obiektu
pte_frame[['ReporterType1', 'ReporterType2']] = pte_frame['Reporter Type'].str.split(' ', expand=True)
pte_frame.head()

,Reporter Type,Total Operating Expenses,ReporterType1,ReporterType2
Agency,,,,
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$122524.00,Reduced,Reporter
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$272715.00,Reduced,Reporter
"TEXOMA AREA PARATRANSIT SYSTEM, INC",Full Reporter,$7295.00,Full,Reporter
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$37416.00,Reduced,Reporter
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$345789.00,Reduced,Reporter

In [60]:
# dodajemy jeszcze raz kolumne agency
pte_frame['Agency2'] = pte_frame.index
pte_frame.head()

,Reporter Type,Total Operating Expenses,ReporterType1,ReporterType2,Agency2
Agency,,,,,
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$122524.00,Reduced,Reporter,WASHINGTON COUNTY COMMISSIONERS
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$272715.00,Reduced,Reporter,WASHINGTON COUNTY COMMISSIONERS
"TEXOMA AREA PARATRANSIT SYSTEM, INC",Full Reporter,$7295.00,Full,Reporter,"TEXOMA AREA PARATRANSIT SYSTEM, INC"
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$37416.00,Reduced,Reporter,KALISPEL TRIBE OF INDIANS
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$345789.00,Reduced,Reporter,KALISPEL TRIBE OF INDIANS

In [62]:
# chcemy utworzyc nowe kolumny tak aby kazde słowo z agency było w 1 kolumnie, n ozn. ilość spacji
pte_frame['Agency2'].str.split(' ', expand=True, n=10).head()

,0,1,2,3,4,5,6,7,8,9,10
Agency,,,,,,,,,,,
WASHINGTON COUNTY COMMISSIONERS,WASHINGTON,COUNTY,COMMISSIONERS,None,None,None,None,None,None,None,None
WASHINGTON COUNTY COMMISSIONERS,WASHINGTON,COUNTY,COMMISSIONERS,None,None,None,None,None,None,None,None
"TEXOMA AREA PARATRANSIT SYSTEM, INC",TEXOMA,AREA,PARATRANSIT,"SYSTEM,",INC,None,None,None,None,None,None
KALISPEL TRIBE OF INDIANS,KALISPEL,TRIBE,OF,INDIANS,None,None,None,None,None,None,None
KALISPEL TRIBE OF INDIANS,KALISPEL,TRIBE,OF,INDIANS,None,None,None,None,None,None,None

In [64]:
def getComment(row):
    reporterType = row['Reporter Type']
    cost = float(row['Total Operating Expenses'].replace('$', ''))
    
    if cost > 200000:
        comment = 'CLASS A'
    else:
        comment = 'CLASS B'
        
    return reporterType+'/'+comment

In [65]:
pte_frame.apply(getComment, axis=1).head()

Agency
WASHINGTON COUNTY COMMISSIONERS        Reduced Reporter/CLASS B
WASHINGTON COUNTY COMMISSIONERS        Reduced Reporter/CLASS A
TEXOMA AREA PARATRANSIT SYSTEM, INC       Full Reporter/CLASS B
KALISPEL TRIBE OF INDIANS              Reduced Reporter/CLASS B
KALISPEL TRIBE OF INDIANS              Reduced Reporter/CLASS A
dtype: object

In [66]:
pte_frame.head()

,Reporter Type,Total Operating Expenses,ReporterType1,ReporterType2,Agency2
Agency,,,,,
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$122524.00,Reduced,Reporter,WASHINGTON COUNTY COMMISSIONERS
WASHINGTON COUNTY COMMISSIONERS,Reduced Reporter,$272715.00,Reduced,Reporter,WASHINGTON COUNTY COMMISSIONERS
"TEXOMA AREA PARATRANSIT SYSTEM, INC",Full Reporter,$7295.00,Full,Reporter,"TEXOMA AREA PARATRANSIT SYSTEM, INC"
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$37416.00,Reduced,Reporter,KALISPEL TRIBE OF INDIANS
KALISPEL TRIBE OF INDIANS,Reduced Reporter,$345789.00,Reduced,Reporter,KALISPEL TRIBE OF INDIANS

# LAB - S04-L005-Operacje na kolumnach tekstowych

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej fortune wczytaj zawartość pliku
Fortune_500_2017.csv. Pobierz tylko następujące kolumny: 'Rank','Title','Industry','Hqlocation','Sector'
Wyświetl nagłówek obiektu data frame.
2. Zmień zawartość kolumny Sector tak, aby była zapisana wielkimi literami. Wyświetl nagłówek fortune
3. Wyszukaj te firmy, które w kolumnie Industry zawierały napis comp. Zadbaj o to aby odnalezione były dane
niezależnie od tego czy w kolumnie tekst jest napisany małymi czy wielkimi literami.
4. Dodaj do fortune dwie nowe kolumny 'City','State', które powstaną przez rozbicie kolumny Hqlocation ze
względu na przecinek. Wyświetl nagłówek fortune
5. Chcemy do obiektu frame dodać kolumnę IndustryShort, która powstanie wskutek połączenia pierwszych
liter wyrazów znajdujących się w kolumnie Industry (nie przejmuj się nawiasami, przecinkami itp. W tym celu:
                                                    
    - Stwórz funkcje BuildShortcut, która jako parametr przyjmie wiersz
    - Funkcja ma pobrać wartość z kolumny Industry i zapisać ją w zmiennej industry
    - Zadeklarować pusty napis result
    - Dla każdego napisu znajdującego się na liście powstałej w skutek rozbicia industry ze względu na spacje
    - Pobrać pierwszą literę słowa i dodać ją do napisu result
    - Zwrócić napis result

6. Sprawdź działanie funkcji dla słownika: {'Industry':'Factory Under Newspaper'}
7. Dodaj do fortune kolumnę IndustryShort, która zawierać będzie skrót wyznaczony przez funkcję
BuildShortcut dla każdego wiersza. Wyświetl nagłówek fortune.

In [97]:
fortune = pd.read_csv('C:\PythonScripts\course-files\Fortune_500_2017.csv', usecols=['Rank', 'Title', 'Industry', 'Hqlocation', 'Sector'])
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,Retailing,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX"
4,5,McKesson,Wholesalers,Wholesalers: Health Care,"San Francisco, CA"

In [69]:
# Zmień zawartość kolumny Sector tak, aby była zapisana wielkimi literami. Wyświetl nagłówek fortune

In [98]:
fortune['Sector'] = fortune['Sector'].str.upper()
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR"
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE"
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX"
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA"

In [75]:
# Wyszukaj te firmy, które w kolumnie Industry zawierały napis comp. 
# Zadbaj o to aby odnalezione były dane niezależnie od tego czy w kolumnie tekst jest napisany małymi czy wielkimi literami.
comp = fortune['Industry'].str.lower().str.contains('comp')
fortune[comp].head(5)

,Rank,Title,Sector,Industry,Hqlocation
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA"
27,28,Microsoft,TECHNOLOGY,Computer Software,"Redmond, WA"
40,41,Dell Technologies,TECHNOLOGY,"Computers, Office Equipment","Round Rock, TX"
46,47,Intel,TECHNOLOGY,Semiconductors and Other Electronic Components,"Santa Clara, CA"
60,61,HP,TECHNOLOGY,"Computers, Office Equipment","Palo Alto, CA"

In [99]:
# Dodaj do fortune dwie nowe kolumny 'City','State', które powstaną przez rozbicie 
# kolumny Hqlocation ze względu na przecinek. Wyświetl nagłówek fortune
fortune[['City', 'State']] = fortune['Hqlocation'].str.split(',', expand=True)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA

In [102]:
# Chcemy do obiektu frame dodać kolumnę IndustryShort, która powstanie wskutek połączenia pierwszych liter wyrazów 
# znajdujących się w kolumnie Industry (nie przejmuj się nawiasami, przecinkami itp. W tym celu:

#     Stwórz funkcje BuildShortcut, która jako parametr przyjmie wiersz
#     Funkcja ma pobrać wartość z kolumny Industry i zapisać ją w zmiennej industry
#     Zadeklarować pusty napis result
#     Dla każdego napisu znajdującego się na liście powstałej w skutek rozbicia industry ze względu na spacje
#     Pobrać pierwszą literę słowa i dodać ją do napisu result
#     Zwrócić napis result

def Buildshortcut(row):
    industry = row['Industry']
    result = ''
    industry = industry.split(' ')
    for word in industry:
        result += word[0]
    return result

In [103]:
# Sprawdź działanie funkcji dla słownika: {'Industry':'Factory Under Newspaper'}
Buildshortcut({'Industry':'Factory Under Newspaper'})

'FUN'

In [105]:
# Dodaj do fortune kolumnę IndustryShort, która zawierać będzie skrót wyznaczony
# przez funkcję BuildShortcut dla każdego wiersza. Wyświetl nagłówek fortune.
fortune['IndustryShort'] = fortune.apply(Buildshortcut, axis=1)
fortune.head()

,Rank,Title,Sector,Industry,Hqlocation,City,State,IndustryShort
0,1,Walmart,RETAILING,General Merchandisers,"Bentonville, AR",Bentonville,AR,GM
1,2,Berkshire Hathaway,FINANCIALS,Insurance: Property and Casualty (Stock),"Omaha, NE",Omaha,NE,IPaC(
2,3,Apple,TECHNOLOGY,"Computers, Office Equipment","Cupertino, CA",Cupertino,CA,COE
3,4,Exxon Mobil,ENERGY,Petroleum Refining,"Irving, TX",Irving,TX,PR
4,5,McKesson,WHOLESALERS,Wholesalers: Health Care,"San Francisco, CA",San Francisco,CA,WHC

## Przygotowanie danych po imporcie - CZYSZCZENIE DANYCH!!!

In [106]:
pte_frame = pd.read_csv('C:\PythonScripts\course-files\PublicTransitExpenses.csv', low_memory=False)
pte_frame.head()

,5 digit NTD ID,4 digit NTD ID,Agency,Reporter Type,Subrecipient Type,Organization Type,2015 Total Mode Vehicles (VOMS),Mode,Type of Service,Primary UZA Code,...,Casualty and Liability Costs,Taxes,PT Funds In Report,PT Funds Reported Separately,Miscellaneous Expenses,Reduced Reporter Total OE,Total Operating Expenses,Total Operating Expenses (No Funds Reported Separately),ADA Related Expenses,Location 1
0,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,DR,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$122524.00,$122524.00,$122524.00,$0.00,NaN
1,30098,3098,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,MB,PT,NaN,...,$0.00,$0.00,$0.00,$0.00,$0.00,$272715.00,$272715.00,$272715.00,$0.00,NaN
2,60107,6107,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,CB,PT,NaN,...,NaN,NaN,$3398.00,NaN,NaN,NaN,$7295.00,$7295.00,NaN,NaN
3,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,DR,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$37416.00,$37416.00,$37416.00,NaN,"Usk, WA\n"
4,9,0T09,Kalispel Tribe of Indians,Reduced Reporter,NaN,Tribe,4.0,MB,DO,0.0,...,NaN,NaN,NaN,NaN,NaN,$345789.00,$345789.00,$345789.00,NaN,"Usk, WA\n"

In [107]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 39 columns):
5 digit NTD ID                                             17844 non-null object
4 digit NTD ID                                             17719 non-null object
Agency                                                     17844 non-null object
Reporter Type                                              17844 non-null object
Subrecipient Type                                          3072 non-null object
Organization Type                                          17759 non-null object
2015 Total Mode Vehicles (VOMS)                            17522 non-null float64
Mode                                                       17844 non-null object
Type of Service                                            17840 non-null object
Primary UZA Code                                           17712 non-null float64
Primary UZA Name                                           17705 non-null object
Primary  UZA Area SQ Miles                                 14370 non-null float64
Primary  UZA Population                                    14370 non-null float64
Service Area SQ Miles                                      14414 non-null float64
Service Area Population                                    14418 non-null float64
Year                                                       17844 non-null int64
Vehicles Operated at Maximum Service (VOMS)                17836 non-null float64
Vehicles Available for Maximum Service (VAMS)              13887 non-null float64
Rail (Y/N)                                                 17318 non-null object
Fixed Route (Y/N)                                          17318 non-null object
Expense Function                                           17844 non-null object
Operators' Salaries and Wages                              4920 non-null object
Other Salaries and Wages                                   10348 non-null object
Fringe Benefits                                            10425 non-null object
Service Costs                                              10262 non-null object
Fuel and Lubricants                                        6515 non-null object
Tires and Tubes                                            5615 non-null object
Other Materials and Supplies                               10230 non-null object
Utilities                                                  5999 non-null object
Casualty and Liability Costs                               6953 non-null object
Taxes                                                      4680 non-null object
PT Funds In Report                                         7592 non-null object
PT Funds Reported Separately                               3555 non-null object
Miscellaneous Expenses                                     7837 non-null object
Reduced Reporter Total OE                                  7054 non-null object
Total Operating Expenses                                   17844 non-null object
Total Operating Expenses (No Funds Reported Separately)    17844 non-null object
ADA Related Expenses                                       3187 non-null object
Location 1                                                 17712 non-null object
dtypes: float64(8), int64(1), object(30)
memory usage: 30.7 MB

In [109]:
pte_frame = pd.read_csv('C:\PythonScripts\course-files\PublicTransitExpenses.csv', 
                        usecols=['Agency', 'Reporter Type', 'Organization Type', 'Rail (Y/N)', 'Fixed Route (Y/N)',
                                 'Service Costs', 'Tires and Tubes', 'Total Operating Expenses', 'Service Area Population'], 
                        low_memory=False)
pte_frame.head()

,Agency,Reporter Type,Organization Type,Service Area Population,Rail (Y/N),Fixed Route (Y/N),Service Costs,Tires and Tubes,Total Operating Expenses
0,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,N,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,Y,NaN,NaN,$345789.00

In [110]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency                      17844 non-null object
Reporter Type               17844 non-null object
Organization Type           17759 non-null object
Service Area Population     14418 non-null float64
Rail (Y/N)                  17318 non-null object
Fixed Route (Y/N)           17318 non-null object
Service Costs               10262 non-null object
Tires and Tubes             5615 non-null object
Total Operating Expenses    17844 non-null object
dtypes: float64(1), object(8)
memory usage: 9.6 MB

In [111]:
newColumnNames = {
'Agency' : 'Agency',
'Reporter Type' : 'ReporterType',
'Organization Type' : 'OrgType',
'Service Area Population' : 'Population',
'Rail (Y/N)' : 'IsRail',
'Fixed Route (Y/N)': 'IsFixedRoute',
'Service Costs': 'ServiceCosts',
'Tires and Tubes' : 'TiresTubesCost',
'Total Operating Expenses':'TotalExpanses'
}

In [112]:
pte_frame.rename(columns=newColumnNames, inplace=True)

In [113]:
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,NaN,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,NaN,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,N,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,NaN,N,Y,NaN,NaN,$345789.00

In [114]:
# sprawdzić czy opłaca się konwertować do typu category
pte_frame['ReporterType'].nunique()

4

In [118]:
pte_frame['ReporterType'].count()

17844

In [119]:
pte_frame['ReporterType'].value_counts()
# 4 rodzaje, powtarzają sie, zamieniamy wiec na category

Full Reporter       13345
Rural Reporter       3116
Reduced Reporter     1313
Separate Service       70
Name: ReporterType, dtype: int64

In [120]:
pte_frame['ReporterType'] = pte_frame['ReporterType'].astype('category')

In [121]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null object
ReporterType      17844 non-null category
OrgType           17759 non-null object
Population        14418 non-null float64
IsRail            17318 non-null object
IsFixedRoute      17318 non-null object
ServiceCosts      10262 non-null object
TiresTubesCost    5615 non-null object
TotalExpanses     17844 non-null object
dtypes: category(1), float64(1), object(7)
memory usage: 8.5 MB

In [122]:
pte_frame['Agency'] = pte_frame['Agency'].astype('category')
pte_frame['OrgType'] = pte_frame['OrgType'].astype('category')

In [123]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        14418 non-null float64
IsRail            17318 non-null object
IsFixedRoute      17318 non-null object
ServiceCosts      10262 non-null object
TiresTubesCost    5615 non-null object
TotalExpanses     17844 non-null object
dtypes: category(3), float64(1), object(5)
memory usage: 5.3 MB

In [124]:
# w kolumnie Population zamieniam wszystkie nulle na zera
pte_frame['Population'].fillna(0,inplace=True)

In [125]:
# teraz mogę zamienić na int
pte_frame['Population'] = pte_frame['Population'].astype('int')
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        17844 non-null int32
IsRail            17318 non-null object
IsFixedRoute      17318 non-null object
ServiceCosts      10262 non-null object
TiresTubesCost    5615 non-null object
TotalExpanses     17844 non-null object
dtypes: category(3), int32(1), object(5)
memory usage: 5.2 MB

In [126]:
pte_frame[pte_frame['Population']>0].head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
71,Reno-Sparks Indian Colony,Reduced Reporter,Tribe,1127,N,Y,NaN,NaN,$174810.00
92,City of Pocatello,Reduced Reporter,"City, County or Local Government Unit or Depar...",81730,N,Y,NaN,NaN,$1119899.00
93,Lee-Russell Council of Governments,Reduced Reporter,"MPO, COG or Other Planning Agency",193194,N,N,NaN,NaN,$1540633.00
94,"Aiken Area Council on Aging, Inc.",Reduced Reporter,Area Agency on Aging,160099,N,Y,NaN,NaN,$525325.00
101,City of Lawrence,Full Reporter,Consolidated Reporter,87643,N,Y,NaN,NaN,$937407.00

In [128]:
pte_frame['IsRail'].replace(('Y', 'N'),(True, False), inplace=True)
pte_frame['IsFixedRoute'].replace(('Y', 'N'),(True, False), inplace=True)
# po tej zamianie wartości True, False beda nadal napisami

In [129]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        17844 non-null int32
IsRail            17318 non-null object
IsFixedRoute      17318 non-null object
ServiceCosts      10262 non-null object
TiresTubesCost    5615 non-null object
TotalExpanses     17844 non-null object
dtypes: category(3), int32(1), object(5)
memory usage: 4.3 MB

In [130]:
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,Reduced Reporter,NaN,0,NaN,NaN,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,NaN,NaN,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,NaN,NaN,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,$345789.00

In [131]:
# chcemy zamienić NaN na False
pte_frame['IsRail'].fillna(False, inplace=True)
pte_frame['IsFixedRoute'].fillna(False, inplace=True)

In [133]:
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,$0.00,$0.00,$122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,$0.00,$0.00,$272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,$7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,$37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,$345789.00

In [135]:
# teraz można zmienić typ na bool
pte_frame['IsRail'] = pte_frame['IsRail'].astype('bool')
pte_frame['IsFixedRoute'] = pte_frame['IsFixedRoute'].astype('bool')

In [136]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        17844 non-null int32
IsRail            17844 non-null bool
IsFixedRoute      17844 non-null bool
ServiceCosts      10262 non-null object
TiresTubesCost    5615 non-null object
TotalExpanses     17844 non-null object
dtypes: bool(2), category(3), int32(1), object(3)
memory usage: 3.2 MB

In [138]:
pte_frame['ServiceCosts'] = pte_frame['ServiceCosts'].str.replace('$', '')
pte_frame['TiresTubesCost'] = pte_frame['TiresTubesCost'].str.replace('$', '')
pte_frame['TotalExpanses'] = pte_frame['TotalExpanses'].str.replace('$', '')
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.00,0.00,122524.00
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.00,0.00,272715.00
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,7295.00
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,37416.00
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,345789.00

In [139]:
pte_frame['ServiceCosts'] = pte_frame['ServiceCosts'].astype(float)
pte_frame['TiresTubesCost'] = pte_frame['TiresTubesCost'].astype(float)
pte_frame['TotalExpanses'] = pte_frame['TotalExpanses'].astype(float)
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,122524.0
1,Washington County Commissioners,Reduced Reporter,NaN,0,False,False,0.0,0.0,272715.0
2,"Texoma Area Paratransit System, Inc",Full Reporter,NaN,0,False,False,NaN,NaN,7295.0
3,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,False,NaN,NaN,37416.0
4,Kalispel Tribe of Indians,Reduced Reporter,Tribe,0,False,True,NaN,NaN,345789.0

In [140]:
pte_frame.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        17844 non-null int32
IsRail            17844 non-null bool
IsFixedRoute      17844 non-null bool
ServiceCosts      10262 non-null float64
TiresTubesCost    5615 non-null float64
TotalExpanses     17844 non-null float64
dtypes: bool(2), category(3), float64(3), int32(1)
memory usage: 861.9 KB

In [142]:
# ostatni krok jest opcjonalny - dla bezpieczenstwa ustawiamy  spojny format
pte_frame['Agency'] = pte_frame['Agency'].str.title().astype('category')
pte_frame['ReporterType'] = pte_frame['ReporterType'].str.upper().astype('category')
pte_frame['OrgType'] = pte_frame['OrgType'].str.upper().astype('category')

In [143]:
pte_frame.head()

,Agency,ReporterType,OrgType,Population,IsRail,IsFixedRoute,ServiceCosts,TiresTubesCost,TotalExpanses
0,Washington County Commissioners,REDUCED REPORTER,NaN,0,False,False,0.0,0.0,122524.0
1,Washington County Commissioners,REDUCED REPORTER,NaN,0,False,False,0.0,0.0,272715.0
2,"Texoma Area Paratransit System, Inc",FULL REPORTER,NaN,0,False,False,NaN,NaN,7295.0
3,Kalispel Tribe Of Indians,REDUCED REPORTER,TRIBE,0,False,False,NaN,NaN,37416.0
4,Kalispel Tribe Of Indians,REDUCED REPORTER,TRIBE,0,False,True,NaN,NaN,345789.0

In [144]:
pte_frame.info(memory_usage='deep')
# nastąpiłą zmiana typow dla wszystkich kolumn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17844 entries, 0 to 17843
Data columns (total 9 columns):
Agency            17844 non-null category
ReporterType      17844 non-null category
OrgType           17759 non-null category
Population        17844 non-null int32
IsRail            17844 non-null bool
IsFixedRoute      17844 non-null bool
ServiceCosts      10262 non-null float64
TiresTubesCost    5615 non-null float64
TotalExpanses     17844 non-null float64
dtypes: bool(2), category(3), float64(3), int32(1)
memory usage: 861.5 KB

# LAB - S04-L006-Przygotowanie danych - CZYSZCZENIE DANYCH

1. Zaimportuj moduł pandas i numpy, nadaj im standardowe aliasy. Do zmiennej fb wczytaj zawartość pliku
mrbean_facebook_statuses_with_nulls.csv. Pobierz wszystkie kolumny. Wyświetl nagłówek obiektu data
frame.
2. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
3. Ponownie wczytaj plik, ale teraz wybierz tylko kolumny: "status_message", "status_type", "link_name",
"num_reactions", "num_shares", "num_likes"
4. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
5. Próbujemy optymalizować napisy:
 - Sprawdź ile wierszy ma fb
 - Sprawdź ile unikalnych wartości występuje w kolumnie status_type
 - Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
 - Zmień typ na category
 - Sprawdź ile unikalnych wartości występuje w kolumnie link_name
 - Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
 - Zmień typ na category

6. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.
7. Próbujemy zoptymalizować liczby:
 - Zamień wartości NaN na 0 w kolumnach num_reactions i num_shares
 - Zmień typ w kolumnach num_reactions, num_shares i num_likes na int

8. Sprawdź jakie kolumny ma fb, jakiego typu te kolumny są i ile pamięci zajmuje obiekt.

In [145]:
fb = pd.read_csv('C:\PythonScripts\course-files\mrbean_facebook_statuses_join.csv', low_memory=False)
fb.head()

,status_id,status_message_mrbean,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,17774451468_10154154735571469,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,https://youtu.be/fgURU75gTMQ,2016-06-23 11:35:48,16570,223,338,16079,166,6,320,0,0
1,17774451468_10154146584106469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-21 10:00:01,119886,2171,1657,114008,946,104,4795,16,17
2,17774451468_10154135502911469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-19 10:00:01,235852,2395,10050,218579,2988,188,13992,52,53
3,17774451468_10154138120151469,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,https://www.youtube.com/watch?v=58Z8J0PbLS8,2016-06-18 11:00:02,20913,214,257,20338,211,20,336,0,8
4,17774451468_10154135502476469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-17 09:00:01,223602,880,2228,215591,2872,259,4814,27,39

In [146]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
status_id                56 non-null object
status_message_mrbean    40 non-null object
link_name                56 non-null object
status_type              56 non-null object
status_link              56 non-null object
status_published         56 non-null object
num_reactions            56 non-null int64
num_comments             56 non-null int64
num_shares               56 non-null int64
num_likes                56 non-null int64
num_loves                56 non-null int64
num_wows                 56 non-null int64
num_hahas                56 non-null int64
num_sads                 56 non-null int64
num_angrys               56 non-null int64
dtypes: int64(9), object(6)
memory usage: 34.3 KB

In [148]:
# Ponownie wczytaj plik, ale teraz wybierz tylko kolumny: "status_message", "status_type", "link_name",
# "num_reactions", "num_shares", "num_likes"
fb = pd.read_csv('C:\PythonScripts\course-files\mrbean_facebook_statuses_join.csv', usecols=['status_message_mrbean', 'status_type', 
                             'link_name', 'num_reactions', 'num_shares', 'num_likes'], low_memory=False)
fb.head()

,status_message_mrbean,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,16570,338,16079
1,NaN,Timeline Photos,photo,119886,1657,114008
2,NaN,Timeline Photos,photo,235852,10050,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,20913,257,20338
4,NaN,Timeline Photos,photo,223602,2228,215591

In [150]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
status_message_mrbean    40 non-null object
link_name                56 non-null object
status_type              56 non-null object
num_reactions            56 non-null int64
num_shares               56 non-null int64
num_likes                56 non-null int64
dtypes: int64(3), object(3)
memory usage: 16.0 KB

In [151]:
# Próbujemy optymalizować napisy:
#  - Sprawdź ile wierszy ma fb
#  - Sprawdź ile unikalnych wartości występuje w kolumnie status_type
#  - Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
#  - Zmień typ na category
#  - Sprawdź ile unikalnych wartości występuje w kolumnie link_name
#  - Wyświetl te unikalne wartości wraz z informacją o ilości powtórzeń
#  - Zmień typ na category
len(fb)

56

In [152]:
fb['status_type'].nunique()

3

In [155]:
fb['status_type'].value_counts()

video    32
photo    22
link      2
Name: status_type, dtype: int64

In [156]:
fb['status_type'] = fb['status_type'].astype('category')

In [157]:
fb['link_name'].nunique()

32

In [158]:
fb['link_name'].value_counts()

Timeline Photos                                                               22
www.youtube.com                                                                4
Mr Bean - Crazy Golf                                                           1
Mr Bean - Dinner for Two                                                       1
Mr Bean - Prison Break                                                         1
Mr. Bean - Making A Sandwich                                                   1
Mr. Bean - Alarm Clock                                                         1
Rowan Atkinson: I will never wave goodbye to Mr Bean                           1
Mr Bean - Chemistry experiment                                                 1
Mr. Bean - Mystery creature                                                    1
Mr. Bean - Fixing Your Own Teeth                                               1
Mr Bean - Sun Block                                                            1
Mr Bean - Ray Of Sunshine                                                      1
Mr. Bean - At the Disco                                                        1
Mr. Bean - Counting Sheep.                                                     1
Mr. Bean - Shopping for Towels                                                 1
Mr Bean - Broken Tooth                                                         1
Mr. Bean (NEW series) - Ice Cream                                              1
Mr. Bean's Happy Moments                                                       1
Even in LEGO, Mr. Bean travels in comfort | The Brothers Brick | LEGO Blog     1
Mr. Bean - How to stop a baby from crying                                      1
Mr. Bean - Elderly people on stairs                                            1
Mr. Bean - Saxophone Player                                                    1
Mr. Bean - High Dive                                                           1
Mr. Bean (NEW series) - The Lift                                               1
Mr. Bean (NEW Series) - Dancing Bean                                           1
Mr Bean - Preparing To Go Camping                                              1
Mr Bean - Country fete games -- Volksfest Spiele                               1
Mr. Bean - Sneezing and Snoozing In Church                                     1
Mr Bean (NEW series) - Litterbugs Clip                                         1
Mr Bean - Restaurant Etiquette                                                 1
Mr. Bean - Embarrassing Moments Compilation                                    1
Name: link_name, dtype: int64

In [159]:
fb['link_name'] = fb['link_name'].astype('category')

In [160]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
status_message_mrbean    40 non-null object
link_name                56 non-null category
status_type              56 non-null category
num_reactions            56 non-null int64
num_shares               56 non-null int64
num_likes                56 non-null int64
dtypes: category(2), int64(3), object(1)
memory usage: 12.5 KB

In [163]:
# Próbujemy zoptymalizować liczby:
#  - Zamień wartości NaN na 0 w kolumnach num_reactions i num_shares
#  - Zmień typ w kolumnach num_reactions, num_shares i num_likes na int
fb['num_reactions'].fillna(0, inplace=True)
fb['num_shares'].fillna(0, inplace=True)

In [164]:
fb['num_reactions'] = fb['num_reactions'].astype('int')
fb['num_shares'] = fb['num_shares'].astype('int')

In [165]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
status_message_mrbean    40 non-null object
link_name                56 non-null category
status_type              56 non-null category
num_reactions            56 non-null int32
num_shares               56 non-null int32
num_likes                56 non-null int64
dtypes: category(2), int32(2), int64(1), object(1)
memory usage: 12.1 KB